<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/adm_layout">

<th:block layout:fragment="content">

    <style>
        table {
            border: 1px solid #ddd;
        }

        th {
            border-right: 1px solid #ddd;
        }
    </style>

    <a-h1 en="" ko="친선경기"></a-h1>

    <div class="row">

        <div class="col-12 a__box nh">
            <form th:id="updateFrm" method="post" action="/adm/fmUpdate">
                <div class="h_box">
                    <a-h2 ko="친선경기 상세보기"></a-h2>
                </div>

                <table th:each="f, status : ${fm}" class="table" id="frm">
                    <tr>
                        <th class="bf-2"><span>글번호</span></th>
                        <td th:text="${f.fNo}"></td>

                        <th class="bf-2"><span>제목</span></th>
                        <td th:text="${f.title}"></td>

                        <th class="bf-2"><span>작성자</span></th>
                        <td th:text="${f.writer}"></td>

                        <th class="bf-2"><span>작성일자</span></th>
                        <td th:text="${f.wdate}"></td>

                        <th class="bf-2"><span>팀명</span></th>
                        <td th:text="${f.teamName}"></td>
                    </tr>
                    <tr>

                    </tr>
                    <tr>
                        <th class="bf-2"><span>내용</span></th>
                        <td colspan="5">
                        <textarea th:utext="${f.details}" id="details" name="details" class="f16 bf-2" rows="10"
                                  cols="80"
                                  required="required" style="min-height: 20rem;padding: 1.2rem;">
                        </textarea>
                        </td>
                    </tr>

                    <input type="hidden" id="fNo" name="fNo" th:value="${f.fNo}">
                    <input type="hidden" id="title" name="title" th:value="${f.title}">
                    <input type="hidden" id="wdate" name="wdate" th:value="${f.wdate}">
                    <input type="hidden" id="views" name="views" th:value="${f.views}">
                    <input type="hidden" id="fdetails" name="details" th:value="${f.details}">
                    <input type="hidden" id="writer" name="writer" th:value="${f.writer}">

                </table>
            </form>
        </div>
        <input th:type="hidden" th:id="fNo" th:name="fNo">
    </div>

    <div class="row justify-content-between">
        <div class="col-2">
            <button class="c-button" onclick="location.href = '/adm/fm'">뒤로가기</button>
        </div>
        <div class="col-4">
            <div class="button__box">
                <button class="c-button rr" th:onclick="|location.href = '@{/adm/fmDelete?fNo={no}(no=${fm.fNo})}'|"
                        >삭제
                </button>
                <button id="submitFrm" class="c-button bb">수정</button>
            </div>
        </div>
    </div>

    <form method="post" action="/adm/fmAnswerInsert">
        <div class="mb-3">
            <label for="cdetails">내용</label>
            <textarea class="form-control" rows="5" name="cdetails" id="cdetails"
                      placeholder="내용을 입력해 주세요"></textarea>
        </div>
        <div class="col-2">
            <input type="submit" class="c-button" id="btnSave" value="작성">
        </div>
        <input type="hidden" name="fNo" th:value="${fm.fNo}">
    </form>


    <div class="col-12 a__box nh">
        <form>
            <table th:each="re : ${reply}" id="table2" class="table">
                <tr>
                    <th class="bf-2"><span>작성자</span></th>
                    <td th:text="${re.cwriter}"></td>

                    <th class="bf-2"><span>작성일</span></th>
                    <td th:text="${re.cdate}"></td>
                </tr>

                    <tr>
                        <th class="bf-2"><span>내용</span></th>
                        <td th:utext="${re.cdetails}"></td>
                        <button type="button" class="c-button col-1" style="float: right"
                                th:onclick="|location.href = '@{/adm/fmAnswerDelete?cNo={no}(no=${re.cNo})}'|">삭제
                        </button>
                    </tr>

            </table>
            <input th:type="hidden" th:id="fNo" th:name="fNo">
        </form>
    </diV>


    <script>

        submitFrm.addEventListener('click', () => {
            updateFrm.submit()
        })

    </script>
</th:block>
</html>
