<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/cli_layout}">


<th:block layout:fragment="content">
    <t-h1 en="QNA" ko="문의 사항"></t-h1>

    <form>
        <div class="mt20">
            <input class="form-control" type="text" th:value="${cliQnaVO.title}"
                   onclick="this.select()"
                   name="title" placeholder="제목을 입력하세요"/>
            <div class="button__box">
                <button class="c-button" type="submit"><i class="fa-solid fa-magnifying-glass"></i> Search</button>

            </div>
        </div>
    </form>

    <form th:id="details" method="post">
        <table class="table f14">
            <thead>
            <tr>
                <th>no</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
<!--                <th>조회수</th>-->
            </tr>
            </thead>
            <tbody>
            <div id="qna">
                <tr th:attr="onclick=|callDetails('${qna.qNo}')|" th:each="qna : ${pageInfo.list}"
                    onmouseover='this.style.background="#fcecae";'
                    onmouseleave='this.style.background="#FFFFFF";'>
                    <td th:text="${qna.qNo}"></td>
                    <td th:if="${#strings.length(qna.title) > 12}" th:text="${#strings.substring(qna.title, 0, 12) + '...'}" class="title"></td>
                    <td th:if="${#strings.length(qna.title) <= 12}" th:text="${#strings.substring(qna.title, 0, #strings.length(qna.title))}" class="title"></td>
                    <td th:text="${qna.writer}"></td>
                    <td th:text="${#strings.substring(qna.wdate, 0, 10)}"></td>
<!--                    <td th:text="${qna.views}"></td>-->
                </tr>
            </div>
            </tbody>
        </table>
        <input th:type="hidden" th:id="qNo" th:name="qNo">
    </form>


    <!-- 페이징 -->
    <nav>
        <ul class="pagination">
            <!-- getPrePage : 이전 페이지 -->
            <li class="page-item" th:classappend="${pageInfo.getPrePage() == 0} ? 'disabled'">
                <a th:href="@{qna(pageNum=${pageInfo.getPrePage()})}"><i class="fa-solid fa-angle-left"></i></a>
            </li>
            <!-- getNavigateFirstPage() : 페이징의 처음 숫자 getNavigateLastPage : 페이징의 마지막 숫자를 이용해 페이징 숫자 출력 -->
            <li class="page-item" th:each="page: ${#numbers.sequence(pageInfo.getNavigateFirstPage(), pageInfo.getNavigateLastPage())}"
                th:classappend="${page == pageInfo.getPageNum()} ? 'active'">
                <a th:text="${page}" th:href="@{qna(pageNum=${page})}"></a>
            </li>
            <!-- getPrePage : 다음 페이지 -->
            <li class="page-item" th:classappend="${pageInfo.getNextPage() == 0} ? 'disabled'">
                <a th:href="@{qna(pageNum=${pageInfo.getNextPage()})}"><i class="fa-solid fa-angle-right"></i></a>
            </li>
        </ul>
    </nav>


    <div class="button__box">
        <button onclick="location.href = '/cli/qnaWrite'" class="c-button" th:if="${session.memberId ne null}">작성
        </button>
        <!--    <button onclick="location.href = '/'" style="float: right">홈</button>-->
    </div>

    <script>
        function callDetails(n) {
            details.qNo.value = n;
            details.action = "/cli/qnaDetail";
            details.submit();
        }
    </script>
</th:block>

</html>

