<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/adm_layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block layout:fragment="content">


    <t-h1 ko="오늘 할일" en="TODO-LIST"></t-h1>

    <div class="container-fluid">
        <div class="row" id="tg">
            <div class="col a__box">
                <t-h2 ko="등록된 할일 리스트"></t-h2>
                <div th:if="${session.positionCd == 1}">
                    <button class="c-button" id="selectAllBtn">전체선택</button>
                    <button class="c-button" id="completeAllBtn">해결</button>
                    <button class="c-button" id="deleteAllBtn">삭제</button>
                </div>
                <table class="table f16">
                    <colgroup>
                        <col width="15%">
                        <col width="15%">
                        <col width="15%">
                        <col width="*">
                        <col width="15%">
                        <col width="15%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>해결여부</th>
                        <th>체크박스</th>
                        <th>NO</th>
                        <th>CONTENT</th>
                        <th>해결여부</th>
                        <th>상세정보창</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <div id="toDoListCreate"></div>
            </div>
        </div>
    </div>

    <script>
        let chkCnt = 0;
        let chkChk = 0;
        let count = 0;

        // 1. 체크리스트에 체크가 안된 채 날짜가 지나면
        // messageTransYn 값이 1로 바뀜.
        function message(){
            var today = new Date();

            var year = today.getFullYear();
            var month = ('0' + (today.getMonth() + 1)).slice(-2);
            var day = ('0' + today.getDate()).slice(-2);
            var dateString = year + '-' + month  + '-' + day;

            $.ajax({
                url : "selectAllCheckList"
            }).done(function(response){
                console.log(response);
                let arr = []
                for(let i=0; i < response.length; i++){
                    if(dateString != response[i].chkMakeDate && response[i].messageTransYn == 0 && response[i].isChk == 0){
                        arr.push(response[i].chkNo);
                    }
                }

                $.ajax({
                    url : "dateChangeMessage",
                    data : {arr : arr}
                }).done(function(response){

                })
            })
        }


        //2. 삭제 버튼을 눌렀을 때 첫번째 td태그에 class가 적용되어있지 않으면 전부다 삭제됨.
        function deleteAllBtn(response) {
            $("body").on("click", "#deleteAllBtn", function () {
                for (let i = 0; i < response.length; i++) {
                    if ($(':checkbox').prop('checked') == true) {
                        if (!confirm("삭제하시겠습니까?")) {
                            // 취소(아니오)
                            return;
                        } else {
                            // 확인(예)
                            if ($(`#${response[i].chkNo}`).parents('tr').find("td:eq(0)").attr('class') == '') {
                                $.ajax({
                                    url: "deleteAll"
                                }).done(function (response) {

                                })
                                return;
                            } else {
                                alert('이미 해결된 일이 있어 삭제할 수 없습니다.')
                                return;
                            }

                        }
                    } else {
                        alert('체크해주세요.')
                        return;
                    }
                }
            })
        }


        // 3.해결 버튼을 눌렀을 때, 체크리스트에 전부 다 체크되어 있을때 class가 적용됨.
        function completeAllBtn(response) {
            $("body").on("click", "#completeAllBtn", function () {

                let arr = [];
                for(let i= 0; i<response.length; i++){
                    arr.push($(`#${response[i].chkNo}`).parents('tr').find("td:eq(0)").attr('class'));
                }

                if(arr.indexOf('') != '-1'){
                    $(this).parents('div').parents('div').find('tbody').find('tr').find("td:eq(0)").removeClass('processCompleteYn')
                }else{
                    $(this).parents('div').parents('div').find('tbody').find('tr').find("td:eq(0)").addClass('processCompleteYn')
                }

                    for (let i = 0; i < response.length; i++) {
                        if ($(`#${response[i].chkNo}`).parents('tr').find("td:eq(0)").attr('class') == '') {
                            if ($(':checkbox').prop('checked') == true) {

                                $(`#${response[i].chkNo}`).parents('tr').find("td:eq(0)").addClass('processCompleteYn')
                                $.ajax({
                                    url: "completeAllUpdate",
                                    data: {processComplete: 1}
                                }).done(function (response) {

                                })

                            } else {
                                alert('체크박스에 체크해주세요.')
                                return;
                            }
                        } else {
                            $(`#${response[i].chkNo}`).parents('tr').find("td:eq(0)").removeClass('processCompleteYn')

                            $.ajax({
                                url: "completeAllUpdate",
                                data: {processComplete: 0}
                            }).done(function (response) {

                            })

                        }
                    }
                }
            )
        }


        //4. 전체선택 버튼을 눌렀을때 전체 체크박스가 체크됨.
        function allSelect(response) {
            let jsonData = JSON.stringify(response);

            $("body").on("click", "#selectAllBtn", function () {
                // if ($(`#${response[0].chkNo}`).parents('tr').find("td:eq(0)").hasClass('processCompleteYn')) {
                if ($(this).parents('div').parents('div').find('tbody').find('tr').find("td:eq(0)").hasClass('processCompleteYn')) {
                    alert('해결버튼 해제해주세요.')
                    return;
                } else {
                    if ($(':checkbox').prop('checked') == true) {
                        $(":checkbox").prop("checked", false);

                        for (let i = 0; i < response.length; i++) {
                            if ($(`#${response[i].chkNo}`).parents('tr').find("td:eq(3)").attr('class') == 'null') {
                                $('.container').find("td:eq(3)").css('text-decoration', '')
                            }
                        }

                        $.ajax({
                            url: "checkBoxAllUpdate",
                            data: {
                                "jsonData": jsonData,
                                "isChk": 0
                            },
                            dataType: 'json',
                            method: 'POST'
                        }).done(function (data) {
                            console.log(jsonData);

                        })

                    } else {
                        $(":checkbox").prop("checked", true);

                        for (let i = 0; i < response.length; i++) {
                            if ($(`#${response[i].chkNo}`).parents('tr').find("td:eq(3)").attr('class') == 'null') {
                                $('.container').find("td:eq(3)").css('text-decoration', 'line-through')
                            }
                        }

                        $.ajax({
                            url: "checkBoxAllUpdate",
                            data: {
                                "jsonData": jsonData,
                                "isChk": 1
                            },
                            dataType: 'json',
                            method: 'POST'
                        }).done(function (data) {
                            console.log(jsonData);

                        })
                    }
                }
            })
        }

        //5. 체크리스트 번호 생성
        function makeCheckListNum() {
            count++
            return count;
        }


        //6. tr td태그를 생성하기 위한 function
        function makeTr(response) {
            let checked = '';
            let textDeco = '';
            if (response.isChk == 1) {
                checked = 'checked';
                textDeco = 'text-decoration:' + 'line-through';
            }
            let process = '';
            if (response.processComplete == 1) {
                process = 'processCompleteYn'
            }
            content = "<tr class='container'>";
            content += `<td width='30' class="${process}">` + "</td>"
            content += `<td><input type='checkbox' value="${response.isChk}" id="${response.chkNo}" ${checked} class="checkList">` + "</td>"
            content += "<td>" + makeCheckListNum() + "</td>"
            content += `<td style=${textDeco}; class="${response.chkPicFileName}">` + response.chkContents + "</td>"
            content += "<td><button type='submit' class='processComplete c-button'>해결</button></td>"
            content += `<td><button class="c-button" type='submit' onclick='openPannel()' chk-no='${response.chkNo}'>상세정보</button></td>`
            content += "</tr>"

            $('tbody').append(content)
        }


        //7.
        function ajaxProcessCompleteUpdate(chkNo, processCompleteYn) {
            let processCompleteYnNum = '';
            if (processCompleteYn == true) {
                processCompleteYnNum = 1;
            } else {
                processCompleteYnNum = 0;
            }

            $.ajax({
                url: "ajaxProcessCompleteUpdate",
                data: {
                    chkNo: chkNo,
                    processComplete: processCompleteYnNum
                }
            }).done(function (response) {
                console.log(response);
                console.log($(`#${response.chkNo}`).attr('id'));
            })
        }

        //8. 해결 버튼을 눌렀을때 예외사항을 처리했을 경우에 class가 추가됨.(admin 계정으로만 가능)
        function processComplete() {
            $('tbody').on('click', '.processComplete', function () {
                let chkNo = $(this).parents('td').parents('tr').find("input").attr('id');
                let fileCheck = $(this).parents('td').parents('tr').find("td:eq(3)").attr('class');
                let classAttribute = $(this).parents('td').parents('tr').find("td:eq(0)");

                if('[[${session.positionCd}]]' == 1){
                    if ($(this).parents('td').parents('tr').find("input").is(":checked") == true) {
                        if (fileCheck == 'null') {
                            if (classAttribute.hasClass('processCompleteYn') == true) {
                                if (!confirm("해결 해제하시겠습니까?")) {
                                    // 취소(아니오)
                                } else {
                                    // 확인(예)
                                    classAttribute.removeClass('processCompleteYn');
                                    processCompleteCheck($(this), chkNo);
                                }
                            } else if (!confirm("사진이 없습니다. 해결하시겠습니까?")) {
                                // 취소(아니오)
                            } else {
                                // 확인(예)
                                classAttribute.addClass('processCompleteYn');
                                processCompleteCheck($(this), chkNo);
                            }
                        } else {
                            if (classAttribute.hasClass('processCompleteYn') == true) {
                                if (!confirm("해결 해제하시겠습니까?")) {
                                    // 취소(아니오)
                                } else {
                                    // 확인(예)
                                    classAttribute.removeClass('processCompleteYn');
                                    processCompleteCheck($(this), chkNo);
                                }
                            } else if (!confirm("해결하시겠습니까?")) {
                                // 취소(아니오)
                            } else {
                                // 확인(예)
                                classAttribute.addClass('processCompleteYn');
                                processCompleteCheck($(this), chkNo);
                            }
                        }
                    } else {
                        alert('해당 체크리스트에 체크해주세요.')
                    }
                }else{
                    alert('권한이 없습니다.')
                }
            })
        }

        //9. 해결 버튼을 눌렀을때 해당 Class를 가지고 있는지 true, false로 판단 후 ajax function으로 전달
        function processCompleteCheck(yn, chkNo) {
            let processYn = yn.parents('td').parents('tr').find("td:eq(0)").hasClass('processCompleteYn');
            console.log(processYn);

            ajaxProcessCompleteUpdate(chkNo, processYn);
        }

        function makeContent() {
            $.ajax({
                url: "bringTodayList"
            }).done(function (response) {
                console.log(response);
                var content = "";
                for (let i = 0; i < response.length; i++) {
                    makeTr(response[i])
                }
                allSelect(response)
                completeAllBtn(response)
                deleteAllBtn(response)
                message()
            })
            let todoMake = "";
            todoMake = `
                <div class="row justify-content-between">
                  <input id='toDoInput' class="col-6 form-control"  type='text' placeholder="할 일을 입력해주세요!">
                  <button class='c-button col-4' onclick='createToDo()'>TODO 추가</button>
                </div>
            `;


            $('#toDoListCreate').prepend(todoMake);
        }


        //10. todolist를 만드는 function
        function createToDo() {
            console.log($('#toDoInput').val());

            if('[[${session.positionCd}]]' == 1){
                if ($('#toDoInput').val() == '') {
                    alert('글을 입력해주세요.')
                } else {
                    $.ajax({
                        url: "createTodo",
                        data: {chkContents: $('#toDoInput').val()}
                    }).done(function (response) {
                        console.log(response);
                        makeTr(response[response.length - 1])
                    })
                }
            }else{
                alert('권한이 없습니다.')
            }



        }

        function openPannel() {
            chkCnt = event.target.getAttribute('chk-no');
            console.log(chkCnt)

            // col-6 한번 생성된 후 && 같지않은 번호를 선택 -> pannel 이 해당 패널로 변경되어야함
            if (tg.children.length >= 2 && chkCnt != chkChk) {
                tg.children[1].remove()

                makePannel(chkCnt);
                chkChk = chkCnt;
            } else if (tg.children.length >= 2 && chkChk == chkCnt) { // col-6 한번 생성된 후 && 같은 번호를 선택 -> pannel이 닫혀야함
                console.log('같은번호 선택 -> 변화없음')
                tg.children[1].remove()
                chkChk = 0;
            } else { // col-6 한번도 생성되지 않음
                chkChk = chkCnt;

                makePannel(chkCnt);
            }
        }

        function makePannel(chkCnt) {
            let pannel = document.createElement('div')
            pannel.setAttribute('class', 'col-6 a__box')

            $.ajax({
                url: "selectCheckListInfo",
                data: {
                    chkNo: chkCnt
                }
            }).done(function (response) {
                console.log(response);
                let fileName = response.chkPicFileName;

                pannel.innerHTML = `
                    <form method="post" action="/adm/todoFileUpload" enctype="multipart/form-data">
                        <div class="bf-4">${response.chkContents}</div>
                        <input type="hidden" value="${response.chkNo}" name="chkNo">
                        <input class="btn btn-primary" type="file" name="file" onchange="setThumbnail(event);">
                        <div id="image_container" class="mt12"></div>
                        <div id="image" class="mt12"><img id="realImage"  src="/images/adm/${response.chkPicFileName}" style="width:250px; height:300px;"/></div>
                        <button type="submit" class="c-button">업로드</button>
                    </form>

                    <hr class="mt20">

                    <div class="mt20 bf-3">Comment</div>

                    <div id="allComment">
                        <div>
                            댓글 <input type="text" id="comment">
                        </div>
                        <button type="submit"  class="c-button" id="commentBtn" onclick="ajaxComment(${response.chkNo})">댓글달기</button>
                    </div>

                    <hr class="mt20">

                    <!--  댓글 보이는 영역 -->
                    <h3 id="commentPlace" class="mt20 bf-3"></h3>
                    <div id="commentArea" class="button__box" style="display: none">
                        <button  class="c-button" onclick="ajaxCommentFix(${response.chkNo}); ">수정</button>
                        <button  class="c-button" onclick="ajaxCommentDelete(${response.chkNo})">삭제</button>
                    </div>

                    <!--  댓글 수정 영역 -->
                    <div id="commentUpdateArea" style="display: none">
                        <input id="updateComment" type="text">
                        <button  class="c-button" id="updateCommentBtn">입력</button>
                    </div>
                `
                ThumbnailNull();
                readComment(response.commentContent);
            })


            tg.append(pannel)
        }

        //썸네일이 설정되있지 않으면 태그를 숨겨서 엑박사진이 안보임.
        function ThumbnailNull() {
            if ($('#realImage').attr('src').includes('null') == true) {
                $('#image').hide();
            }
        }

        //체크했을 때 ajax로 세션아이디, 체크리스트 번호, 체크박스 상태를 ajax로 전송
        function ajaxUpdate(chkNo, isChk) {
            $.ajax({
                url: "chkNumUpdate",
                data: {
                    chkNo: chkNo,
                    isChk: isChk,
                    workerId: '[[${session.workerId}]]'
                }
                // isChk가 0일때는 workerId도 null로 바꾸기
            }).done(function (response) {
                console.log(response);
            })
        }

        //체크리스트 상세정보에서 댓글달수있게.
        function ajaxComment(chkNo) {

            if('[[${session.positionCd}]]' == 1){
                if ($('#comment').val() == '') {
                    alert('댓글을 입력해주세요.')
                } else {
                    $.ajax({
                        url: "chkAddComment",
                        data: {
                            chkNo: chkNo,
                            commentContent: $('#comment').val()
                        }
                    }).done(function (response) {
                        $('#comment').val("");
                        //div에 return받은 댓글 넣어주기.
                        console.log(response);
                        $('#commentPlace').html(response.commentContent);
                        $('#allComment').hide();
                        $('#commentArea').css('display', 'flex');
                    })
                }
            }else{
                alert('권한이 없습니다.')
            }



        }

        //상세조회 페이지에서 댓글을 달았으면, 댓글 창은 사라지고 댓글만 보이기.
        function readComment(comment) {
            if (comment != null) {
                $('#commentArea').css('display', 'flex');
                $('#commentPlace').html(comment);
                $('#allComment').hide();
            }
        }

        //수정 버튼을 눌렀을때 입력창이 표시되고, 입력한 값을 전달해 기존의 댓글내용을 바꿔줌.
        //댓글 추가와 쿼리가 같기때문에 똑같은 url을 사용
        function ajaxCommentFix(chkNo) {
            //수정 버튼 눌렀을때 인풋박스 열고닫기
            if('[[${session.positionCd}]]' == 1){
                $('#comment').val("");
                if ($('#commentUpdateArea').css("display") == "none") {
                    $('#commentUpdateArea').css('display', 'flex');
                } else {
                    $('#commentUpdateArea').css('display', 'none');
                }

                $('#updateCommentBtn').on('click', function () {
                    if ($('#updateComment').val() == '') {
                        alert('댓글을 입력해주세요.')
                    } else {
                        $.ajax({
                            url: "chkAddComment",
                            data: {
                                chkNo: chkNo,
                                commentContent: $('#updateComment').val()
                            }
                        }).done(function (response) {
                            $('#updateComment').val("");
                            console.log(response);
                            $('#commentArea').css('display', 'flex');
                            $('#commentPlace').html(response.commentContent);
                        })
                    }
                })
            }else{
                alert('권한이 없습니다.')
            }


        }


        //댓글 삭제, delete가 아니라 update로 comment의 값을 null로 만들어줌.
        function ajaxCommentDelete(chkNo) {

            if('[[${session.positionCd}]]' == 1){
                $('#updateContent').val("");
                if (!confirm("삭제하시겠습니까?")) {
                    // 취소(아니오) 버튼 클릭 시 이벤트
                } else {
                    $.ajax({
                        url: "chkAddComment",
                        data: {
                            chkNo: chkNo,
                            commentContent: null
                        }
                    }).done(function (response) {
                        console.log(response);
                        $('#commentArea').hide();
                        //$('#commentUpdateArea').hide();
                        $('#allComment').css('display', 'flex');
                        $('#commentUpdateArea').hide();
                    })
                    // 확인(예) 버튼 클릭 시 이벤트
                }
            }else{
                alert('권한이 없습니다.')
            }
        }

        // 파일 업로드 후 썸네일보기
        function setThumbnail(event) {
            $('#image').remove();
            var reader = new FileReader();
            reader.onload = function (event) {
                var img = document.createElement("img");
                img.setAttribute("src", event.target.result);
                img.style.width = '250px'
                img.style.height = '300px'
                document.querySelector("div#image_container").appendChild(img);
            };
            reader.readAsDataURL(event.target.files[0]);
        }

        // 체크리스트에 체크하는 function, 사진이 등록되어있지 않으면 체크리스트에 체크할 수 없음.
        function checkContent() {
            let chkNo = '';
            let isChk = '';
            let textContents = '';
            $('tbody').on('click', '.checkList', function () {
                if ($(this).parents('td').parents('tr').find("td:eq(0)").hasClass('processCompleteYn') == true) {
                    $($(this)).prop("checked", true);
                    alert('이미 해결된 사항입니다.')
                    // disabled="disabled"
                } else {
                    if ($(this).is(":checked") == true) {
                        textContents = $(this).parents("td").parents("tr").find("td:eq(3)").attr('class')
                        console.log(textContents);
                        if (textContents.indexOf('null') == 0) {
                            alert('먼저 사진을 등록해주세요.')
                            $($(this)).prop("checked", false);
                        } else {
                            chkNo = $(this).attr('id');
                            isChk = "1" // 체크됐을때
                            $(this).parents("td").parents("tr").find("td:eq(3)").css('text-decoration', 'line-through');
                        }
                    } else {
                        chkNo = $(this).attr('id');
                        isChk = "0" // 체크 해제됐을때
                        $(this).parents("td").parents("tr").find("td:eq(3)").css('text-decoration', '');
                    }
                    ajaxUpdate(chkNo, isChk);
                }
            })


        }


        makeContent();
        checkContent();
        processComplete();
    </script>
</th:block>
</body>
</html>