<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script
        src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script>
    //근무자 정보 작성 후 확인 버튼을 눌렀을 때 알림창
    function validateForm(){
        if($('input[name=workerId]').val() != $('input[name=workerName]').val()){
            alert('아이디와 이름은 같게해주세요.')
        }else if( $('input[name=workerId]').val() == ''){
            alert('아이디를 입력해주세요.')
            $('input[name=workerId]').focus();
        }else if($('input[name=workerName]').val() == ''){
            alert('이름을 입력해주세요.')
            $('input[name=workerName]').focus();
        }else if($('input[name=password]').val() == ''){
            alert('비밀번호를 입력해주세요.')
        }else{
            $('#submitFrm').submit();
            alert('작성완료.')
            setTimeout(function() {
                window.close();
            }, 1000);
        }
    }

    function isIdCheck(){
        $.ajax({
            url : "isIdCheck",
            data : {workerId : $('input[name=workerId]').val()}
        }).done(function(response){
            if (response == 'n') {
                alert("사용 가능한 아이디입니다.");

                $("#checkId").val('Yes');
                $("#workerName").focus();
            } else {
                alert("사용 불가능한 아이디입니다.");
                $("#workerId").val('');
                $("#workerId").focus();
            }
        })
    }

    function formCheck() {
        if ($("#checkId").val() != 'Yes') {
            alert("아이디 중복체크를 해주세요.");
            return false;
        }
        return true;
    }

    function closeForm(){
        window.close();
    }
</script>
<div>
    <h3>상세조회</h3>
    <h4>근무자 등록</h4>
    <div>
        <form method="post" id="submitFrm" th:action="@{/adm/worker_hrm_detail_write}" enctype="multipart/form-data">
            <table>
                <tr>
                    <td>아이디</td>
                    <td><input type="text" id="workerId" name="workerId">&nbsp;&nbsp;&nbsp;<button type="button" onclick="isIdCheck()" id="checkId" value="No">중복체크</button></td>
                </tr>
                <tr>
                    <td>이름</td>
                    <td><input type="text" id="workerName" name="workerName"></td>
                </tr>
                <tr>
                    <td>비밀번호</td>
                    <td><input type="password" name="password"></td>
                </tr>
                <tr>
                    <td>연락처</td>
                    <td><input type="text" name="phoneNo"></td>
                </tr>
                <tr>
                    <td>출근시간</td>
                    <td><select name="userType">
                        <option value="0">1부</option>
                        <option value="1">2부</option>
                    </select></td>
                </tr>
                <tr>
                    <td>성별</td>
                    <td><input type="radio" value="0" name="gender">남성
                        <input type="radio" value="1" name="gender"> 여성</td>
                </tr>
                <tr>
                    <td>시급</td>
                    <td><input type="text" name="payPerHour"></td>
                </tr>
                <tr>
                    <td>생년월일</td>
                    <td><input type="text" class="datepicker" name="birth" readonly></td>
                </tr>
                <tr>
                    <td>근무시작일</td>
                    <td><input type="text" class="datepicker" name="startDay" readonly></td>
                </tr>
                <tr>
                    <td>근무자타입</td>
                    <td><select name="positionCd"><option value="0">월/목</option><option value="1">화/수/금</option></select></td>
                </tr>
                <tr>
                    <td>병역</td>
                    <td><select name="militaryCd"><option value="0">필</option><option value="1">미필</option></select></td>
                </tr>
                <tr>
                    <td>프로필</td>
                    <td><input type="file" name="file" onchange="setThumbnail(event);"></td>
                </tr>
            </table>
            <div id="image_container"></div>
            <input type="text" id="sample4_postcode" placeholder="우편번호" name="postcode">
            <input type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기"><br>
            <input type="text" id="sample4_roadAddress" placeholder="도로명주소" name="roadAddress">
            <input type="text" id="sample4_jibunAddress" placeholder="지번주소" name="jibunAddress">
            <span id="guide" style="color:#999;display:none"></span>
            <input type="text" id="sample4_detailAddress" placeholder="상세주소" name="detailAddress">

            <br><br>
            <table>
                <tr>
                    <td>메모</td>
                    <td><textarea name="memo"></textarea><br><br></td>
                </tr>
                <tr>
                    <td>상태</td>
                    <td><select name="staffStatusCd">
                        <option value="0">알바 중</option>
                        <option value="1">퇴직</option>
                    </select></td>
                </tr>
            </table>
<!--            - 메모 : <textarea name="memo"></textarea><br><br>-->

<!--            - 상태 <select name="staffStatusCd">-->
<!--                    <option value="0">알바 중</option>-->
<!--                    <option value="1">퇴직</option>-->
<!--                  </select>-->

    <span><button type="button" onclick="validateForm()">저장하기</button></span>
    <span><button type="button" onclick="closeForm()"}>취소하기</button></span>
    </form>
</div>
</div>
</body>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    //본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
    function sample4_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var roadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 참고 항목 변수

                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if(data.buildingName !== '' && data.apartment === 'Y'){
                    extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample4_postcode').value = data.zonecode;
                document.getElementById("sample4_roadAddress").value = roadAddr;
                document.getElementById("sample4_jibunAddress").value = data.jibunAddress;


                var guideTextBox = document.getElementById("guide");
                // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                if(data.autoRoadAddress) {
                    var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                    guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                    guideTextBox.style.display = 'block';

                } else if(data.autoJibunAddress) {
                    var expJibunAddr = data.autoJibunAddress;
                    guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                    guideTextBox.style.display = 'block';
                } else {
                    guideTextBox.innerHTML = '';
                    guideTextBox.style.display = 'none';
                }
            }
        }).open();
    }
</script>
<script>

    // 파일 선택 후 썸네일을 업로드.
    function setThumbnail(event) {
        $('#image').remove();
        var reader = new FileReader();
        reader.onload = function(event) {
            var img = document.createElement("img");
            img.setAttribute("src", event.target.result);
            img.setAttribute("style", "width=10px; height=10px")
            document.querySelector("div#image_container").appendChild(img);
        };
        reader.readAsDataURL(event.target.files[0]);
    }
</script>
<script>
    //데이트피커
    $(".datepicker").datepicker({
        dateFormat: 'yy-mm-dd' //Input Display Format 변경
        ,showOtherMonths: true //빈 공간에 현재월의 앞뒤월의 날짜를 표시
        ,showMonthAfterYear:true //년도 먼저 나오고, 뒤에 월 표시
        ,changeYear: true //콤보박스에서 년 선택 가능
        ,changeMonth: true //콤보박스에서 월 선택 가능
        ,showOn: "both" //button:버튼을 표시하고,버튼을 눌러야만 달력 표시 ^ both:버튼을 표시하고,버튼을 누르거나 input을 클릭하면 달력 표시
        ,buttonImage: "http://jqueryui.com/resources/demos/datepicker/images/calendar.gif" //버튼 이미지 경로
        ,buttonImageOnly: true //기본 버튼의 회색 부분을 없애고, 이미지만 보이게 함
        ,buttonText: "선택" //버튼에 마우스 갖다 댔을 때 표시되는 텍스트
        ,yearSuffix: "년" //달력의 년도 부분 뒤에 붙는 텍스트
        ,monthNamesShort: ['1','2','3','4','5','6','7','8','9','10','11','12'] //달력의 월 부분 텍스트
        ,monthNames: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'] //달력의 월 부분 Tooltip 텍스트
        ,dayNamesMin: ['일','월','화','수','목','금','토'] //달력의 요일 부분 텍스트
        ,dayNames: ['일요일','월요일','화요일','수요일','목요일','금요일','토요일'] //달력의 요일 부분 Tooltip 텍스트
    });
</script>

</html>