<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/adm_layout">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
<th:block layout:fragment="content">
    <style>
        #myProgress {
            position: relative;
            width: 100%;
            height: 50px;
            background-color: #ddd;
            text-align: center;
        }

        #myBar {
            position: absolute;
            height: 100%;
            background-color: #4CAF50;
            text-align: center;
        }

        #label {
            text-align: center;
            line-height: 50px;
            color: white;
        }
    </style>
    <!-- msg 만들기용 -->
    <input type="hidden" id="chkWork" value="출근">

    <a-h1 ko="근무자 출퇴근" en="WORKER"></a-h1>
    
    <div id="newTag" class="f14"></div>
    <div id="allTag" class="f14">
        <h1 class="text-center bf-4" style="color: #18181c">현재 근무자</h1>
        <h2 class="text-center bf-3" style='color: #72ca19' id="nowWorker"></h2>
        <div id="myProgress" style="display: none">
            <div id="myBar">
                <div id="label" class="bf-3">0%</div>
            </div>
        </div>
        <div id="div2">
            <p id="dd"></p>
        </div>
        <div id="out" class="text-center bf-3" style="color: #18181c">
            <h2 id="msg" class="bf-2" style="color: #d34747"></h2>
            <h1 id="demo"></h1>

        </div>
        <hr>
        <table class="table" id="getTable"></table>
        <br>
        <button type="button" id="btn" class="c-button">출근하기</button>
    </div>
    <script>

        function getNowTimeMilsec() {
            let today = new Date();
            let hours = today.getHours();
            let minutes = today.getMinutes();
            let millsec = today.getTime();

            return millsec;
        }

        // 1. 현재 시간을 밀리세컨드로 얻는 function
        function getNowTime() {
            let today = new Date();
            let hours = today.getHours();
            let minutes = today.getMinutes();
            let millsec = today.getTime();
            console.log("실제 퇴근버튼 찍은 분 " + ((millsec / (1000 * 60))));
            return ((millsec / (1000 * 60)));
        }

        // 2. 퇴근 버튼을 찍었을때의 시간을 밀리세컨드로 얻는 function
        function getOuttime(time) {
            let today = new Date(time)
            console.log("퇴근시간 분" + ((today.getTime() / (1000 * 60))));

            var getOutTime = ((today.getTime() / (1000 * 60)));
            return getOutTime;
        }


        // 3. 출근 버튼을 찍었을 때, 근무종료까지의 시간을 계산하는 게이지 바가 나오는 function
        function move(percent, leftTime) {
            console.log(leftTime);
            console.log(percent)
            document.getElementById('myProgress').style.display = "block";
            var elem = document.getElementById("myBar");
            var width = percent;


            var id = setInterval(frame, leftTime * 10);
            elem.style.width = percent + '%';

            function frame() {
                if (width >= 100) {
                    clearInterval(id);
                    document.getElementById('myProgress').style.display = "none";
                    document.getElementById('dd').innerHTML = '퇴근하세요!';
                    document.getElementById('btn').style.display = "none";

                } else {
                    width++;
                    elem.style.width = width + '%';
                    document.getElementById("label").innerHTML = width * 1 + '%';
                }
            }
        }

        // 4. 퇴근버튼을 찍었을때 ajax로 전송하는 function
        function quitAjax(workerId) {
            <!-- 퇴근 메세지 전송 -->
            insertAttendWorker();

            $.ajax({
                url: "updateQuit",
                data: {
                    workerId: workerId
                }
            }).done(function (response) {
                console.log(response);
                $('#allTag').remove();
                var h1 = "<h1 class='text-center bf-5'>" + '고생하셨습니다.' + "</h1>"
                $('#newTag').append(h1);
            })
        }

        // 5. 남은시간 타이머 계산.
        function timer(time) {
            var time = time;
            var hour = "";
            var min = "";
            var sec = "";

            var x = setInterval(function () {
                hour = parseInt(time / 60 / 60);
                min = parseInt(time / 60 % 60);
                sec = time % 60;

                $('#msg').html("📢퇴근까지")
                $('#demo').html(hour + "시간" + min + "분" + sec + "초");
                time--;

                if (time < 0) {
                    clearInterval(x);
                    $('#demo').html("시간초과");
                }
            }, 1000);
        }

        // 6. 퇴근 버튼을 클릭했을때 function
        function outButtonClick(quittingTime, workerId) {
            $('#out').on('click', '#outBtn', function () {
                if (getOuttime(quittingTime) - getNowTime() > 20) {
                    if (!confirm("퇴근시간이 아닙니다. 퇴근하시겠습니까?")) {
                        // 취소(아니오) 버튼 클릭 시 이벤트
                        alert('취소되었습니다.');
                    } else {
                        // 확인(예) 버튼 클릭 시 ajax 이벤트
                        quitAjax(workerId)
                    }
                } else {
                    quitAjax(workerId)
                }


            })
        }

        // 7. 데이터베이스를 조회해서 출근한 데이터가 남아있으면 화면상태를 move 바, timer, 퇴근버튼이 있도록
        function maintainFnc(workerId) {
            $.ajax({
                url: "selectInUser",
                data: {workerId: workerId}
            }).done(function (response) {
                console.log(response);
                $('#label').html(response.vo.percent + '%');
                if (response.vo.inMTime != null && response.vo.outTime == null) {
                    move(response.vo.percent, response.vo.getMTime);
                    document.getElementById('btn').style.display = "none";
                    timer(response.vo.getMTime);

                    var btn = "<button id='outBtn' class='c-button'>" + '퇴근' + "</button>";
                    insertChkWorker('퇴근');

                    $('#out').append(btn);

                    outButtonClick(response.vo.quittingTime, workerId);
                }
            })
        }

        maintainFnc('[[${session.workerId}]]');

        // 8. 출근버튼을 찍었을때, ajax로 세션에 담겨있는 유저아이디 전송,
        // 출결 테이블에 등록
        $('#btn').on('click', function () {
            console.log('[[${session.workerId}]]');
            var workerId = '[[${session.workerId}]]'

            $.ajax({
                url: "selectQuitTime",
                data: {workerId: workerId},
                method: "post"
            }).done(function (response) {
                console.log(response);
                if (response != '') {
                    if (response[response.length - 1].outTime == null && response != '') {
                        alert('전 근무자가 퇴근체크를 하지 않았습니다.')
                    } else {
                        alert('오늘 이미 퇴근처리 하셨습니다.')
                    }
                } else {
                    $.ajax({
                        url: "insertAttendance",
                        data: {
                            workerId: workerId,
                            getNowTime: getNowTimeMilsec()
                        },
                        method: 'POST'
                    }).done(function (response) {
                        <!-- 출근 메세지 전송 -->
                        insertAttendWorker();

                        if (response == '') {
                            alert('출근시간이 아닙니다.')
                        } else if (response.late == 0) {
                            console.log("출근 버튼 누른 후" + response);
                            checkWorkTime(response)
                        } else if (response.late == 1) {
                            alert("지각처리 되었습니다.");
                            checkWorkTime(response)
                        } else if (response.absence == 1) {
                            alert("결근처리 되었습니다.");
                            checkWorkTime(response)
                        } else if (response.late == 3) {
                            alert('근무표에 등록되지 않은 근무자입니다.')
                        }
                    })
                }
            })
        })

        //근무 시간에 따라 지각, 결근, 출근시간이 아닐때, 시트표에 없는 근무자가 출근할때, 다른사람이 근무중일때를 체크함.
        function checkWorkTime(response) {
            $('#label').html(response.vo.percent + '%');
            move(response.vo.percent, response.vo.getMTime);
            console.log(response);
            alert('출근 완료');

            document.getElementById('btn').style.display = "none";

            timer(response.vo.getMTime);

            var btn = "<button id='outBtn' class='c-button'>" + '퇴근' + "</button>";
            $('#out').append(btn);

            //퇴근버튼을 찍었을때 조기퇴근 등을 계산해주는 function

            outButtonClick(response.vo.quittingTime, workerId);
        }

        //오늘날짜 구하기
        function getToday() {
            var today = new Date();
            var dateString = today.getFullYear() + "-" + ('0' + (today.getMonth() + 1)).slice(-2) + "-" + ('0' + today.getDate()).slice(-2);
            return dateString;
        }

        //이번 주 7일 + 요일 구해서 tr태그 동적으로 만들어주기.
        function weekFind() {
            var currentDay = new Date();
            var theYear = currentDay.getFullYear();
            var theMonth = currentDay.getMonth();
            var theDate = currentDay.getDate();
            var theDayOfWeek = currentDay.getDay();

            var thisWeek = [];
            var week = ['일', '월', '화', '수', '목', '금', '토'];

            for (var i = 0; i < 7; i++) {
                var resultDay = new Date(theYear, theMonth, theDate + (i - theDayOfWeek));
                var yyyy = resultDay.getFullYear();
                var mm = Number(resultDay.getMonth()) + 1;
                var dd = resultDay.getDate();
                var dayOfWeek = week[new Date(yyyy + '-' + mm + '-' + dd).getDay()];

                mm = String(mm).length === 1 ? '0' + mm : mm;
                dd = String(dd).length === 1 ? '0' + dd : dd;

                thisWeek[i] = yyyy + '-' + mm + '-' + dd + "(" + dayOfWeek + ")";
            }
            return thisWeek;
        }


        // 이번주 날짜가 들어간 태그 만들기.
        // 오늘은 빨간색으로 표시됨.
        //<td>태그 안에 실제근무자가 한번 더 표시되게.
        function weekTrMaker() {
            let chkArr = [];

            // 이번주 출력
            var tr = "<tr>";
            let j = 0;
            for (let j = 0; j < weekFind().length; j++) {
                if (weekFind()[j].indexOf(getToday()) == -1) {
                    tr += "<td class='firstTr text-center bf-1' width='100'>" + weekFind()[j] + "</td>";
                } else {
                    tr += "<td class='firstTr text-center bf-1' width='100' style='color: #ca2819'>" + weekFind()[j] + "</td>";
                }

                // 검색용 arr
                chkArr.push(weekFind()[j]);
            }
            tr += "</tr>"
            $('#getTable').append(tr);
            console.log(chkArr)


            // 출근한 사람 불러오는 부분
            $.ajax({
                url: "getWeekList"
            }).done(function (response) {
                console.log(response);

                let memberId = "[[${session.workerId}]]";

                let tr = document.createElement('tr');
                let tr2 = document.createElement('tr');
                chkArr.forEach(l => {


                    let td = document.createElement('td')
                    let td2 = document.createElement('td');
                    td.setAttribute('class', 'text-center bf-1')
                    td2.setAttribute('class', 'text-center bf-1')
                    td.style.color = "#18181c"
                    td2.style.color = "#18181c"
                    response.forEach(i => {
                        let tmp = l.substring(2, 10)
                        console.log('tmp================')
                        console.log(i.attDt)
                        console.log(tmp)
                        console.log('//================')
                        if(i.attDt == tmp && memberId == i.workerId) {
                            td.innerHTML = i.inTime;
                            if (i.outTime != null) {
                                td2.innerHTML = i.outTime;
                            } else {
                                td2.innerHTML = '근무 중';
                            }
                            //오늘날짜 일 - 이번주 토~일이 양수일때
                        }else if(new Date().toISOString().substring(8,10) - l.substring(8, 10) > 0 && td.innerHTML == ''){
                            td.innerHTML = "휴무";
                            td2.innerHTML = "휴무";
                        }
                    })
                    tr.append(td);
                    tr2.append(td2);
                    document.querySelector('#getTable').append(tr);
                    document.querySelector('#getTable').append(tr2);
                })

            })

            $.ajax({
                url : "getNowWorkerName"
            }).done(function(response){
                if(response.workerId != null){
                    $('#nowWorker').html(response.workerId + "님");
                }
            })

        }

        weekTrMaker();

        function insertAttendWorker() {
            var workerId = '[[${session.workerId}]]';

            // field 값 전하기
            let chkWork = document.querySelector('#chkWork').value;

            fetch('/msg/insertAttendMsg', {
                method: 'post',
                headers: {'Content-type': 'application/json'},
                body: JSON.stringify({
                    workerId: workerId,
                    chkWork: chkWork
                })
            })
                .then(res => res.text())
                .then(res => console.log(res))
        }

        <!-- 출퇴근 문자 가져오기 -->
        function insertChkWorker(input) {
            let tg = document.querySelector('#chkWork')

            tg.value = input;
        }

    </script>
</th:block>
</body>
</html>
