<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/adm_layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block layout:fragment="content">

    <script>
        $(document).ready(function () {
            var workerId = "";

            $('#workerInsertBtn').on('click', function () {
                let popUrl = "worker_hrm_detail";
                let popOption = 'left=600, width=600, height=800, location=no, status=no, scrollbars=yes'
                window.open(popUrl, "name", popOption);
            })

            workerListStaffCd0();
            workerListStaffCd1();
            selectBoxInToOutChange();
            selectBoxOutToInChange();

            // 현재 알바 중인 상태의 근무자 리스트를 받아옴.
            function workerListStaffCd0() {
                $.ajax('workerHrmList')
                    .done(function (response) {
                        console.log(response);
                        let numberFormat = new Intl.NumberFormat('en-US')
                        console.log(numberFormat.format(response[1].allPay) + '원')
                        var selectTr = "";
                        for (let i = 0; i < response.length; i++) {
                            if (response[i].workerId == 'admin') {

                            } else {
                                selectTr = `<tr class="text-center bf-2" style="color: #18181c" data-workerid = ${response[i].workerId}>`;
                                selectTr += "<td>" + response[i].workerName + "</td>";
                                selectTr += "<td>" + response[i].startDay + "</td>";
                                selectTr += "<td>" + response[i].late + " 회" + "</td>";
                                selectTr += "<td>" + response[i].absence + " 회" + "</td>";
                                selectTr += "<td>" + numberFormat.format(response[i].allPay) + '원' + "</td>";
                                selectTr += "<td>" + numberFormat.format(response[i].lastMonthPay) + '원' + "</td>";
                                selectTr += "<td>" + "<select class ='selectbox'>" +
                                    "                       <option value='0'>알바 중</option>" +
                                    "                       <option value='1'>퇴직</option>" +
                                    "               </select>" + "</td>";
                                selectTr += "<td>" + "<button class='readWorker btn btn-outline-dark'><i class='fa-solid fa-magnifying-glass'></i>조회</button>" + "</td>";
                                selectTr += "</tr>"
                                $('#tbody').append(selectTr);
                            }
                        }
                    })
            }

            //퇴사한 근무자를 불러오는 리스트
            function workerListStaffCd1() {
                $.ajax("worker_hrm_list_staffCd1")
                    .done(function (response) {
                        console.log(response);
                        var selectTr = "";
                        let numberFormat = new Intl.NumberFormat('en-US')
                        for (let i = 0; i < response.length; i++) {
                            selectTr = `<tr class="text-center bf-2" style="color: #18181c" data-workerid = ${response[i].workerId}>`;
                            selectTr += "<td>" + response[i].workerName + "</td>";
                            selectTr += "<td>" + response[i].startDay + "</td>";
                            selectTr += "<td>" + response[i].late + " 회" + "</td>";
                            selectTr += "<td>" + response[i].absence + " 회" + "</td>";

                            selectTr += "<td>" + numberFormat.format(response[i].allPay) + '원' + "</td>";
                            selectTr += "<td>" + "<select class ='selectbox'>" +
                                "                       <option value='1'>퇴직</option>" +
                                "                       <option value='0'>알바 중</option>" +
                                "               </select>" + "</td>";
                            selectTr += "<td>" + "<button class='readWorker btn btn-outline-dark'><i class='fa-solid fa-magnifying-glass'></i>조회</button>" + "</td>";
                            selectTr += "</tr>"
                            $('#tbodyOut').append(selectTr);
                        }
                    })
            }

            // selectbox의 option 값을 ajax로 전송해서 DB에서 업데이트함.
            // 현재 근무자 SelectBox의 상태값 변경 -> 퇴사한 근무자로 이동
            function selectBoxInToOutChange() {
                $('#tbody').on('change', '.selectbox', function () {
                    var data1 = $(this).closest('tr');
                    console.log($(this).closest('tr').data('workerid'));
                    var workerId = $(this).closest('tr').data('workerid');
                    var cd = $(this).val();
                    $.ajax({
                        url: "worker_hrm_staffStatusCd_update",
                        data: {
                            "staffStatusCd": cd,
                            "workerId": workerId
                        }
                    }).done(function (response) {
                        console.log(response);
                        let numberFormat = new Intl.NumberFormat('en-US')
                        data1.remove();
                        var selectTr = "";
                        $('#tbodyOut').empty();
                        for (let i = 0; i < response.length; i++) {
                            selectTr = `<tr class="text-center bf-2" style="color: #18181c" data-workerid = ${response[i].workerId}>`;
                            selectTr += "<td>" + response[i].workerName + "</td>";
                            selectTr += "<td>" + response[i].startDay + "</td>";
                            selectTr += "<td>" + response[i].late + " 회" + "</td>";
                            selectTr += "<td>" + response[i].absence + " 회" + "</td>";

                            selectTr += "<td>" + numberFormat.format(response[i].allPay) + '원' + "</td>";
                            selectTr += "<td>" + "<select class ='selectbox'>" +
                                "                       <option value='1'>퇴직</option>" +
                                "                       <option value='0'>알바 중</option>" +
                                "               </select>" + "</td>";
                            selectTr += "<td>" + "<button><i class='fa-solid fa-magnifying-glass'></i>조회</button>" + "</td>";
                            selectTr += "</tr>"
                            $('#tbodyOut').append(selectTr);
                        }
                        workerListStaffCd1();
                    })
                });
            }


            // selectbox의 option 값을 ajax로 전송해서 DB에서 업데이트함.
            // 퇴사한 근무자 SelectBox의 상태값 변경 -> 현재 근무자로 이동
            function selectBoxOutToInChange() {
                $('#tbodyOut').on('change', '.selectbox', function () {
                    var data1 = $(this).closest('tr');
                    console.log($(this).closest('tr').data('workerid'));
                    var workerId = $(this).closest('tr').data('workerid');
                    var cd = $(this).val();
                    $.ajax({
                        url: "worker_hrm_staffStatusCd_update",
                        data: {
                            "staffStatusCd": cd,
                            "workerId": workerId
                        }
                    }).done(function (response) {
                        console.log(response);
                        let numberFormat = new Intl.NumberFormat('en-US')
                        data1.remove();
                        var selectTr = "";
                        $('#tbody').empty();
                        for (let i = 0; i < response.length; i++) {
                            selectTr += `<tr class="text-center bf-2" style="color: #18181c" data-workerid = ${response[i].workerId}>`;
                            selectTr += "<td>" + response[i].workerName + "</td>";
                            selectTr += "<td>" + response[i].startDay + "</td>";
                            selectTr += "<td>" + response[i].late + " 회" + "</td>";
                            selectTr += "<td>" + response[i].absence + " 회" + "</td>";
                            selectTr += "<td>" + numberFormat.format(response[i].allPay) + '원' + "</td>";
                            selectTr += "<td>" + numberFormat.format(response[i].lastMonthPay) + '원' + "</td>";
                            selectTr += "<td>" + "<select class ='selectbox'>" +
                                "                       <option value='1'>퇴직</option>" +
                                "                       <option value='0'>알바 중</option>" +
                                "               </select>" + "</td>";
                            selectTr += "<td>" + "<button>조회</button>" + "</td>";
                            selectTr += "</tr>"
                            $('#tbodyOut').append(selectTr);
                        }
                        workerListStaffCd0();
                    })
                });
            }

            $('#tbody').on('click', '.readWorker', function () {
                console.log($(this).closest('tr').data('workerid'));
                workerId = $(this).closest('tr').data('workerid');
                let popUrl = "worker_hrm_detail_read?workerId=" + workerId + '';
                let popOption = 'left=600, width=600, height=800, location=no, status=no, scrollbars=yes'
                window.open(popUrl, "name", popOption);
            })

            $('#tbodyOut').on('click', '.readWorker', function () {
                console.log($(this).closest('tr').data('workerid'));
                workerId = $(this).closest('tr').data('workerid');
                let popUrl = "worker_hrm_detail_read?workerId=" + workerId + '';
                let popOption = 'left=600, width=600, height=800, location=no, status=no, scrollbars=yes'
                window.open(popUrl, "name", popOption);
            })

        })
    </script>

    <a-h1 ko="근무자 관리" en="WORKER"></a-h1>

    <div class="row">

        <div class="col-6">

        </div>

        <div class="col-6">
            <div class="button__box">
                <button id="workerInsertBtn" class="c-button">새로운 근무자 등록</button>
                <button onclick="location.href = '/adm/worker_excel' " class="c-button">엑셀 다운로드</button>
            </div>
        </div>

        <div class="col-12 f16 a__box">
            <t-h2 ko="현재 근무자"></t-h2>
            <table id="table" class="table tableSubHeadingColor" style="color: #18181c">
                <thead>
                <tr class='text-center bf-2'>
                    <th th:width="100">이름</th>
                    <th th:width="300">근무 시작일</th>
                    <th th:width="100">총 지각</th>
                    <th th:width="100">총 결근</th>
                    <th th:width="100">총 지급 금액</th>
                    <th th:width="100">저번달 급여</th>
                    <th th:width="100">상태</th>
                    <th th:width="200">상세조회</th>
                </tr>
                </thead>
                <tbody id="tbody">
                </tbody>
            </table>
        </div>

        <div class="col-12 f16 a__box">
            <t-h2 ko="퇴직한 근무자"></t-h2>
            <table class="table" style="color: #18181c">
                <thead>
                <tr class='text-center bf-2'>
                    <th th:width="100">이름</th>
                    <th th:width="300">근무 시작일</th>
                    <th th:width="100">총 지각</th>
                    <th th:width="100">총 결근</th>
                    <th th:width="200">총 지급 금액</th>

                    <th th:width="100">상태</th>
                    <th th:width="200">상세조회</th>
                </tr>
                </thead>
                <tbody id="tbodyOut">
                </tbody>
            </table>
        </div>

    </div>

</th:block>
</body>
</html>