<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/cli_layout}">

<th:block layout:fragment="content">

    <t-h1 ko="로그인" en="LOG-IN"></t-h1>

    <form id="frm" name="frm" action="/login" method="post">
        <div class="form-group">
<!--            <i class="far fa-envelope"></i>-->
            <input placeholder="아이디" type="text" name="username" class="form-control">
        </div>
<!--        <i class="fas fa-key"></i>-->
        <input placeholder="패스워드" type="password" name="password" class="form-control">

        <div class="button__box">
            <input type="button" onclick="formCheck()" class="login-btn c-button" value="로그인">

        </div>

    </form>

    <script type="text/javascript">
        function formCheck() {
            if (frm.username.value == "") {
                alert("아이디를 입력하세요.");
                frm.username.focus();
                return false;
            }

            if (frm.password.value == "") {
                alert("패스워드를 입력하세요.");
                frm.memberPassword.focus();
                return false;
            }
            frm.submit();
        }
    </script>

</th:block>

</html>
