<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/cli_layout}">

<th:block layout:fragment="content">

    <t-h1 ko="회원가입" en="SIGN-UP"></t-h1>
    <t-h2 ko="정보입력"></t-h2>

    <form id="frm" action="/cli/insertMember" method="post" onsubmit="return formCheck()">

        <div class="bf-3 p">아이디 입력</div>
        <input class="form-control mt12" type="text" name="memberId" id="memberId" required="required" placeholder="아이디 입력.."/>
        <button type="button" id="checkId"
                class="c-button mt12" value="No" onclick="isIdCheck()">중복체크
        </button>

        <hr class="mt20">

        <div class="bf-3 p mt20">비밀번호 입력</div>
        <div class="form-group mt12">
            <input class="form-control" type="password" name="password" id="password" placeholder="비밀번호 입력.."/>
        </div>

        <div class="form-group">
            <input class="form-control" type="password" style="-ms-ime-mode: inactive" id="password1" placeholder="비밀번호 확인.."/>
        </div>

        <hr class="mt20">

        <div class="bf-3 p mt20">이름 입력</div>
        <div class="form-group mt20">
            <input class="form-control" type="text" name="memberName" id="member_name" placeholder="이름 입력.." korOnly/>
        </div>

        <hr class="mt20">

        <div class="bf-3 p mt20">연락처 입력</div>
        <div class="form-group">
            <input class="form-control" type="text" name="tel" id="tel" maxlength="11" minlength="11" placeholder='휴대폰 -없이 입력'
                   oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"/>
        </div>

        <hr class="mt20">

        <!-- 중복체크 -->
        <div>
            <div class="bf-3 mt20">중복방지</div>
            <div class="row mt12 px-0 justify-content-between align-items-center">
                <div class="col-6">
                    <input type="text" class="form-control" id="capt" readonly="readonly">
                </div>
                <div class="col-5">
                    <div id="refresh">
                        <span class="c-button" onclick="cap()"><i class="fa-solid fa-rotate"></i>새로고침</span>
                    </div>
                </div>
            </div>

            <div class="row px-0 justify-content-between align-items-center">
                <div class="col-6">
                    <input type="text" id="textinput" class="form-control mt12" placeholder="코드를 입력해주세요">
                </div>
                <div class="col-5">
                    <span id="codeChk" class="c-button mt12" onclick="validcap()">중복방지 코드 확인</span>
                </div>
            </div>

        </div>

        <div class="button__box mt20">
            <input type="submit" name="signup" id="signup"
                   class="button button-primary" value="회원가입"/>
        </div>

    </form>

    <div class="mt20 bf-2 text-center">
        이미 회원이신가요? <a href="login.html" class="bf-3">로그인 하기</a>
    </div>



    <script>
        $(document).ready(function () {
            $("input[name=memberId]").keyup(function (event) {
                if (!(event.keyCode >= 37 && event.keyCode <= 40)) {
                    var inputVal = $(this).val();
                    $(this).val(inputVal.replace(/[^a-z0-9]/gi, ''));
                }
            });
        });


        $("input:text[korOnly]").on("keyup", function () {
            $(this).val($(this).val().replace(/[^ㄱ-ㅣ가-힣]/g, ""));
        });


        function cap() {
            var alpha = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V'
                , 'W', 'X', 'Y', 'Z', '1', '2', '3', '4', '5', '6', '7', '8', '9', '0', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v'
                , 'w', 'x', 'y', 'z'];

            var a = alpha[Math.floor(Math.random() * 62)];
            var b = alpha[Math.floor(Math.random() * 62)];
            var c = alpha[Math.floor(Math.random() * 62)];
            var d = alpha[Math.floor(Math.random() * 62)];
            var e = alpha[Math.floor(Math.random() * 62)];
            var f = alpha[Math.floor(Math.random() * 62)];

            var sum = a + b + c + d + e + f;

            document.getElementById("capt").value = sum;
        }

        var capresult = false;

        function validcap() {
            var string1 = document.getElementById('capt').value;
            var string2 = document.getElementById('textinput').value;
            if (string1 == string2) {
                document.querySelector('#codeChk').innerHTML = `<i class="fa-solid fa-circle-check"></i>문자일치`;
                document.querySelector('#codeChk').classList.add('sec')
                document.querySelector('#codeChk').classList.remove('rr')
                capresult = true;
            } else {
                document.querySelector('#codeChk').innerHTML = `<i class="fa-solid fa-circle-xmark"></i>문자틀림`;
                document.querySelector('#codeChk').classList.add('rr')
                document.querySelector('#codeChk').classList.remove('sec')
                capresult = false;

            }
        }


        function isIdCheck() {
            let id = $('#memberId').val()
            if (id == "") {
                alert("입력하세요")
                return
            }
            $.ajax({
                url: "/cli/idCheck?memberId=" + $('#memberId').val(),
                type: "get",
                success: function (result) {
                    if (result == 'n') {
                        $("#checkId").html(`<i class="fa-solid fa-circle-check"></i> 사용가능한 아이디입니다!`);
                        $("#checkId").attr("class", "c-button sec mt12");
                        $("#checkId").val('Yes');
                        $("#password").focus();
                    } else {
                        $("#checkId").html(`<i class="fa-solid fa-circle-xmark"></i> 사용 불가능한 아이디! 다시 체크해주세요!`);
                        $("#checkId").attr("class", "c-button rr mt12");
                        $("#memberId").val('');
                        $("#memberId").focus();
                    }
                    ;
                }
            });
        }

        function formCheck() {
            if ($("#checkId").val() != 'Yes') {
                alert("아이디 중복체크를 해주세요.");
                return false;
            }

            if ($("#password").val() != $("#password1").val()) {
                alert("패스워드가 일치하지 않습니다.")
                $("#password").val('');
                $("#password1").val('');
                $("#password").focus();
                return false;
            }
            if (capresult == false) {
                alert("다시 확인해 주세요")
                return false;
            }
            return true;
        }
    </script>
</th:block>

</html>



