<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

<!-- Footer -->
<th:block th:fragment="footerFragment">
  <footer class="footer">

    <div class="row justify-content-center">
      <div class="col-5">
        <img th:src="@{/images/cli/c_logo.svg}" class="" alt="">
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h6>BAT HEREOS</h6>
        <p>
          팀장 : YOON HEE CHEOL<br>
          팀원 :  |<br>
        </p>
      </div>
    </div>

  </footer>
</th:block>

</html>