<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<th:block th:fragment="topbarFragment">

    <!-- Topbar -->
    <header class="header">

        <div class="row justify-content-center align-content-center align-items-center">

            <div class="col-12">
                <img th:src="@{/images/cli/menu.svg}" class="header__menu" alt="">
                <a href="/" class="logo"><img th:src="@{/images/cli/c_logo.svg}" alt=""></a>
            </div>

        </div>

    </header>

</th:block>
</html>