<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<th:block th:fragment="topbarFragment">

  <!-- header -->
<!--  <header th:unless="${#request.getRequestURI()} != '/'" class="header">-->
  <header th:attr="class=${(#request.getRequestURI() == '/') ? 'header' : 'header header-black'}" >

    <div class="row w100 justify-content-between align-items-center">

      <div class="col-auto">
<!--        <a href="/" class="logo"><img th:src="@{/images/cli/c_logo.svg}" alt=""></a>-->
      </div>
      <div class="col-auto" >
        <img th:src="@{/images/cli/menu.svg}" id="cli-slider-menu" class="header__menu" alt="">
      </div>

    </div>

  </header>

  <!-- slider menu -->
  <nav class="nav" id="cli-slider-nav">
    <ul>
      <li>
        <a href="">마이페이지</a>

      </li>
    </ul>
  </nav>
  <div class="csn-bg" id="cli-slider-nav-bg"></div>

  <script>
    let cliSliderMenu = document.querySelector('#cli-slider-menu')
    let cliSliderNav = document.querySelector('#cli-slider-nav')
    let cliSliderNavBg = document.querySelector('#cli-slider-nav-bg')

    cliSliderMenu.addEventListener('click', () => {
      cliSliderNav.classList.toggle('active')
      cliSliderNavBg.classList.toggle('active')
    })
  </script>

</th:block>
</html>