<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/cli_layout">

<th:block layout:fragment="content">
    <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

    <t-h1 ko="예약" en="RES"></t-h1>

    <input type="hidden" th:value="${reservation.getResId()}" id="currentResId">
    <input type="hidden" th:value="${#session.getAttribute('memberId')}" id="currentMemberId">

    <!--    <div class="row align-items-center px-0">-->
    <!--        <div class="col-12">-->
    <!--            <span id="dateVal" class="bf-3" th:text="${#dates.format(reservation.startTime, 'yyyy-MM-dd')}" onchange="reservedTimeCheck()" readonly></span>-->
    <!--        </div>-->
    <!--    </div>-->
    <!-- 날짜 변경 기능 현재불가 -->
    <!--    <input th:type="button" class="c-button" id="rsvBtn" th:value="날짜변경">-->

    <!--    <div class="row steps">-->
    <!--        <div th:id="1" class="col-4 active"><span>step01</span><br>팀선택</div>-->
    <!--        <div th:id="2" class="col-4"><span>step02</span><br>멤버입력</div>-->
    <!--        <div th:id="3" class="col-4"><span>step03</span><br>이닝</div>-->
    <!--    </div>-->

    <div class="row steps">
        <div class="col-4 tablinks active" data-no="1" onclick="openCity(event, 'team')">
            <span>step01</span>
            <b>팀선택</b>
            <i class="fa-solid fa-baseball-bat-ball"></i>
        </div>
        <div class="col-4 tablinks" data-no="2" onclick="openCity(event, 'member')">
            <span>step02</span>
            <b>멤버입력</b>
            <i class="fa-solid fa-people-group"></i>
        </div>
        <div class="col-4 tablinks" data-no="3" onclick="openCity(event, 'inning')">
            <span>step03</span>
            <b>이닝</b>
            <i class="fa-solid fa-baseball"></i>
        </div>
    </div>

    <!-- validate box -->
    <div class="row v-step">
        <div class="col-4 px-0"></div>
        <div class="col-4 px-0"></div>
        <div class="col-4 px-0"></div>
    </div>


    <div id="team" class="tabcontent" style="display: block">
        <!-- team -->
        <div class="g__box">
            <div class="row align-items-center">
                <div class="col">
                    <span class="bf-2">날짜</span>
                </div>
                <div class="col">
            <span class="bf-2"
                  th:text="|${#dates.format(reservation.startTime, 'yy-MM-dd')}|"></span>
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col">
                    <span class="bf-2">시간</span>
                </div>
                <div class="col">
            <span class="bf-2"
                  th:text="|${#dates.format(reservation.startTime, 'HH:mm')} - ${#dates.format(reservation.endTime, 'HH:mm')}|"></span>
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col">
                    <span class="bf-2">구장</span>
                </div>
                <div class="col">
                    <span class="bf-2" id="roomNo" th:data-room="${reservation.room}"
                          th:text="|${reservation.room} 구장|"></span>
                </div>
            </div>
        </div>

        <hr>

        <div class="row mt20" id="selectTeam">
            <div class="col-12">
                <span class="bf-4">팀</span>
            </div>

            <div class="col-6">
                <div class="bf-2 text-center">홈팀</div>
                <button class="c-button bb" id="homeTeam" onclick="openTeamModal()">팀 선택</button>
            </div>
            <div class="col-6">
                <div class="bf-2 text-center">원정팀</div>
                <button class="c-button bb" id="awayTeam" onclick="openTeamModal()">팀 선택</button>
            </div>
        </div>

        <hr class="mt20">

        <div class="message-success">
            <span>📢 [팀 선택] 버튼을 눌러 팀을 선택해주세요!</span>
        </div>

        <div id="team-modal" class="modal">
            <div class="bf-3 text-center mb20">프로팀 목록</div>
            <ul id="team-list">
                <li data-code="101">삼성라이온즈</li>
                <li data-code="102">KIA타이거즈</li>
                <li data-code="103">한화이글스</li>
                <li data-code="104">두산베어스</li>
                <li data-code="105">SSG랜더스</li>
                <li data-code="106">키움히어로즈</li>
                <li data-code="107">LG트윈스</li>
                <li data-code="108">NC다이노스</li>
                <li data-code="109">KTWIZ</li>
            </ul>
            <div class="message-success mt20">
                원하시는 프로팀을 선택해주세요!<br>
                <span>📢 프로팀을 꼭 입력해주셔야 합니다.</span>
            </div>

            <hr>

            <div class="button__box mt20">
                <button class="button button-common" id="cancel-team-modal" onclick="cancelBtnFnc()">취소하기</button>
                <button class="button button-primary" id="select-team" onclick="cancelBtnFnc()">선택하기</button>
            </div>
        </div>

        <script>
            let tmpTg = '';

            // 진행도 더하기
            const chkProgress = (i) => {
                let v = document.querySelector('.v-step').children;
                v[i].classList.add('checked');
            }

            // modal 열기
            const openTeamModal = () => {
                tmpTg = event.target.getAttribute('id');

                $('#team-modal').fadeIn()

                // selectTeamValue(tmpTg);
            }

            const selectTeamValue = (tgName) => {
                let selectTeam = document.querySelector('#select-team');
                let tg = document.querySelector('#' + tgName)

                tg.innerText = selectTeam.getAttribute('team');
                tg.setAttribute('data-code', selectTeam.getAttribute('data-code'));
            }

            // team-list add eventListener
            document.querySelector('#team-list').addEventListener('click', () => {
                removeSelectedCss();
                let selectTeam = document.querySelector('#select-team');
                selectTeam.setAttribute('data-code', event.target.getAttribute('data-code'));
                selectTeam.setAttribute('team', event.target.innerText);
                event.target.classList.add('selected');
            })

            const insertValue = (tgName) => {
                const rr = document.querySelector('#' + tgName);
                let selectTeam = document.querySelector('#select-team');

                console.log(rr)
                rr.innerText = selectTeam.getAttribute('team');
                rr.setAttribute('data-code', selectTeam.getAttribute('data-code'));

            }
            // 취소버튼
            const cancelBtnFnc = () => {
                let ii = '#team-modal';
                removeSelectedCss()
                cancelTeamModal(ii);

                // validation bar 올리기
                let a = document.querySelector('#homeTeam').getAttribute('data-code')
                let b = document.querySelector('#awayTeam').getAttribute('data-code')

                if (a != null && b != null) {
                    chkProgress(0);
                }
            }
            // 닫기
            const cancelTeamModal = (target) => {
                selectTeamValue(tmpTg);

                $(target).fadeOut();
            }
            const removeSelectedCss = () => {
                document.querySelectorAll('#team-list > li').forEach(l => {
                    l.removeAttribute('class');
                })
            }
        </script>
        <!-- //team -->
    </div>

    <div id="member" class="tabcontent">
        <!-- member -->
        <div class="row" id="memberSelect">
            <div class="col-12">
                <span class="bf-4">멤버</span>
            </div>
            <div class="col-6">
                <div class="bf-2 text-center">홈팀</div>
                <div>
                    <select id="homeNum" class="form-control-lg" onchange="homeMemberNum()">
                        <option>멤버수</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>
                <div id="homeDiv">

                </div>
            </div>
            <div class="col-6 ">
                <div class="bf-2 text-center">원정팀</div>
                <div>
                    <select id="awayNum" class="form-control-lg" onchange="awayMemberNum()">
                        <option>멤버수</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>
                <div id="awayDiv">

                </div>
            </div>
        </div>

        <hr class="mt20">

        <div class="message-success mt20">
            <span>📢 경기에 참가할 인원 수 만큼 입력 후<br>기록 입력을 원하시는 분은 아이디를 입력해주세요!</span>
        </div>
        <!-- //member -->
    </div>

    <div id="inning" class="tabcontent">
        <!-- inning -->
        <span class="bf-4">이닝</span>
        <div class="button__box" id="inningValue">
            <button class="c-button" data-val="3">3 이닝</button>
            <button class="c-button" data-val="6">6 이닝</button>
            <button class="c-button" data-val="9">9 이닝</button>
        </div>

        <hr class="mt20">

        <div class="message-success mt20">
            <span>📢 예약하시는 경기의<br>총 이닝 수를 선택해주세요!</span>
        </div>
        <!-- //inning -->
    </div>

    <!-- buttons -->
    <div class="res-button-box">
        <div class="button__box col-12">
            <a th:href="${'/cli/deleteReservation?resId=' + reservation.getResId()}" class="button button-common" id="cancel">취소</a>
            <button class="button button-primary" id="prevBtn" onclick="prevFnc()">이전</button>
            <button class="button button-primary" id="nextBtn" onclick="nextFnc()">다음</button>
            <button class="button button-danger dp-none" id="submitBtn" data-chk="n" onclick="finalDataProcessing()">제출</button>
        </div>
    </div>

    <!-- modal tab menu 용 script -->
    <script>
        let tabChk = 0;

        const selectInning = () => {
            document.querySelector('#inningValue').addEventListener('click', () => {
                if (event.target.tagName == 'BUTTON') {
                    removeSelected('.' + event.target.className)
                    let val = event.target.getAttribute('data-val');
                    event.target.classList.add('active');
                    chkProgress(2);

                    // validate
                    validateFrm()
                }
            })
        }
        selectInning()

        const removeSelected = (t) => {
            let group = document.querySelectorAll(t);
            group.forEach(i => i.className = i.className.replace(' active', ''))
        }

        // nextBtn, prevBtn 이벤트
        function prevFnc() {
            if (tabChk !== 0) {
                tabChk = tabChk - 1;

                // tabContent hide
                hideTabContent()

                // tablinks active 시키기
                removeTabAttr()

                let submitBtn = document.querySelector('#submitBtn')
                let submitBtnChk = submitBtn.getAttribute('data-chk')

                submitBtn.classList.add('dp-none')
                nextBtn.classList.remove('dp-none')

                let tablinks = document.getElementsByClassName("tablinks");
                tablinks[tabChk].className += " active";

                let tabcontent = document.getElementsByClassName("tabcontent");
                tabcontent[tabChk].style.display = "block";
            }

        }

        function nextFnc() {
            if (tabChk !== 2) {
                tabChk = tabChk + 1;

                // tabContent hide
                hideTabContent()

                // tablinks active 시키기
                removeTabAttr()

                let tablinks = document.getElementsByClassName("tablinks");
                tablinks[tabChk].className += " active";

                let tabcontent = document.getElementsByClassName("tabcontent");
                tabcontent[tabChk].style.display = "block";
            }
        }

        function openCity(evt, cityName) {
            hideTabContent();
            removeTabAttr();
            displayContent(evt, cityName);
        }

        const hideTabContent = () => {
            let tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
        }
        const removeTabAttr = () => {
            let tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
        }
        const displayContent = (evt, cityName) => {
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }

    </script>


    <!-- 검색용 모달 -->
    <div th:class="modal" id="search-modal">
        <div th:class="modal-content">
            <t-h2 ko="회원검색"></t-h2>
            <input type="text" class="form-control-lg" id="searchVal"
                   name="searchVal" placeholder="Search"
                   aria-label="Search">

            <button class="c-button mt20" id="searchBtn"
                    type="button"><i class="fa-solid fa-magnifying-glass"></i> Search
            </button>

            <div class="bf-3 mt20">검색결과</div>
            <table class="table a-table">
                <tbody th:id="memberList" >

                </tbody>
            </table>

            <hr class="mt20">

            <input type="hidden" id="btnId">
            <input type="hidden" id="difficultyVal">
            <!-- 여기서 -->

            <div class="dp-none" id="diff_box">
                <div class="bf-3 mt20">난이도 입력</div>
                <!-- 난이도 입력 -->
                <div id="diff-list" class="button__box">
                    <button class="c-button" data-code="201">아마추어</button>
                    <button class="c-button" data-code="202">세미프로</button>
                    <button class="c-button" data-code="203">프로</button>
                </div>
            </div>


            <hr class="mt20">

            <div class="button__box mt20">
                <button class="button button-common" id="cancelBtn">취소하기</button>
                <button class="button button-primary" id="regMemberBtn">입력하기</button>
            </div>
        </div>
    </div>


    <script th:defer th:src="@{/js/ssgjs.js}"></script>

    <script>
        let memberInsertList = [];
        let bbbb = 0;

        // 제출하기 버튼
        const validateFrm = () => {
            let submitBtn = document.querySelector('#submitBtn')
            let submitBtnChk = submitBtn.getAttribute('data-chk')
            let nextBtn = document.querySelector('#nextBtn')
            let inningsVal = document.querySelector('#inningValue > .active').getAttribute('data-val')
            if (inningsVal != null) {
                nextBtn.classList.add('dp-none')
                submitBtn.classList.remove('dp-none')
            }
        }

        // insert game
        const insertGame = () => {
            return new Promise(async (res, rej) => {

                let memberId = document.querySelector('#currentMemberId').getAttribute('value');
                if (memberId == '') {
                    memberId = '비회원';
                }
                let inningsVal = document.querySelector('#inningValue > .active').getAttribute('data-val')

                // data 생성하기
                let gameInfo = {
                    'resId': document.querySelector('#currentResId').value,
                    'memberId': memberId,
                    'memberName': memberId,
                    'innings': inningsVal,
                    'homePlayteamCd': document.querySelector('#homeTeam').getAttribute('data-code'),
                    'awayPlayteamCd': document.querySelector('#awayTeam').getAttribute('data-code'),
                    'room': document.querySelector('#roomNo').getAttribute('data-room')
                }
                console.log(gameInfo);
                // ajax insert 처리
                await fetch('/cli/insertGame', {
                    method: 'post',
                    headers: {'Content-type': 'application/json'},
                    body: JSON.stringify(gameInfo)
                })
                    .then(res => res.text())
                    .then(res => {
                        bbbb = res;
                    })

                res('insertMemberGame function 실행해주세요!')
            })
        }


        const insertMemberGame = (res) => {
            return new Promise(async (res, rej) => {
                let gcd = 1;

                for (const l of memberInsertList) {
                    // data 생성
                    let memberGameInfo = {
                        'memberId': l.id,
                        'memberName': l.id,
                        'groundCd': gcd,
                        'difficultyCd': l.difficulty,
                        'gameId': bbbb
                    }

                    // 배열 수에 맞게 insert 처리
                    await fetch('/cli/insertMemberGame', {
                        method: 'post',
                        headers: {'Content-type': 'application/json'},
                        body: JSON.stringify(memberGameInfo)
                    })
                        .then(res => res.text())
                        .then(res => console.log(res))

                }
                res('member-game insert 처리됨.')
            })
        }

        const redirectPayPage = (res) => {
            console.log(res);
            return new Promise(async (res, rej) => {
                let resNo = document.querySelector('#currentResId').value;
                location.href = '/cli/resPay?resNo=' + resNo + '&gameId=' + bbbb;
            })
        }

        // 최종 Game, Member-Game insert 처리 실행 함수
        const finalDataProcessing = () => {
            if (confirm('해당 내용으로 예약하시겠습니까?')) {
                insertGame()
                    .then(res => insertMemberGame(res))
                    .then(res => redirectPayPage(res))
            }

        }


        document.querySelector('#diff-list').addEventListener('click', () => {
            // attr remove
            let tg = document.querySelector('#diff-list').children;
            for (i = 0; i < tg.length; i++) {
                tg[i].className = tg[i].className.replace(" active", "");
            }


            let txtVal = event.target.innerText;
            let codeVal = event.target.getAttribute('data-code');
            event.target.classList.add('active')

            let tt = document.querySelector('#difficultyVal');
            tt.setAttribute('value', txtVal);
            tt.setAttribute('data-code', codeVal);
        })

        const checkStep2 = () => {
            // validation bar 올리기
            let a = document.querySelector('#homeMembers')
            let b = document.querySelector('#awayMembers')
            console.log(a)
            console.log(b)

            if (a !== null && b !== null) {
                chkProgress(1);
            }
        }

        function homeMemberNum() {
            $("#homeMembers").remove();

            let homeNum = document.getElementById("homeNum")

            let homeNumId = homeNum.options[homeNum.selectedIndex].value;

            if (homeNumId.trim()) {
                console.log(homeNumId)
                let $div = $("<div>");

                $div.attr('id', 'homeMembers');
                $div.attr('class', 'res-member');
                $("#homeDiv").append($div);

                for (let i = 0; i < homeNumId; i++) {
                    let html = "";
                    html += `<div><button id=h` + (i + 1) + ` onclick="memberInsert(this)">`
                    html += (i + 1) + `번 멤버 입력</button>`
                    $("#homeMembers").append(html);

                }
            }
            checkStep2()
        }

        function awayMemberNum() {
            $("#awayMembers").remove();

            let awayNum = document.getElementById("awayNum")
            let awayNumId = awayNum.options[awayNum.selectedIndex].value;

            if (awayNumId.trim()) {
                console.log(awayNumId)
                let $div = $("<div>");

                $div.attr('id', 'awayMembers');
                $div.attr('class', 'res-member');
                $("#awayDiv").append($div);
                for (let i = 0; i < awayNumId; i++) {
                    let html = "";
                    html += `<div><button  id=a` + (i + 1) + ` onclick="memberInsert(this)">`
                    html += (i + 1) + `번 멤버 입력</button>`
                    $("#awayMembers").append(html);
                }
            }
            checkStep2()
        }
    </script>
    <script>
        let ccc;

        function memberInsert(e) {
            let btnId = e.getAttribute("id");
            $("#search-modal").fadeIn();
            $("#btnId").val(btnId);

        }

        //취소 버튼
        $("#cancelBtn").on("click", function () {

            $("#search-modal").fadeOut();

        })

        //search 버튼 클릭시 멤버 검색 ajax호출
        $("#searchBtn").on("click", function () {
            $.ajax({
                url: "/cli/searchMember",
                data: {memberId: $("#searchVal").val()}
            }).done(function (data) {
                $("#memberList").html('');
                for (list of data) {
                    $("#memberList").append(makeTr(list));
                }

                // 난이도 버튼 생성
                $('#diff_box').attr('class', ' ')
            })
        })

        //검색 결과 출력
        function makeTr(list) {
            var tr = $("<tr>");
            tr.append(`
        <td class="text-center">
          <input type="radio" name="radio">
        </td>
        <td class="text-center">${list.memberId}</td>
      `)
            return tr;
        }

        //등록버튼 클릭시 체크된 memberId값을 넘겨 ajax호출
        $("#regMemberBtn").on("click", function () {

            var radio = $('input[name=radio]:checked');
            var tr = radio.parent().parent();
            var td = tr.children();
            var code = td.eq(1).text();

            // 난이도 값


            console.log(code);

            let insertedList = $(".inserted")

            insertedList.each(function (index, item) {
                if ($(this).text() === code) {
                    alert("이미 입력된 id입니다")
                    code = null;
                }
            });

            if (!code) {
                alert("ID를 선택해주세요")
            } else {

                let btnId = $("#btnId").val();
                let diff = $('#difficultyVal').val();
                let diffCd = $('#difficultyVal').data('code');
                $("#" + btnId).text(code + ' [' + diff + ']');
                $("#" + btnId).attr('class', 'inserted');
                $("#" + btnId).attr('data-code', diff);
                memberInsertList.push({'id': code, 'difficulty': diffCd});
                console.log(memberInsertList);
                $("#search-modal").fadeOut();
            }

        });
    </script>

</th:block>
</html>