<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/cli_layout">

<th:block layout:fragment="content">

    <t-h1 ko="예약" en="RES"></t-h1>

    <div class="row align-items-center">
        <div class="col-8">
            <span id="dateVal" class="bf-4" onchange="reservedTimeCheck()" readonly></span>
        </div>
        <div th:class="col-4">
            <input th:type="button" class="c-button" id="rsvBtn" th:value="날짜변경">
        </div>
    </div>

    <hr>

    <div class="row justify-content-around mt20">
        <button onclick="prev()" class="c-button col-3">이전</button>
        <div>
            <span class="bf-4" id="room">1</span><span class="bf-4"> 구장</span>
        </div>
        <button onclick="next()" class="c-button col-3">다음</button>
    </div>

    <div class="mt20">
        <div>
            <table class="res-time">
                <tbody>
                <tr>
                    <td>
                        <button id="12" onclick="clickTimetable(12)">12:00</button>
                    </td>
                    <td>
                        <button id="13" onclick="clickTimetable(13)">13:00</button>
                    </td>
                    <td>
                        <button id="14" onclick="clickTimetable(14)">14:00</button>
                    </td>
                    <td>
                        <button id="15" onclick="clickTimetable(15)">15:00</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button id="16" onclick="clickTimetable(16)">16:00</button>
                    </td>
                    <td>
                        <button id="17" onclick="clickTimetable(17)">17:00</button>
                    </td>
                    <td>
                        <button id="18" onclick="clickTimetable(18)">18:00</button>
                    </td>
                    <td>
                        <button id="19" onclick="clickTimetable(19)">19:00</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button id="20" onclick="clickTimetable(20)">20:00</button>
                    </td>
                    <td>
                        <button id="21" onclick="clickTimetable(21)">21:00</button>
                    </td>
                    <td>
                        <button id="22" onclick="clickTimetable(22)">22:00</button>
                    </td>
                    <td>
                        <button id="23" onclick="clickTimetable(23)">23:00</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr class="mt20">

    <form name="myForm" method="post" action="info">
        <input type="hidden" id="date" name="date" required>
        <input type="hidden" id="roomNo" name="room" required>
        <input th:type="hidden" id="startTime" name="startTime" readonly required>
        <input th:type="hidden" id="endTime" name="endTime" readonly required>
        <div class="button__box mt20">
            <button class="button button-primary" type="button" onclick="check(myForm)">다음</button>
        </div>
    </form>

    <script th:defer th:src="@{/js/ssgjs.js}" ></script>
    <!--class="btn btn-success"-->
    <script>
        let roomNo = $('#room').text()
        $('#roomNo').val(roomNo);
        let date = $('#dateVal').text()
        $('#date').val(date);
    </script>
    <script>
        function check(f) {
            //this.form ==> document.myForm --> f
            if (f.date.value === "" || f.date.value.length === 0) {
                alert("일자를 선택해 주십시오")
            } else if (f.roomNo.value === "" || f.roomNo.value.length === 0) {
                alert("방을 선택해 주십시오")
            } else if (f.startTime.value === "" || f.startTime.value.length === 0) {
                alert("시간을 선택해 주십시오")
            } else {

                f.submit();
            }

        }
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            let date = new Date();

            let year = date.getFullYear();
            let month = ('0' + (date.getMonth() + 1)).slice(-2);
            let day = ('0' + date.getDate()).slice(-2);

            let dateString = year + '-' + month  + '-' + day;

            document.querySelector('#dateVal').innerText = dateString;

            let dt = document.querySelector('#date');
            dt.value = dateString;
            let room = document.querySelector('#room');
            room.value = '1';

            removeClass();
            reservedTimeCheck(dt.value, room.value);

            console.log(date)
            // document.querySelector('#dateVal').innerText = dateString;
        })
    </script>

</th:block>


</html>