<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script
            src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>
    <script th:defer th:src="@{/js/yjs.js}"></script>
    <link th:href="@{/css/h_style.css}" rel="stylesheet" type="text/css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div>

    <a-h1 ko="일별조회" en="RESERVATION"></a-h1>




    <div class="container-fluid">
        <div class="row">
            <div id="clock" class="bf-3 col-12" >clock</div>
            <div class="col-12 a__box nh">
                <div class="h_box bg-blue">
                    <a-h2 ko="상세정보"></a-h2>
                </div>

                <div class="f16">
                    <t-h2 ko="HOME TEAM"></t-h2>
                    <div>
                        <table class="table">
                            <tr class="homeList" th:each="homeList, index : ${homeTeamList}">
                                <td th:if="${homeList.memberId == null}" th:text="비회원"> </td>
                                <td th:unless="${homeList.memberId == null}" th:text="${homeList.memberId}"></td>
                                <td th:class="memberName" th:text="${homeList.memberName}"> </td>
                                <td th:text="${homeList.groundCd}"> </td>
                                <td th:text="'안타 : '+${homeList.hits}"> </td>
                                <td th:text="${homeList.homeruns}"> </td>
                                <td th:text="'최고 비거리 : '+${homeList.highestDistance}+'미터'"> </td>
                                <td th:text="'타석 : '+${homeList.batCounts}"> </td>
                                <td th:text="${homeList.batOrder}"> </td>
                                <td th:text="${homeList.difficultyCd}"> </td>
                                <td th:text="${homeList.gameId}"> </td>
                                <td th:text="'타율 : ' + ${homeList.getBattingAverage()}"> </td>
                                <td><button th:if="${homeList.memberId == null}" class="btn btn-primary">ID입력</button></td>

                            </tr>
                        </table>

                    </div>


                    <t-h2 ko="AWAY TEAM"></t-h2>
                    <div class="">
                        <table class="table">
                            <tr class="awayList" th:each="awayList, index : ${awayTeamList}">
                                <td th:if="${awayList.memberId == null}" th:text="비회원"> </td>
                                <td th:unless="${awayList.memberId == null}" th:text="${awayList.memberId}"></td>
                                <td th:class="memberName" th:text="${awayList.memberName}"> </td>
                                <td th:text="${awayList.groundCd}"> </td>
                                <td th:text="'안타 : '+${awayList.hits}"> </td>
                                <td th:text="${awayList.homeruns}"> </td>
                                <td th:text="'최고 비거리 : '+${awayList.highestDistance}+'미터'"> </td>
                                <td th:text="'타석 : '+${awayList.batCounts}"> </td>
                                <td th:text="${awayList.batOrder}"> </td>
                                <td th:text="${awayList.difficultyCd}"> </td>
                                <td th:text="${awayList.gameId}"> </td>
                                <td th:text="'타율 : ' + ${awayList.getBattingAverage()}"> </td>
                                <td><button th:if="${awayList.memberId == null}" class="btn btn-primary">ID입력</button></td>

                            </tr>
                        </table>
                    </div>
                </div>


                <div>
                    <button class="c-button" onclick="history.back()">뒤로가기</button>
                </div>
            </div>
        </div>
    </div>




    <div class="modal fade" tabindex="-1" role="dialog" id="eventModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">


                    <div class="row">
                        <div class="col-xs-12">
                            <label class="col-xs-4" for="memberId">ID</label>
                            <input class="inputModal" name="memberId" id="memberId" required="required">
                            </input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label class="col-xs-4" for="password">비밀번호</label>
                            <input class="inputModal" type="text" name="password" id="password"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer modalBtnContainer-addEvent">
                    <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary" id="save-event">입력</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>


</body>
<script>
    var Target = document.getElementById("clock");

    function clock() {
        var time = new Date();

        var month = time.getMonth();
        var date = time.getDate();
        var day = time.getDay();
        var week = ['일', '월', '화', '수', '목', '금', '토'];

        var hours = time.getHours();
        var minutes = time.getMinutes();
        var seconds = time.getSeconds();

        Target.innerText =
            `${month + 1}월 ${date}일 ${week[day]}요일 ` +
            `${hours < 10 ? `0${hours}` : hours}:${minutes < 10 ? `0${minutes}` : minutes}:${seconds < 10 ? `0${seconds}` : seconds}`;

    }

    clock();
    setInterval(clock, 1000); // 1초마다 실행
</script>
<script>
    $(".homeList").on("click", ".btn", insertMemberId)
    $(".awayList").on("click", ".btn", insertMemberId)

    function insertMemberId() {
        let memberName = $(this).prevAll(".memberName").text();
        let gameId = $("#gameId").text();
        console.log(gameId);
        $("#eventModal").modal();
        // $("#edit-start").val(dateCalBoot(info.event._instance.range.start));
        // $("#edit-end").val(dateCalBoot(info.event._instance.range.end));
        // $("#edit-title").val(info.event._def.title);

        $('#save-event').off('click').on('click', function () {
            let memberId = $('#memberId').val();
            let password = $('#password').val();


            $('#save-event').attr('data-dismiss', 'modal');

            $.ajax({
                url: "checkId",
                type: "POST",
                data: {
                    memberId: memberId,
                    password: password,
                    memberName: memberName,
                    gameId: gameId
                },
                success: function (response) {
                    console.log("리턴 결과" + response);
                    if (response == 0) {
                        alert("아이디가 없거나 비밀번호가 틀립니다")
                    } else {
                        alert(response);
                        location.reload();
                        // $.ajax({
                        //     url :
                        // })
                    }

                },
                fail: function (response) {
                    console.log(response.responseText);
                }
            });
            //첫번째 아쟉스 끝
        }) //버튼 클릭 이벤트 끝
    }
</script>
<script>
    let gameInfo = '${gameInfo}';
    let gameInfoList = '${gameInfoList}';

    console.log(gameInfo)


</script>


</html>