<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script
            src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>
    <script th:defer th:src="@{/js/yjs.js}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<h1>일별 조회</h1>
<h3 th:text="${date}"></h3>
<h4>근무자 등록</h4>
<table th:border="1">
    <thead>
    <tr>
        <th th:align="center" th:width="100">no</th>
        <th th:align="center" th:width="100">룸</th>
        <th th:align="center" th:width="500">시간</th>
        <th th:align="center" th:width="150">금액</th>
        <th th:align="center" th:width="150">예약자</th>
        <th th:align="center" th:width="150">결제상태</th>
        <th th:align="center" th:width="150">결제방법</th>
        <th th:align="center" th:width="150">게임상태</th>
        <th th:align="center" th:width="150">예약설정</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="l, index : ${dayResList}">
        <input type="hidden" id="resId" name="resId" th:value="${l.getResId()}">
        <td th:class="hidden" th:text="${l.getStatusCd}"></td>
        <td th:class="resId" th:align="center" th:text="${l.getResId()}">no</td>
        <td th:align="center" th:text="${l.getRoom()}">룸</td>
        <td th:align="center" th:class="time"
            th:text="|${#dates.format(l.getStartTime(), 'HH:mm')} - ${#dates.format(l.getEndTime(), 'HH:mm')} |">시간
        </td>
        <td th:align="center" th:class="price">금액</td>
        <td th:align="center" th:text="${l.memberName}">예약자</td>
        <td th:align="center" class="gameStatus">
            <convert-c-code th:data="${l.getPaymentStatusCd()}"></convert-c-code>
        </td>
        <td th:align="center">
            <convert-c-code th:data="${l.getPaymentMethodCd()}"></convert-c-code>
        </td>
        <td th:align="center">
            <convert-c-code th:data="${l.getStatusCd()}"></convert-c-code>
        </td>
        <td th:align="center" th:if="${l.getStatusCd()}== '701' or ${l.getStatusCd()}== '702' ">
            <button th:class="cancel">취소</button>
        </td>
        <td th:align="center" th:unless="${l.getStatusCd()}== '701' or ${l.getStatusCd()}== '702' "></td>
        <td th:align="center" th:width="150"><a th:class="details"
                                                th:href="${'reservation_day_detail?resId=' + l.getResId()}">상세히 보기</a>
        </td>
    </tr>
    </tbody>


</table>
<button>예약생성</button>

<!--모달 시작-->
<div class="modal fade" tabindex="-1" role="dialog" id="eventModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">


                <div class="row">
                    <div class="col-xs-12">
                        <label class="col-xs-4" for="memberId">ID</label>
                        <input class="inputModal" name="memberId" id="memberId" required="required">
                        </input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <label class="col-xs-4" for="password">비밀번호</label>
                        <input class="inputModal" type="text" name="password" id="password"/>
                    </div>
                </div>
            </div>
            <div class="modal-footer modalBtnContainer-addEvent">
                <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                <button type="button" class="btn btn-primary" id="save-event">입력</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


</body>
<script>
    let timeList = $("tbody").children().find(".time");
    let priceList = $("tbody").children().find(".price");
    let gameStatusList = $("tbody").children().find(".gameStatus");
    console.log(timeList);
    console.log(priceList);


    let length = timeList.length;
    for (let i = 0; i < length; i++) {
        var text = timeList[i].innerHTML;
        var startTime = text.substring(0, 2);
        var endTime = text.substring(8, 10);
        var time = endTime - startTime;
        console.log(text);
        timeList[i].innerHTML = text + "&nbsp" + "(" + time + "시간)";
        priceList[i].innerHTML = time * 50000;
    }
    console.log(length);
</script>

<script>
    console.log($(".cancel"));
</script>

<script>
    $("tbody").on("click", ".cancel", function () {
        let statusCd = ($(this).closest($("tr")).find($(".hidden")).text());
        let resId = ($(this).closest($("tr")).find($(".resId")).text());
        console.log(statusCd);
        console.log(resId);
        if (!confirm("예약경기를 취소하시겠습니까? 취소하시려먼 확인, 취소하지 않으시려면 취소를 눌러주세요")) {
            alert("취소");
        } else {
            $.ajax({
                url: "update_payment_cd",
                method: 'POST',
                data: {resId: resId}
            }).done(function (response) {
                location.reload();
            })


            alert("확인");
        }
    })


</script>
<script>
    $(".hidden").attr('style', "display:none;");
</script>
<script>

</script>

</html>