<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/adm_layout">

<body>
<th:block layout:fragment="content">
    <style>
        .processCompleteYn {
            background-color: #25f54e;
            width: 30px;
            height: 30px;
            border-radius: 50px;
        }
        #myProgress {
            position: relative;
            width: 50%;
            height: 30px;
            background-color: #ddd;
        }

        #myBar {
            position: absolute;
            height: 100%;
            background-color: #4CAF50;
        }

        #label {
            text-align: center;
            line-height: 30px;
            color: white;
        }
    </style>

    <div class="row">

        <div class="col-4 a__box">
            <t-h2 ko="현재 출근한 근무자"></t-h2>
            <div class="bf-3" id="notInComment"></div>
            <div id="myProgress" style="display: none">
                <div id="myBar">
                    <div id="label">0%</div>
                </div>
            </div>
            <div id="div2"><br>
                <p id="dd"></p>
            </div>
            <div id="out"><br>
                <h1 id="demo"></h1>
            </div>
        </div>

        <div class="col-4 a__box">
            <t-h2 ko="체크리스트"></t-h2>


            <table class="table table-hover">
                <tbody id="checkList">

                </tbody>
            </table>
            <div class="button__box mt20">
                <button class="c-button" onclick = "location.href = '/adm/todo' ">바로가기</button>
            </div>
        </div>


        <div class="col-4 a__box">
            <t-h2 ko="금일의 매출"></t-h2>
            <div id="chart_div2"></div><br>
        </div>

        <div class="col-12 a__box f16">
            <t-h2 ko="주간 근무표"></t-h2>

            <div id="today" class="bf-3 p">
                주간 근무표 + 자바스크립트로 오늘 날짜 시간 포맷
            </div>
            <table class="table mt20 f16">
                <thead id="thead">

                </thead>
                <tbody id="tbody">

                </tbody>
            </table>
        </div>

    </div>







    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script>
        let count = 0;

        var today = new Date();
        var dateString = today.getFullYear() + "-" + ('0' + (today.getMonth() + 1)).slice(-2) + "-" + ('0' + today.getDate()).slice(-2);
        $('#today').html(dateString);

        //이번 주 7일 + 요일 구해서 tr태그 동적으로 만들어주기.
        function weekFind(){
            var currentDay = new Date();
            var theYear = currentDay.getFullYear();
            var theMonth = currentDay.getMonth();
            var theDate  = currentDay.getDate();
            var theDayOfWeek = currentDay.getDay();

            var thisWeek = [];
            var week = ['일', '월', '화', '수', '목', '금', '토'];

            for(var i=0; i<7; i++) {
                var resultDay = new Date(theYear, theMonth, theDate + (i - theDayOfWeek));
                var yyyy = resultDay.getFullYear();
                var mm = Number(resultDay.getMonth()) + 1;
                var dd = resultDay.getDate();
                var dayOfWeek = week[new Date(yyyy + '-' + mm + '-' + dd).getDay()];

                mm = String(mm).length === 1 ? '0' + mm : mm;
                dd = String(dd).length === 1 ? '0' + dd : dd;

                thisWeek[i] = yyyy + '-' + mm + '-' + dd + "(" + dayOfWeek + ")";
            }
            console.log(thisWeek);

            // 이번주 날짜가 들어간 태그 만들기.
            // 오늘은 빨간색으로 표시됨.
            //<td>태그 안에 실제근무자가 한번 더 표시되게.
            var tr =  "<tr>";
            for (let i = 0; i < thisWeek.length; i++) {
                if(thisWeek[i].indexOf(dateString) == -1){
                    tr += "<td>" + thisWeek[i] + "</td>";
                }else{
                    tr += "<td style='color: #ca2819'>" + thisWeek[i] + "</td>";
                }
            }
            tr += "</tr>"
            $('#thead').append(tr);

            $.ajax({
                url : "jsonSheetList"
            }).done(function(response){
                console.log(response);
                // 1부 근무자들을 대상으로 동적으로 tr태그를 만들어줌.
                tr = "<tr>";
                for (let i = 0; i < response.length; i++) {
                    if(response[i].quittingTime.substring(11,21).replace('24', '') == "07:30:00"){
                        tr += "<td>" + response[i].workerId + "</td>"
                    }
                }
                tr += "</tr>";
                $('#tbody').append(tr);

                // 2부 근무자들
                var tr2 = "<tr>";
                for (let i = 0; i < response.length; i++) {
                    if(response[i].quittingTime.substring(11,21).replace('24', '') == "11:59:00"){
                        tr2 += "<td>" + response[i].workerId + "</td>"
                    }
                }
                tr2 += "</tr>";
                $('#tbody').append(tr2);
            })
        }
        weekFind();

        $.ajax({
            url: "bringTodayList"
        }).done(function (response) {
            console.log(response);
            var content = "";
            for (let i = 0; i < response.length; i++) {
                makeTr(response[i])
            }
        })

        $.ajax({
            url : "getNowWorker"
        }).done(function(response){
            console.log(response.workerId);
            let workerId = response.workerId
            $.ajax({
                url: "selectInUser",
                data: {workerId: workerId}
            }).done(function (response) {

                if(workerId == ''){
                    $('#notInComment').html('현재 근무자가 없습니다.')
                }else{
                    $('#label').html(response.vo.percent + '%');
                    if (response.vo.inMTime != null && response.vo.outTime == null) {
                        move(response.vo.percent, response.vo.getMTime);
                        timer(response.vo.getMTime);
                    }
                }
            })
        })

        function move(percent, leftTime) {
            console.log(leftTime);
            console.log(percent)
            document.getElementById('myProgress').style.display = "block";
            var elem = document.getElementById("myBar");
            var width = percent;


            var id = setInterval(frame, leftTime * 10);
            elem.style.width = percent + '%';

            function frame() {
                if (width >= 100) {
                    clearInterval(id);
                    document.getElementById('myProgress').style.display = "none";
                    document.getElementById('dd').innerHTML = '퇴근하세요!';
                    document.getElementById('btn').style.display = "none";

                } else {
                    width++;
                    elem.style.width = width + '%';
                    document.getElementById("label").innerHTML = width * 1 + '%';
                }
            }
        }

        function timer(time) {
            var time = time;
            var hour = "";
            var min = "";
            var sec = "";

            var x = setInterval(function () {
                hour = parseInt(time / 60 / 60);
                min = parseInt(time / 60 % 60);
                sec = time % 60;

                $('#demo').html(hour + "시간" + min + "분" + sec + "초");
                time--;

                if (time < 0) {
                    clearInterval(x);
                    $('#demo').html("시간초과");
                }
            }, 1000);
        }


        function makeCheckListNum() {
            count++
            return count;
        }

        function makeTr(response) {
            let checked = '';
            let textDeco = '';
            if (response.isChk == 1) {
                checked = 'checked';
                textDeco = 'text-decoration:' + 'line-through';
            }
            let process = '';
            if (response.processComplete == 1) {
                process = 'processCompleteYn'
            }
            content = "<tr class='container' readonly>";
            content += `<td width='30' class="${process}">` + "</td>"
            content += `<td><input type='checkbox' value="${response.isChk}" id="${response.chkNo}" ${checked} class="checkList" onClick="return false;">` + "</td>"
            content += "<td>" + makeCheckListNum() + "</td>"
            content += `<td style=${textDeco}; class="${response.chkPicFileName}">` + response.chkContents + "</td>"
            content += "<td><button type='submit' class='processComplete btn btn-outline-dark'>해결</button></td>"
            content += `<td><button type='submit' class='btn btn-outline-dark' chk-no='${response.chkNo}'>상세정보</button></td>`
            content += "</tr>"

            $('#checkList').append(content)
        }

        function drawMemNonMemChart(){
            var options = {'title':'회원 비회원 구분',
                'width':400,
                'height':300,
                legend: { position: 'bottom' }
            };

            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', '부서');
            data.addColumn('number', '매출');

            let jsonData;
            let day = $('input[name="day"]:checked').val();
            let firstDate = $('#pickLogic').children('input:eq(0)').val();
            let lastDate = $('#pickLogic').children('input:eq(1)').val();

            //요일 선택하지 않았을때
            if(day == undefined){
                day = 0;
            }

            //ajax 호출
            $.ajax({
                url : "todaySell"
            }).done(function(datas){
                console.log(datas);
                jsonData = [];
                for(let data of datas){
                    jsonData.push([data.member, data.paymentAmount])
                }
                console.log(jsonData);
                data.addRows(jsonData);
                var chart = new google.visualization.BarChart(document.getElementById('chart_div2'))
                chart.draw(data, options);
            })
        }

        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart(){
            drawMemNonMemChart();
        }

    </script>

</th:block>
</body>
</html>