<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/adm_layout">

<body>
<th:block layout:fragment="content">
    <style>
        .processCompleteYn {
            background-color: #25f54e;
            width: 30px;
            height: 30px;
            border-radius: 50px;
        }
        #myProgress {
            position: relative;
            width: 50%;
            height: 30px;
            background-color: #ddd;
        }

        #myBar {
            position: absolute;
            height: 100%;
            background-color: #4CAF50;
        }

        #label {
            text-align: center;
            line-height: 30px;
            color: white;
        }
    </style>
    <h1>체크리스트</h1>
    <div>
        <button onclick = "location.href = '/adm/todo' ">바로가기</button>
        <table class="table table-hover">
            <tbody id="checkList">

            </tbody>
        </table>
    </div>
    <h1>현재 출근한 근무자</h1><br>
    <h2 id="notInComment"></h2>
    <div id="myProgress" style="display: none">
        <div id="myBar">
            <div id="label">0%</div>
        </div>
    </div>
    <div id="div2"><br>
        <p id="dd"></p>
    </div>
    <div id="out"><br>
        <h1 id="demo"></h1>
    </div>
    <h1>금일의 매출</h1><br>
    <div id="chart_div2"></div><br>
    <h1>주간 근무표</h1>

    <div id="today">
        주간 근무표 + 자바스크립트로 오늘 날짜 시간 포맷
    </div>
    <div>
        <table>
            <thead id="thead">

            </thead>
            <tbody id="tbody">

            </tbody>
        </table>
    </div>

    <div class="row">

        <!-- Content Column -->
        <div class="col-lg-6 mb-4">

            <!-- Project Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Projects</h6>
                </div>
                <div class="card-body">
                    <h4 class="small font-weight-bold">Server Migration <span class="float-right">20%</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">Sales Tracking <span class="float-right">40%</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">Customer Database <span class="float-right">60%</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">Payout Details <span class="float-right">80%</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">Account Setup <span class="float-right">Complete!</span></h4>
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>

            <!-- Color System -->
            <div class="row">
                <div class="col-lg-6 mb-4">
                    <div class="card bg-primary text-white shadow">
                        <div class="card-body">
                            Primary
                            <div class="text-white-50 small">#4e73df</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card bg-success text-white shadow">
                        <div class="card-body">
                            Success
                            <div class="text-white-50 small">#1cc88a</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card bg-info text-white shadow">
                        <div class="card-body">
                            Info
                            <div class="text-white-50 small">#36b9cc</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card bg-warning text-white shadow">
                        <div class="card-body">
                            Warning
                            <div class="text-white-50 small">#f6c23e</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card bg-danger text-white shadow">
                        <div class="card-body">
                            Danger
                            <div class="text-white-50 small">#e74a3b</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card bg-secondary text-white shadow">
                        <div class="card-body">
                            Secondary
                            <div class="text-white-50 small">#858796</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card bg-light text-black shadow">
                        <div class="card-body">
                            Light
                            <div class="text-black-50 small">#f8f9fc</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card bg-dark text-white shadow">
                        <div class="card-body">
                            Dark
                            <div class="text-white-50 small">#5a5c69</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-6 mb-4">

            <!-- Illustrations -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Illustrations</h6>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="img/undraw_posting_photo.svg" alt="...">
                    </div>
                    <p>Add some quality, svg illustrations to your project courtesy of <a target="_blank" rel="nofollow" href="https://undraw.co/">unDraw</a>, a
                        constantly updated collection of beautiful svg images that you can use
                        completely free and without attribution!</p>
                    <a target="_blank" rel="nofollow" href="https://undraw.co/">Browse Illustrations on
                        unDraw →</a>
                </div>
            </div>

            <!-- Approach -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Development Approach</h6>
                </div>
                <div class="card-body">
                    <p>SB Admin 2 makes extensive use of Bootstrap 4 utility classes in order to reduce
                        CSS bloat and poor page performance. Custom CSS classes are used to create
                        custom components and custom utility classes.</p>
                    <p class="mb-0">Before working with this theme, you should become familiar with the
                        Bootstrap framework, especially the utility classes.</p>
                </div>
            </div>

        </div>
    </div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script>
        let count = 0;

        var today = new Date();
        var dateString = today.getFullYear() + "-" + ('0' + (today.getMonth() + 1)).slice(-2) + "-" + ('0' + today.getDate()).slice(-2);
        $('#today').html(dateString);

        //이번 주 7일 + 요일 구해서 tr태그 동적으로 만들어주기.
        function weekFind(){
            var currentDay = new Date();
            var theYear = currentDay.getFullYear();
            var theMonth = currentDay.getMonth();
            var theDate  = currentDay.getDate();
            var theDayOfWeek = currentDay.getDay();

            var thisWeek = [];
            var week = ['일', '월', '화', '수', '목', '금', '토'];

            for(var i=0; i<7; i++) {
                var resultDay = new Date(theYear, theMonth, theDate + (i - theDayOfWeek));
                var yyyy = resultDay.getFullYear();
                var mm = Number(resultDay.getMonth()) + 1;
                var dd = resultDay.getDate();
                var dayOfWeek = week[new Date(yyyy + '-' + mm + '-' + dd).getDay()];

                mm = String(mm).length === 1 ? '0' + mm : mm;
                dd = String(dd).length === 1 ? '0' + dd : dd;

                thisWeek[i] = yyyy + '-' + mm + '-' + dd + "(" + dayOfWeek + ")";
            }
            console.log(thisWeek);

            // 이번주 날짜가 들어간 태그 만들기.
            // 오늘은 빨간색으로 표시됨.
            //<td>태그 안에 실제근무자가 한번 더 표시되게.
            var tr =  "<tr>";
            for (let i = 0; i < thisWeek.length; i++) {
                if(thisWeek[i].indexOf(dateString) == -1){
                    tr += "<td>" + thisWeek[i] + "</td>";
                }else{
                    tr += "<td style='color: #ca2819'>" + thisWeek[i] + "</td>";
                }
            }
            tr += "</tr>"
            $('#thead').append(tr);

            $.ajax({
                url : "jsonSheetList"
            }).done(function(response){
                console.log(response);
                // 1부 근무자들을 대상으로 동적으로 tr태그를 만들어줌.
                tr = "<tr>";
                for (let i = 0; i < response.length; i++) {
                    if(response[i].quittingTime.substring(11,21).replace('24', '') == "07:30:00"){
                        tr += "<td>" + response[i].workerId + "</td>"
                    }
                }
                tr += "</tr>";
                $('#tbody').append(tr);

                // 2부 근무자들
                var tr2 = "<tr>";
                for (let i = 0; i < response.length; i++) {
                    if(response[i].quittingTime.substring(11,21).replace('24', '') == "11:59:00"){
                        tr2 += "<td>" + response[i].workerId + "</td>"
                    }
                }
                tr2 += "</tr>";
                $('#tbody').append(tr2);
            })
        }
        weekFind();

        $.ajax({
            url: "bringTodayList"
        }).done(function (response) {
            console.log(response);
            var content = "";
            for (let i = 0; i < response.length; i++) {
                makeTr(response[i])
            }
        })

        $.ajax({
            url : "getNowWorker"
        }).done(function(response){
            console.log(response.workerId);
            let workerId = response.workerId
            $.ajax({
                url: "selectInUser",
                data: {workerId: workerId}
            }).done(function (response) {

                if(workerId == ''){
                    $('#notInComment').html('현재 근무자가 없습니다.')
                }else{
                    $('#label').html(response.vo.percent + '%');
                    if (response.vo.inMTime != null && response.vo.outTime == null) {
                        move(response.vo.percent, response.vo.getMTime);
                        timer(response.vo.getMTime);
                    }
                }
            })
        })

        function move(percent, leftTime) {
            console.log(leftTime);
            console.log(percent)
            document.getElementById('myProgress').style.display = "block";
            var elem = document.getElementById("myBar");
            var width = percent;


            var id = setInterval(frame, leftTime * 10);
            elem.style.width = percent + '%';

            function frame() {
                if (width >= 100) {
                    clearInterval(id);
                    document.getElementById('myProgress').style.display = "none";
                    document.getElementById('dd').innerHTML = '퇴근하세요!';
                    document.getElementById('btn').style.display = "none";

                } else {
                    width++;
                    elem.style.width = width + '%';
                    document.getElementById("label").innerHTML = width * 1 + '%';
                }
            }
        }

        function timer(time) {
            var time = time;
            var hour = "";
            var min = "";
            var sec = "";

            var x = setInterval(function () {
                hour = parseInt(time / 60 / 60);
                min = parseInt(time / 60 % 60);
                sec = time % 60;

                $('#demo').html(hour + "시간" + min + "분" + sec + "초");
                time--;

                if (time < 0) {
                    clearInterval(x);
                    $('#demo').html("시간초과");
                }
            }, 1000);
        }


        function makeCheckListNum() {
            count++
            return count;
        }

        function makeTr(response) {
            let checked = '';
            let textDeco = '';
            if (response.isChk == 1) {
                checked = 'checked';
                textDeco = 'text-decoration:' + 'line-through';
            }
            let process = '';
            if (response.processComplete == 1) {
                process = 'processCompleteYn'
            }
            content = "<tr class='container' readonly>";
            content += `<td width='30' class="${process}">` + "</td>"
            content += `<td><input type='checkbox' value="${response.isChk}" id="${response.chkNo}" ${checked} class="checkList" onClick="return false;">` + "</td>"
            content += "<td>" + makeCheckListNum() + "</td>"
            content += `<td style=${textDeco}; class="${response.chkPicFileName}">` + response.chkContents + "</td>"
            content += "<td><button type='submit' class='processComplete btn btn-outline-dark'>해결</button></td>"
            content += `<td><button type='submit' class='btn btn-outline-dark' chk-no='${response.chkNo}'>상세정보</button></td>`
            content += "</tr>"

            $('#checkList').append(content)
        }

        function drawMemNonMemChart(){
            var options = {'title':'회원 비회원 구분',
                'width':400,
                'height':300,
                legend: { position: 'bottom' }
            };

            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', '부서');
            data.addColumn('number', '매출');

            let jsonData;
            let day = $('input[name="day"]:checked').val();
            let firstDate = $('#pickLogic').children('input:eq(0)').val();
            let lastDate = $('#pickLogic').children('input:eq(1)').val();

            //요일 선택하지 않았을때
            if(day == undefined){
                day = 0;
            }

            //ajax 호출
            $.ajax({
                url : "todaySell"
            }).done(function(datas){
                console.log(datas);
                jsonData = [];
                for(let data of datas){
                    jsonData.push([data.member, data.paymentAmount])
                }
                console.log(jsonData);
                data.addRows(jsonData);
                var chart = new google.visualization.BarChart(document.getElementById('chart_div2'))
                chart.draw(data, options);
            })
        }

        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart(){
            drawMemNonMemChart();
        }

    </script>

</th:block>
</body>
</html>