<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/adm_layout">
<th:block layout:fragment="content">

    <a-h1 ko="회원 관리" en="BLACKLIST"></a-h1>


    <!--BlackList Start-->
    <div class="row f14">
        <div class="col-12 a__box">
            <div class="h_box">
                <a-h2 ko="블랙리스트"></a-h2>
            </div>

            <table class="table f14">
                <thead>
                <tr>
                    <th>번호</th>
                    <th>아이디</th>
                    <th>이름</th>
                    <th>연락처</th>
                    <th>회원등급</th>
                    <th>블랙리스트 상태</th>
                    <th>블랙리스트 사유</th>
                </tr>
                </thead>
                <tbody th:id="blackBody">
                <tr th:each="list:${blackInfo.list}">
                    <td><span th:text="${list.ROWNUM}"></span></td>
                    <td><span th:text="${list.memberId}"></span></td>
                    <td><span th:text="${list.memberName}"></span></td>
                    <td><span th:text="${list.tel}"></span></td>
                    <td>
                        <convert-c-code th:data="${list.grade}"></convert-c-code>
                    </td>
                    <td>
                        <select class="form-control blacklistYn">
                            <option th:if="${list.blacklistYn == 1 or list.blacklistYn ==2}" th:text="블랙리스트" th:value=1
                                    selected></option>
                            <option th:value=0>해제</option>
                        </select></td>
                    <td><span th:text="${list.blacklistReason}"></span></td>
                </tr>
                </tbody>
            </table>
            <!--BlackList End-->
            <!-- 페이징 -->
            <nav>
                <ul class="pagination">
                    <!-- getPrePage : 이전 페이지 -->
                    <li class="page-item" th:classappend="${blackInfo.getPrePage() == 0} ? 'disabled'">
                        <a th:href="@{blackList(pageNum=${blackInfo.getPrePage()})}"><</a>
                    </li>
                    <!-- getNavigateFirstPage() : 페이징의 처음 숫자 getNavigateLastPage : 페이징의 마지막 숫자를 이용해 페이징 숫자 출력 -->
                    <li class="page-item"
                        th:each="page: ${#numbers.sequence(blackInfo.getNavigateFirstPage(), blackInfo.getNavigateLastPage())}"
                        th:classappend="${page == blackInfo.getPageNum()} ? 'active'">
                        <a th:text="${page}" th:href="@{blackList(pageNum=${page})}"></a>
                    </li>
                    <!-- getPrePage : 다음 페이지 -->
                    <li class="page-item" th:classappend="${blackInfo.getNextPage() == 0} ? 'disabled'">
                        <a th:href="@{blackList(pageNum=${blackInfo.getNextPage()})}">></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <script>

        var prev_val;
        $('.blacklistYn').focus(function () {
            prev_val = $(this).val();
        }).change(function () {
            console.log(prev_val)
            var success = confirm("블랙리스트를 해제하시겠습니까?");
            var memId = $(this).parent().parent().children().children().eq(1).text();
            var blackVal = 0;
            if (success) {
                $.ajax({
                    url: "/adm/blackUpdate",
                    method: "POST",
                    data: {memberId: memId, blacklistYn: blackVal}
                }).done(function () {
                    location.reload();
                })
            } else {
                $(this).val(prev_val);
                return false;
            }
        });

    </script>
</th:block>
</html>