<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/adm_layout">
<th:block layout:fragment="content">

    <t-h1 ko="회원 관리" en="MEMBERLIST"></t-h1>

    <t-h2 ko="회원리스트"></t-h2>

    <!--MemberList Start-->
    <div class="row f14">
        <div class="col-12">
            <form th:id="frm" action="/adm/searchMember" method="get">
                <div>
                    <input type="text" class="form-control" id="memberId"
                           name="memberId" placeholder="Search"
                           aria-label="Search">
                    <button class="c-button" id="searchBtn"
                            type="submit">Search
                    </button>
                </div>
                <table class="table f14">
                    <thead>
                    <tr>
                        <th>번호</th>
                        <th>아이디</th>
                        <th>이름</th>
                        <th>연락처</th>
                        <th>회원등급</th>
                    </tr>
                    </thead>
                    <tbody th:id="memberBody">
                    <tr th:each="list:${pageInfo.list}">
                        <td><span th:text="${list.ROWNUM}"></span></td>
                        <td><span th:text="${list.memberId}"></span></td>
                        <td><span th:text="${list.memberName}"></span></td>
                        <td><span th:text="${list.tel}"></span></td>
                        <td><select class="form-control" id="memberlistYn">
                            <option th:if="${list.grade == 301}" th:text="일반" th:value=301 selected></option>
                            <option th:if="${list.grade == 302}" th:text="VIP" th:value=302 selected></option>
                            <option th:if="${list.grade == 303}" th:text="VVIP" th:value=303 selected></option>
                            <option th:if="${list.grade == 304}" th:text="SVIP" th:value=304 selected></option>
                            <option th:value=301>일반</option>
                            <option th:value=302>VIP</option>
                            <option th:value=303>VVIP</option>
                            <option th:value=304>SVIP</option>
                        </select></td>
                    </tr>
                    </tbody>
                </table>
                <!--MemberList End-->
                <!-- 페이징 -->
                <nav>
                    <ul class="pagination">
                        <!-- getPrePage : 이전 페이지 -->
                        <li class="page-item" th:classappend="${pageInfo.getPrePage() == 0} ? 'disabled'">
                            <a th:href="@{memberList(pageNum=${pageInfo.getPrePage()})}"><</a>
                        </li>
                        <!-- getNavigateFirstPage() : 페이징의 처음 숫자 getNavigateLastPage : 페이징의 마지막 숫자를 이용해 페이징 숫자 출력 -->
                        <li class="page-item"
                            th:each="page: ${#numbers.sequence(pageInfo.getNavigateFirstPage(), pageInfo.getNavigateLastPage())}"
                            th:classappend="${page == pageInfo.getPageNum()} ? 'active'">
                            <a th:text="${page}" th:href="@{memberList(pageNum=${page})}"></a>
                        </li>
                        <!-- getPrePage : 다음 페이지 -->
                        <li class="page-item" th:classappend="${pageInfo.getNextPage() == 0} ? 'disabled'">
                            <a th:href="@{memberList(pageNum=${pageInfo.getNextPage()})}">></a>
                        </li>
                    </ul>
                </nav>
            </form>
        </div>
    </div>

    <script>
        var prev_val;
        $('#memberlistYn').focus(function () {
            prev_val = $(this).val();
        }).change(function () {
            console.log($('#blacklistYn option:selected').val())
            var success = confirm("수정하시겠습니까?");
            var memId = $(this).parent().parent().children().children().eq(1).text();
            var gradeVal = $('#memberlistYn option:selected').val();
            if (success) {
                $.ajax({
                    url: "/adm/gradeUpdate",
                    method: "POST",
                    data: {memberId: memId, grade: gradeVal}
                })
            } else {
                $(this).val(prev_val);
                return false;
            }
        });
    </script>
</th:block>
</html>