<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/adm_layout">
<th:block layout:fragment="content">

    <a-h1 ko="오늘 할일" en="TODO-LIST"></a-h1>


    <div class="row">
        <div class="col-12 a__box">
            <div class="h_box">
                <a-h2 ko="메세지"></a-h2>
            </div>

            <div>
                <table class="table f16">
                    <tbody>
                        <tr th:each="m:${msg}">
                            <td class="text-left" th:text="${m.getMessageContents()}"></td>
                            <td class="text-center msgTime"
                                th:if="${#strings.substring(m.getMsgTime(),0,10) == #calendars.format(#calendars.createNow(), 'yyyy-MM-dd')}"
                                th:text="${m.getMsgTime()}"></td>
                            <td class="text-center"
                                th:unless="${#strings.substring(m.getMsgTime(),0,10) == #calendars.format(#calendars.createNow(), 'yyyy-MM-dd')}"
                                th:text="${m.getMsgTime()}"></td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>

        function dateFormat(date) {
            let month = date.getMonth() + 1;
            let day = date.getDate();

            month = month >= 10 ? month : '0' + month;
            day = day >= 10 ? day : '0' + day;

            return date.getFullYear() + '-' + month + '-' + day;
        }

        $(document).ready(curDate());

        function curDate() {
            $('.msgTime').attr('style', 'color:red')
        }


    </script>
</th:block>
</html>