<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/adm_layout">
<th:block layout:fragment="content">

    <t-h1 ko="오늘 할일" en="TODO-LIST"></t-h1>


    <div class="container-fluid">
        <div class="col a__box">
            <t-h2 ko="메세지"></t-h2>
            <div>
                <table class="table f16">
                    <tbody th:each="m:${msg}">
                    <tr>
                        <td class="text-left" th:text="${m.getMessageContents()}"></td>
                        <td class="text-center msgTime"
                            th:if="${#strings.substring(m.getMsgTime(),0,10) == #calendars.format(#calendars.createNow(), 'yyyy-MM-dd')}"
                            th:text="${m.getMsgTime()}"></td>
                        <td class="text-center"
                            th:unless="${#strings.substring(m.getMsgTime(),0,10) == #calendars.format(#calendars.createNow(), 'yyyy-MM-dd')}"
                            th:text="${m.getMsgTime()}"></td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>

        function dateFormat(date) {
            let month = date.getMonth() + 1;
            let day = date.getDate();

            month = month >= 10 ? month : '0' + month;
            day = day >= 10 ? day : '0' + day;

            return date.getFullYear() + '-' + month + '-' + day;
        }

        $( document ).ready(curDate());

        function curDate(){
            $('.msgTime').attr('style','color:red')
        }


    </script>
</th:block>
</html>