<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/adm_layout">
<th:block layout:fragment="content">

    <t-h1 ko="회원 관리" en="TEAMLIST"></t-h1>

    <t-h2 ko="팀리스트"></t-h2>

    <!--TeamList Start-->
    <div class="row f14">
        <div class="col-12">
            <form th:id="frm" action="/adm/searchTeam" method="get">
                <div>
                    <input type="text" class="form-control" id="teamName"
                           name="teamName" placeholder="Search"
                           aria-label="Search">
                    <button class="c-button" id="searchBtn"
                            type="submit">Search
                    </button>
                </div>
                <table class="table f14">
                    <thead>
                    <tr>
                        <th>번호</th>
                        <th>팀명</th>
                        <th>팀장</th>
                    </tr>
                    </thead>
                    <tbody th:id="teamBody">
                    <tr th:each="list:${teamSearchInfo.list}">
                        <td>[[${list.ROWNUM}]]</td>
                        <td>[[${list.teamName}]]</td>
                        <td>[[${list.leader}]]</td>
                        <td>
                            <button type="button" class="addTeamBtn c-button">상세보기</button>
                        </td>
                        <input type="hidden" th:value="${list.teamId}">
                    </tr>
                    </tbody>
                </table>
                <!--TeamList End-->
                <!-- 페이징 -->
                <nav>
                    <ul class="pagination">
                        <!-- getPrePage : 이전 페이지 -->
                        <li class="page-item" th:classappend="${teamSearchInfo.getPrePage() == 0} ? 'disabled'">
                            <a th:href="@{searchTeam(teamName=${#request.getParameter('teamName')} ,pageNum=${teamSearchInfo.getPrePage()})}"><</a>
                        </li>
                        <!-- getNavigateFirstPage() : 페이징의 처음 숫자 getNavigateLastPage : 페이징의 마지막 숫자를 이용해 페이징 숫자 출력 -->
                        <li class="page-item" th:each="page: ${#numbers.sequence(teamSearchInfo.getNavigateFirstPage(), teamSearchInfo.getNavigateLastPage())}"
                            th:classappend="${page == teamSearchInfo.getPageNum()} ? 'active'">
                            <a th:text="${page}"
                               th:href="@{searchTeam(teamName=${#request.getParameter('teamName')} ,pageNum=${page})}"></a>
                        </li>
                        <!-- getPrePage : 다음 페이지 -->
                        <li class="page-item" th:classappend="${teamSearchInfo.getNextPage() == 0} ? 'disabled'">
                            <a th:href="@{searchTeam(teamName=${#request.getParameter('teamName')} ,pageNum=${teamSearchInfo.getNextPage()})}">></a>
                        </li>
                    </ul>
                </nav>
            </form>
        </div>
    </div>
    <!-- modal -->
    <div th:class="modal">
        <t-h2 ko="팀 상세 조회"></t-h2>
        <div>
            <table class="modal-content table f14">

            </table>

        </div>
    </div>
    <script>
        //취소버튼 클릭 시 Modal 닫기
        const f5 = () => {
            $("#cancelBtn").on("click", function () {
                console.log('click');
                $(".modal").fadeOut();
            })
        }

        $("#teamBody").on("click", ".addTeamBtn", function () {
            $(".modal-content").html("");
            var led = event.target.closest("tr").children[4].value;
            var tName = event.target.closest("tr").children[1].innerHTML;
            var tLead = event.target.closest("tr").children[2].innerHTML;
            console.log(led);
            $.ajax({
                url: "/adm/teamInfo",
                data: {teamId: led}
            }).done(function (datas) {
                $(".modal-content").append(`<tr><th>팀명</th><td>${tName}</td></tr><tr><th>팀장</th><td>${tLead}</td></tr>`)
                for (data of datas) {
                    $(".modal-content").append(makeTr(data));
                }
                $(".modal-content").append(`<div class="button__box">
                <button id="cancelBtn" class="c-button">나가기</button>
            </div>`)
                $(".modal").fadeIn();
                f5();
            })
        })

        function makeTr(data) {
            var tr = $("<tr>");
            tr.append(`
                <th>팀원</th><td class="text-center">${data.memberId}</td><td>
                <select class="form-control" name="blackReason" onchange="chargeSelect(this)">
                    <option value="${data.blacklistYn}">${data.blacklistYn == 0 ? '-' : '블랙'}</option>
                    <option value="1">블랙리스트 - 기물 파손</option>
                    <option value="2">블랙리스트 - 불량한 게임 태도</option>
                </select></td>`)
            return tr;
        }

        function chargeSelect(e) {
            var reasonVal = e.options[e.selectedIndex].value;
            var memId = e.parentElement.parentElement.children[1].innerHTML;
            if (confirm("수정하시겠습니까?") == true) {
                $.ajax({
                    url: "/adm/reasonUpdate",
                    method: "POST",
                    data: {memberId: memId, blacklistYn: reasonVal}
                })
            } else {
                return;
            }
        }
    </script>
</th:block>
</html>