<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/adm_layout">
<th:block layout:fragment="content">
    <a-h1 en="Q & A" ko="1:1 문의"></a-h1>

    <div class="row">

        <div class="col-12 a__box nh">

            <div class="h_box">
                <a-h2 ko="Q & A 검색 및 작성"></a-h2>
            </div>

            <form>
                <div class="button__box f16">
                    <input class="form-control col-9" type="text" th:value="${admQnaVO.title}"
                           onclick="this.select()"
                           name="title" placeholder="제목을 입력하세요"/>
                    <button class="c-button col-1" type="submit">검색</button>
                    <a class="c-button col-1" onclick="location.href = '/adm/qnaWrite'">작성</a>
                    <a class="c-button col-1" onclick="location.href = '/adm/index'">홈</a>
                </div>
            </form>
        </div>

        <div class="col-12 a__box">
            <div class="h_box">
                <a-h2 ko="1:1 문의 리스트"></a-h2>
            </div>

            <form th:id="details" method="post">
                <table class="table f16 table-hover">
                    <thead>
                    <tr>
                        <th>no</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>작성일</th>
                        <th>조회수</th>
                    </tr>
                    </thead>
                    <tbody>
                    <div id="qna">
                        <tr th:attr="onclick=|callDetails('${qna.qNo}')|" th:each="qna : ${pageInfo.list}">
                            <td th:text="${qna.qNo}"></td>
                            <td th:text="${qna.title}"></td>
                            <td th:text="${qna.writer}"></td>
                            <td th:text="${qna.wdate}"></td>
                            <td th:text="${qna.views}"></td>
                        </tr>
                    </div>
                    </tbody>
                </table>
                <input th:type="hidden" th:id="qNo" th:name="qNo">
            </form>

            <nav>
                <ul class="pagination">
                    <!-- getPrePage : 이전 페이지 -->
                    <li class="page-item" th:classappend="${pageInfo.getPrePage() == 0} ? 'disabled'">
                        <a th:href="@{qna(pageNum=${pageInfo.getPrePage()})}"><i class="fa-solid fa-angle-left"></i></a>
                    </li>
                    <!-- getNavigateFirstPage() : 페이징의 처음 숫자 getNavigateLastPage : 페이징의 마지막 숫자를 이용해 페이징 숫자 출력 -->
                    <li class="page-item"
                        th:each="page: ${#numbers.sequence(pageInfo.getNavigateFirstPage(), pageInfo.getNavigateLastPage())}"
                        th:classappend="${page == pageInfo.getPageNum()} ? 'active'">
                        <a th:text="${page}" th:href="@{qna(pageNum=${page})}"></a>
                    </li>
                    <!-- getPrePage : 다음 페이지 -->
                    <li class="page-item" th:classappend="${pageInfo.getNextPage() == 0} ? 'disabled'">
                        <a th:href="@{qna(pageNum=${pageInfo.getNextPage()})}"><i
                                class="fa-solid fa-angle-right"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <script>
        function callDetails(n) {
            details.qNo.value = n;
            details.action = "/adm/qnaDetail";
            details.submit();
        }
    </script>
</th:block>
</html>

