<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>귀찮게 꼭 디테일하게 해야하냐</title>
</head>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <form th:id="details" method="post" action="/adm/qnaUpdate">

        <div>
            <h1>QNA 상세보기</h1>
        </div>

        <div class="container" style="max-width: 880px;">
            <table th:each="q, status : ${qna}" border="1" class="card" id="frm">
                <tr>
                    <th width="205" height="39" style="padding: 1px 1px 1px 10px">글번호</th>
                    <td th:text="${q.qNo}" width="155" height="39" style="padding: 1px 1px 1px 10px"></td>
                    <th width="105" style="padding: 1px 1px 1px 10px">작성자</th>
                    <td th:text="${q.writer}" width="155" height="39" style="padding: 1px 1px 1px 10px"></td>
                    <th width="105" height="39" style="padding: 1px 1px 1px 10px">작성일자</th>
                    <td th:text="${q.wdate}" width="155" style="padding: 1px 1px 1px 10px"></td>
                </tr>
                <tr>
                    <th height="39" style="padding: 1px 1px 1px 10px">제목</th>
                    <td th:text="${q.title}" colspan="6" style="padding: 1px 1px 1px 10px"></td>
                </tr>
                <tr>
                    <th style="padding:50px 50px 50px 50px">내용</th>
                    <td th:text="${q.details}" colspan="6">
                        <textarea id="details" name="details" class="form-control" rows="10" cols="80"
                                  required="required">
                        </textarea>
                    </td>
                </tr>
                <input type="hidden" id="qNo" name="qNo" th:value="${q.qNo}">
                <input type="hidden" id="title" name="title" th:value="${q.title}">
                <input type="hidden" id="wdate" name="wdate" th:value="${q.wdate}">
                <input type="hidden" id="views" name="views" th:value="${q.views}">
                <input type="hidden" id="qdetails" name="details" th:value="${q.details}">
                <input type="hidden" id="writer" name="writer" th:value="${q.writer}">
            </table>
        </div>
        <br>
        <input th:type="hidden" th:id="qNo" th:name="qNo">
    </form>
</div>

<button onclick="location.href = '/adm/qna'">뒤로가기</button>
<button th:onclick="|location.href = '@{/adm/qnaDelete?qNo={no}(no=${qna.qNo})}'|" style="float: right">삭제</button>
<button id="submitFrm" style="float: right">수정</button>
<script>

    submitFrm.addEventListener('click', () => {
        details.submit()
    })

</script>
</body>
</html>
