@font-face {
    font-family: 'esM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'esB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'esL';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


html, body {
    font-family: 'Noto Sans kr';
    font-size: 10px !important;
}

/* common */
.wrap {
    width: 100%;
    overflow: hidden;
}
.p-ab {
    position: relative;
    overflow: hidden;
}
.w100 {
    width: 100%;
}
.vh100 {
    height: 100vh;
}
a {
    color: #222;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* title */
.t-blue {
    background: #3765C7 !important;
}
h1.h1{font-family:esB;font-size:4rem;position:absolute;color:#3765c7;bottom:0;left:0;padding:2rem 0 0;margin:0;display:inline-block}.h1__box{position:relative;height:12rem}.h1__box>div>span{font-family:esB;position:absolute;bottom:-1.8rem;font-size:4.4rem;color:#fff}.h1__box>div{height:6rem;width:calc(100% + 4%);padding:0 2%;transform:translate(-2%,0);background:#eee}.h1__box>img{position:absolute;top:0;right:0}h2.h2{font-family:esM;font-size:3.2rem;position:relative;padding:1.4rem 0 0;margin:0;display:inline-block}.h2__box{padding:1.2rem 0 .8rem}h2.h2::before{content:'';display:block;position:absolute;top:0;left:0;width:100%;height:.4rem;background-color:#bbb}
h3.h3 {
    font-family: "esM";
    font-size: 2rem;
}




/* 색상 cover */
.cover--black {
    position: relative;
    overflow: hidden;
    width: calc(100% + 4%);
    margin-left: -2%;
}
.cover--black > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}
.cover--black::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: inherit;
    background-color: rgba(0, 0, 0, .3);
    z-index: 3;
}

/* header */
.logo > img {
    width: 24vw;
}

.header {
    background-color: rgba(255, 255, 255, 0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    z-index: 9998;
}
.header-black {
    background-color: #111;
}
.header__menu {
}
.hmodal {
    padding: 4rem 0;
    text-align: center;
    background: #fff;
    position: fixed;
    top: 8vh;
    left: -100vw;
    width: 100%;
    z-index: 9997;
    opacity: 0;
    transition: all .3s;
}
.hmodal > span {
    color: #3765C7;
    font-size: 1.8rem;
}
.hmodal.active {
    opacity: 1;
    top: 8vh;
    left: 0;
}

/* contents */
.main-margin {
    margin-top: 8vh;
}
.main-margin.disabled {
    margin-top: 0;
}
main.contents {
    min-height: calc(100vh - 8vh);
    margin: 0 2%;
}

/* nav */
.nav {
    width: calc(80% - 16%);
    padding: 8%;
    height: 100vh;
    background-color: #fff;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: -100vw;
    transition: .3s;
}
.nav.active {
    width: 80%;
    left: 0;
}
.nav > ul > li {
    margin: 2rem 0;
}
.nav > ul > li a {
    font-size: 1.6rem;
}
.nav > ul > li > ul > li {
    padding-left: .8rem;
}
.csn-bg {
    position: fixed;
    top: 0;
    left: -100vw;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.6);
    z-index: 9997;
    opacity: 0;
    transition: opacity .5s;
}
.csn-bg.active {
    opacity: 1;
    left: 0;
}

.message-caution {
    padding: .8rem 0;
    text-align: center;
    color: #FF4F4F;
    font-size: 2rem;
    word-break: keep-all;
}
.message-caution > span {
    font-size: 1.6rem;
    color: #999;
}


/* footer */
.footer {
    width: 100%;
    background: #222;
    color: #fff;
    padding: 0 0 3rem;
}
.footer::before {
    content: '';
    display: block;
    width: 100%;
    height: .4rem;
    margin: 0 0 3rem;
    background-color: #EE4136;
}


.button {
    border: 0;
    background: #fff;
    font-family: esM;
    font-size: 1.8rem;
    text-align: center;
    margin: 0;
    width: calc(100% - 4.2rem);
    height: 4.2rem;
    line-height: 4.6rem;
    background: #fff;
    border: .5rem solid #222;
    box-sizing: content-box;
    transform: skewX(-15deg);
}
.button.button-primary {
    box-shadow: 8px 8px 0px #6193FF;
}
.button.button-danger {
    box-shadow: 8px 8px 0px #EE4136;
}
.button.button-success {
    box-shadow: 8px 8px 0px #69E83C;
}
.button.button-common {
    box-shadow: 8px 8px 0px #BBBBBB;
}
.button > span {
    transform: skewX(15deg);
}
.button__box {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 0 3% 0 2%;
    margin: 0.7rem 0 1.5rem;
    column-gap: 1.4rem;
}
.c-button {
    border: 0;
    color: #222;
    background: #fff;
    font-size: 1.6rem;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 3.2rem;
    line-height: 3rem;
    position: relative;
    background: #fff;
    border: .1rem solid #bbb;
    border-radius: 1.6rem;
}
.c-button.active {
    background: #3765C7;
    color: #fff;
    border: 1px solid #3765C7;
}
.c-button.disabled {
    background: #f1f1f1;
    color: #999;
    border: 1px solid #999;
}

/* table */
