<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/cli_layout">

<th:block layout:fragment="content">

  <t-h1 ko="나의 리그" en="MY-LEAGUE"></t-h1>

  <h3 class="h3">참가한 리그</h3>

  <table class="table">
    <tbody >
    <tr th:each="l, status: ${ml.getParticipatedLeague()}">
      <td><span th:text="${l.leagueId}">리그ID</span></td>
      <td>
        <h4 class="h4" th:text="${l.leagueName}">리그명</h4>
        <convert-c-code th:data="${l.leagueStatusCd}"></convert-c-code><br>
        <!--          <span>등록일</span><span th:text="${#dates.format(l.rgstDate, 'yyyy-MM-dd')}">등록일</span><br>-->
        <span th:text="${#dates.format(l.startDate, 'yyyy-MM-dd') + ' - ' + #dates.format(l.endDate, 'yyyy-MM-dd')}">시작일</span><br>
        <span>상금 : </span><span th:text="${l.prizeMoney}">상금</span><br>
        <!--          <span th:text="${l.leagueStatusCd}">리그상태코드</span><br>-->
        <!--          <span th:text="${l.tournamentId}">토너먼트ID</span><br>-->
        <span th:text="${'참가비 : ' + l.entryFee}">참가비</span><br>
        <span th:text="${'참가팀 : ' + l.getParticipationTeam()}">참가팀</span><br>
        <span th:text="${l.winningTeam}">승리팀</span><br>
        <!-- 로그인 시 -->
        <div class="button__box">
          <!-- 리그 정보 조회 -->
          <!-- 리그 신청 완료 -->
          <a th:if="${l.getLeagueStatusCd() == '501' && l.getIsApplyStatus() == '1801'}" th:href="${'#'}" class="c-button"><convert-c-code th:data="${l.getIsApplyStatus()}"></convert-c-code></a>
<!--          <a th:if="${l.getLeagueStatusCd() == '501' && l.getIsApplyStatus() == '1802'}" th:href="${'/leauge'}" class="c-button">신청취소</a>-->
          <a th:if="${l.getLeagueStatusCd() == '501' && l.getIsApplyStatus() == '1803'}" th:href="${'/leauge'}" class="c-button"><convert-c-code th:data="${'1803'}"></convert-c-code></a>
          <a th:if="${l.getLeagueStatusCd() == '501' && l.getIsApplyStatus() == '1804'}" th:href="${'/leauge'}" class="c-button"><convert-c-code th:data="${'1804'}"></convert-c-code></a>

          <!-- 리그 진행 중인 경우 -->
          <a th:if="${l.getLeagueStatusCd() == '502' && l.getIsApplyStatus() == '1801'}" th:href="${'#'}" class="c-button disabled">미결제 리그참가 취소 됨</a>
          <a th:if="${l.getLeagueStatusCd() == '502' && l.getIsApplyStatus() == '1803'}" th:href="${'/'}" class="c-button">리그 진행 상황 조회</a>

          <a th:if="${l.getLeagueStatusCd() == '503'}" th:href="${'/'}" class="c-button disabled">리그 종료</a>
        </div>
      </td>
    </tr>
    </tbody>

  </table>

  <h3 class="h3">참가하지 않은 리그</h3>
  <table class="table">
    <tbody th:each="l, status: ${ml.getNotParticipatedLeague()}">
    <tr>
      <td><span th:text="${l.leagueId}">리그ID</span></td>
      <td>
        <h4 class="h4" th:text="${l.leagueName}">리그명</h4>
        <convert-c-code th:data="${l.leagueStatusCd}"></convert-c-code><br>
        <!--          <span>등록일</span><span th:text="${#dates.format(l.rgstDate, 'yyyy-MM-dd')}">등록일</span><br>-->
        <span th:text="${#dates.format(l.startDate, 'yyyy-MM-dd') + ' - ' + #dates.format(l.endDate, 'yyyy-MM-dd')}">시작일</span><br>
        <span>상금 : </span><span th:text="${l.prizeMoney}">상금</span><br>
        <!--          <span th:text="${l.leagueStatusCd}">리그상태코드</span><br>-->
        <!--          <span th:text="${l.tournamentId}">토너먼트ID</span><br>-->
        <span th:text="${'참가비 : ' + l.entryFee}">참가비</span><br>
        <span th:text="${l.winningTeam}">승리팀</span>
        <div class="button__box" th:if="${#session.getAttribute('memberId') != null}">
          <a th:if="${l.getIsApply() == 'y' && l.getLeagueStatusCd() == '501'}" th:href="${'/cli/leagueDetail?lno=' + l.leagueId}" class="c-button">참가하기</a>
          <a th:if="${l.getIsApply() == 'y' && l.getLeagueStatusCd() == '502'}" th:href="${'/cli/leagueDetail?lno=' + l.leagueId}" class="c-button disabled">리그 진행 중</a>
          <a th:if="${l.getIsApply() == 'y' && l.getLeagueStatusCd() == '503'}" th:href="${'/cli/leagueDetail?lno=' + l.leagueId}" class="c-button disabled">리그 종료</a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

</th:block>>
</html>