<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/cli_layout">

<th:block layout:fragment="content">

    <t-h1 ko="마이페이지" en="MY-MESSAGE"></t-h1>

    <t-h2 ko="수신한 메세지"></t-h2>

    <div th:if="${msg.size() eq 0}" class="message-success mt20">
        <span>수신된 메세지가 없습니다!</span>
    </div>

    <div id="btnEvent">
        <table class="table" th:each="m:${msg}">
            <tbody class="f16" id="messageList">
                <tr>
                    <td colspan="2" class="bf-1 text-center" th:text="${m.getMessageContents()+'&nbsp&nbsp&nbsp&nbsp&nbsp'+m.getMsgTime}"></td>
                </tr>
                <tr>
                    <td th:if="${m.getIsChk() != 2}">
                        <input type="hidden" th:id="teamId" th:value="${m.getTemp()}">
                        <input type="hidden" th:value="${m.getMessageId}">
                        <button class="c-button rr noBtn">거절</button>
                        <input type="hidden" th:id="memberId" th:value="${session.memberId}">
                    </td>
                    <td th:if="${m.getIsChk() != 2}">
                        <input type="hidden" th:id="teamId" th:value="${m.getTemp()}">
                        <input type="hidden" th:value="${m.getMessageId}">
                        <button class="c-button bb okBtn">수락</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script>

        $('#btnEvent').on('click', 'button', function () {

            var mi = $("#memberId").val();
            let msgId = $(this).parent().children().eq(1).val();
            var ti = $(this).parent().children().eq(0).val();

            console.log(msgId)
            console.log(ti)

            if(event.target.innerText == '수락') {
                // 수락버튼 클릭 시

                $.ajax({
                    url: "/cli/intoTeam",
                    data: {teamId: ti, memberId: mi}
                }).done(function () {
                    console.log("클릭");
                    location.href = "/cli/myTeam";
                })

            } else {
                // 거절버튼 클릭 시

                $.ajax({
                    url: "/cli/notIntoTeam",
                    data: {messageId: msgId}
                }).done(function () {
                    location.href = "/cli/myMessage";
                })
            }

        })

        //메세지 불러오기
        fetch('/msg/team', {
            method: 'post'
        })
            .then(res => res.json())
            .then(res => console.log(res))


    </script>


</th:block>
>
</html>