<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/cli_layout">

<th:block layout:fragment="content">
    <div th:class="row">
        <div th:class="col-auto">
            <h1>내 예약 조회</h1>
        </div>
    </div>
    <div th:class="row">
        <div th:class="col-auto">
            <h3>나의 예약</h3>
        </div>
    </div>
    <div th:class="row">
        <div th:class="col-auto">
            <div th:each="mresv, i : ${rsList}">
                <span th:text="${mresv.resId}"></span><br>
                <span th:text="${mresv.startTime}"></span><br>
                <span th:text="${mresv.endTime}"></span><br>
                <span th:text="${mresv.room}"></span><br>
                <span th:text="${mresv.status}"></span><br>
                <span th:text="${mresv.resDate}"></span><br>
                <span th:if="${mresv.status eq '경기종료'}"><button type="text" th:class="finGameDetail">경기 결과 조회</button></span>
                <span th:if="${mresv.status eq '경기전'}"><button type="text" th:class="rsvDetail">예약 조회</button></span>
            </div>
        </div>
    </div>

<script>

</script>
</th:block>

</html>