<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/cli_layout">
<th:block layout:fragment="content">

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <div th:if="${score.size eq 0}">
        <span>기록이 없습니다.</span>
    </div>
    <div th:if="${score.size ne 0}">
        <div th:each="scr, i : ${score}">
            <span th:text="${scr.memberId}"></span>
            <span th:text="${scr.memberName}"></span>
            <span th:text="${scr.groundCd}"></span>
            <span th:text="${scr.hits}"></span>
            <span th:text="${scr.homeruns}"></span>
            <span th:text="${scr.highestDistance}"></span>
            <span th:text="${scr.batCounts}"></span>
            <span th:text="${scr.batOrder}"></span>
            <span th:text="${scr.difficultyCd}"></span>
            <span th:text="${scr.gameId}"></span>
        </div>
    </div>

    <div>
        <ul class="row nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="myHighestDistance" data-toggle="pill" onclick="drawChart1()" role="tab"
                   aria-controls="pills-profile" aria-selected="true">최고비거리</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="myBattingAverage" data-toggle="pill" onclick="drawChart2()" role="tab"
                   aria-controls="pills-contact" aria-selected="true">타율</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="myHomeRun" data-toggle="pill" onclick="drawChart3()" role="tab"
                   aria-controls="pills-contact" aria-selected="true">홈런</a>
            </li>
        </ul>
    </div>
    <div id="chart_div">

    </div>

    <script>
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart1);

        function drawChart1() {
            var options = {title: '내 기록'};
            var data = new google.visualization.DataTable();
            data.addColumn('string', '부서');
            data.addColumn('number', '최고비거리');
            let jsonData;
            $.ajax({
                url: "/cli/myScoreJson"
            }).done(function (datas) {
                jsonData = [];
                for (dt of datas) {
                    jsonData.push([dt.resDate, dt.highestDistance])
                }
                data.addRows(jsonData);

                var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
                chart.draw(data, options);
            })
        }

        function drawChart2() {
            var options = {title: '내 기록'};
            var data = new google.visualization.DataTable();
            data.addColumn('string', '부서');
            data.addColumn('number', '타율');
            let jsonData;
            $.ajax({
                url: "/cli/myScoreJson"
            }).done(function (datas) {
                jsonData = [];
                for (dt of datas) {
                    var avg = dt.hits / dt.batCounts;
                    jsonData.push([dt.resDate, avg])
                }
                data.addRows(jsonData);

                var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
                chart.draw(data, options);
            })
        }

        function drawChart3() {
            var options = {title: '내 기록'};
            var data = new google.visualization.DataTable();
            data.addColumn('string', '부서');
            data.addColumn('number', '홈런');
            let jsonData;
            $.ajax({
                url: "/cli/myScoreJson"
            }).done(function (datas) {
                jsonData = [];
                for (dt of datas) {
                    jsonData.push([dt.resDate, dt.homeruns])
                }
                data.addRows(jsonData);

                var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
                chart.draw(data, options);
            })
        }


    </script>
</th:block>


</html>