<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/cli_layout">
<th:block layout:fragment="content">

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <div th:if="${score eq null}">
        <span>zzz</span>
    </div>
    <div th:unless="${score eq null}">
        <div th:each="scr, i : ${score}">
            <span th:text="${scr.memberId}"></span>
            <span th:text="${scr.memberName}"></span>
            <span th:text="${scr.groundCd}"></span>
            <span th:text="${scr.hits}"></span>
            <span th:text="${scr.homeruns}"></span>
            <span th:text="${scr.highestDistance}"></span>
            <span th:text="${scr.batCounts}"></span>
            <span th:text="${scr.batOrder}"></span>
            <span th:text="${scr.difficultyCd}"></span>
            <span th:text="${scr.gameId}"></span>
        </div>
    </div>
    <div id="piechart" style="width: 900px; height: 500px;">

    </div>
    <div id="chart_div">

    </div>

    <script>
        let res;
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);
            function drawChart() {
                var jsonData =
                    $.ajax({
                        url: "/cli/myScoreJson",
                        dataType: "json",
                        async: false
                    }).done(function(data){
                        res = data;
                        console.log(res)
                    }).responseText

                console.log(res);
                var data = new google.visualization.DataTable(jsonData);
                console.log(data);
                var chart = new google.visualization.PieChart(document.getElementById('piechart'));
                chart.draw(data, {
                    title: '내 기록'
                });
            }

    </script>
</th:block>


</html>