<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/cli_layout">

<th:block layout:fragment="content">
    <div th:class="row">
        <div th:class="col-auto">
            <h1>팀</h1>
        </div>
    </div>
    <div th:class="row">
        <div th:class="col-auto">
            <div th:if="${team eq null}">
                <button th:onclick="|location.href = '@{/cli/myTeamCreateForm}'|" >팀생성</button>
            </div>
            <div th:unless="${team eq null}">
                <div th:each="team, i : ${team}">
                    <form th:id="frm">
                    <table>
                        <tbody>
                        <tr>
                            <th>팀명</th>
                            <td><span th:text="${team.teamName}"></span></td>
                        </tr>
                        <tr>
                            <th>팀장</th>
                            <td><span th:text="${team.leader}"></span></td>
                        </tr>
                        </tbody>
                    </table>
                        <input th:type="button" id="leaderBtn" th:if="${session.memberId eq team.leader}" th:value="${'팀 상세 조회'}">
                        <input th:type="button" id="memberBtn" th:if="${session.memberId ne team.leader}" th:value="${'팀 상세 조회'}">
                    </form>
                </div>
            </div>
        </div>
    </div>

<script>
    $("#leaderBtn").on("click", function(){
        frm.action="/cli/teamInfoLeader";
        frm.submit();
    });
    $("#memberBtn").on("click", function(){
        frm.action="/cli/teamInfoMember";
        frm.submit();
    });
</script>
</th:block>
</html>