<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/cli_layout">


<th:block layout:fragment="content">

    <t-h1 ko="마이페이지" en="MY-TEAM"></t-h1>

    <t-h2 ko="팀 생성"></t-h2>

    <div th:class="row">
        <div th:class="col-auto">
            <h1>팀</h1>
        </div>
    </div>
    <div th:class="row">
        <div th:class="col-auto">
            <h3>팀 생성</h3>
        </div>
    </div>
    <div th:class="row">
        <div th:class="col-auto">
            <form method="POST" action="/cli/myTeamCreate">
                <div>
                    <table>
                        <tbody>
                        <tr>
                            <th>팀명</th>
                            <td><input th:type="text" th:id="teamName" th:name="teamName"></td>
                        </tr>
                        <tr>
                            <th>팀장</th>
                            <td><input th:type="text" th:id="leader" th:name="leader" th:value="|${session.memberId}|">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <input th:type="hidden" th:id="memberId" th:name="memberId" th:value="|${session.memberId}|">
                    <button th:type="submit" th:id="createBtn">저장하기</button>
                </div>
                <hr>
            </form>
        </div>
    </div>

</th:block>
</html>