<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/cli_layout">


<th:block layout:fragment="content">

    <t-h1 ko="마이페이지" en="MY-TEAM"></t-h1>

    <t-h2 ko="팀 생성"></t-h2>

    <div class="row px-0">
        <div th:class="col-12">
            <form method="POST" action="/cli/myTeamCreate">
                <div>

                    <table class="table f16">
                        <tbody>
                        <tr>
                            <th class="bf-2 p">팀명</th>
                            <td><input th:type="text" th:id="teamName" class="form-control" th:name="teamName"></td>
                        </tr>
                        <tr>
                            <th class="bf-2 p">팀장</th>
                            <td><input th:type="text" th:id="leader" class="form-control" th:name="leader" th:value="|${session.memberId}|">
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <input th:type="hidden" th:id="memberId" th:name="memberId" th:value="|${session.memberId}|">
                    <button class="c-button" th:type="submit" th:id="createBtn">저장하기</button>
                </div>
                <hr class="mt20">
                <div class="mt20"></div>
            </form>
        </div>
    </div>

</th:block>
</html>