<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/cli_layout">


<th:block layout:fragment="content">

    <div th:class="row">
        <div th:class="col-auto">
            <h1>팀</h1>
        </div>
    </div>
    <div th:class="row">
        <div th:class="col-auto">
            <h3>팀 생성</h3>
        </div>
    </div>
    <div th:class="row">
        <div th:class="col-auto">
            <form method="POST" action="/cli/myTeamCreate">
                <div>
                    <table>
                        <tbody>
                        <tr>
                            <th>팀명</th>
                            <td><input th:type="text" th:id="teamName" th:name="teamName"></td>
                        </tr>
                        <tr>
                            <th>팀장</th>
                            <td><input th:type="text" th:id="leader" th:name="leader" th:value="|${session.memberId}|">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <input th:type="hidden" th:id="memberId" th:name="memberId" th:value="|${session.memberId}|">
                    <button th:type="submit" th:id="createBtn">저장하기</button>
                </div>
                <hr>
                <!--팀원 추가-->
                <div th:id="addMem">
                    <input th:type="button" th:class="addMemBtn" th:value="팀원추가">
                </div>

            </form>
        </div>
    </div>
    <!-- modal -->
    <div th:class="modal">
        <div th:class="modal-content">
            <t-h2 ko="팀원"></t-h2>
            <input type="text" class="form-control" id="searchVal"
                   name="searchVal" placeholder="Search"
                   aria-label="Search">
            <div>
                <table>
                    <tbody th:id="memberList">

                    </tbody>
                </table>
            </div>
            <button class="btn btn-outline-secondary" id="searchBtn"
                    type="button">Search
            </button>
            <!-- 여기서 -->
            <div class="button__box">
                <button class="button button-common" id="cancelBtn">취소하기</button>
                <button class="button button-primary" id="regMemberBtn">등록하기</button>
            </div>
        </div>
    </div>
    <script>
        //팀 추가 버튼 클릭시 멤버 검색 Modal
        let cliSliderNavBg = document.querySelector('#cli-slider-nav-bg')

        $(".addMemBtn").on("click", function () {
            $(".modal").fadeIn();
            cliSliderNavBg.classList.toggle('active')
        })

        //취소버튼 클릭 시 Modal 닫기
        $("#cancelBtn").on("click", function () {
            $(".modal").fadeOut();
            cliSliderNavBg.classList.remove('active');
        })

        //등록버튼 클릭시 체크된 memberId값을 넘겨 ajax호출
        $("#regMemberBtn").on("click", function () {
            var checkbox = $('input[id=checkbox]:checked');
            var tr = checkbox.parent().parent();
            var td = tr.children();
            var code = td.eq(1).text();

            var tdArray = new Array();
            checkbox.each(function(i){
                tr = checkbox.parent().parent().eq(i);
                td = tr.children();
                code = td.eq(1).text();
                tdArray.push({memberId: code});
            });
            console.log(tdArray);
            for(list of tdArray){
                makeAdd(list);
            }
            $(".modal").fadeOut();
            cliSliderNavBg.classList.remove('active');
        });

        //search 버튼 클릭시 멤버 검색 ajax호출
        $("#searchBtn").on("click", function () {
            $.ajax({
                url: "/cli/searchMember",
                data: {memberId: $("#searchVal").val()}
            }).done(function (data) {
                $("#memberList").html('');
                for (list of data) {
                    $("#memberList").append(makeTr(list));
                }
            })
        })

        //검색 결과 출력
        function makeTr(list) {
            var tr = $("<tr>");
            tr.append(`<td class="text-center"><input type="checkbox" id="checkbox"></td>
            <td class="text-center">${list.memberId}</td>`)
            return tr;
        }
        //팀원추가 결과 draw
        function makeAdd(list){
            $("#addMem").prepend(`<span>${list.memberId}</span><br>`)
        }


    </script>
</th:block>
</html>