<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/cli_layout">

<th:block layout:fragment="content">
    <div th:class="row">
        <div th:class="col-auto">
            <h1>팀</h1>
        </div>
    </div>
    <div th:class="row">
        <div th:class="col-auto">
            <div th:if="${team eq null}">
                <button th:onclick="|location.href = '@{/cli/myTeamCreateForm}'|" >팀생성</button>
            </div>
            <div th:unless="${team eq null}">
                <div th:each="team, i : ${team}">
                    <form th:id="frm">
                    <table>
                        <tbody>
                        <tr>
                            <th>팀명</th>
                            <td><span th:id="teamName" th:text="${team.teamName}"></span></td>
                        </tr>
                        <tr>
                            <th>팀장</th>
                            <td><span th:id="teamLeader" th:text="${team.leader}"></span></td>
                        </tr>
                        </tbody>
                    </table>
                        <input type="hidden" th:id="teamId" th:value="${team.teamId}">
                        <input th:type="button" id="leaderBtn" th:if="${session.memberId eq team.leader}" th:value="${'팀 상세 조회'}">
                        <input th:type="button" id="memberBtn" th:if="${session.memberId ne team.leader}" th:value="${'팀 상세 조회'}">
                    </form>
                </div>

                <!--팀원 추가-->
                <div th:id="addMem">
                    <input th:type="button" th:class="addMemBtn" th:value="팀원추가">
                </div>

            </div>
        </div>
    </div>

    <!-- modal -->
    <div th:class="modal">
        <div th:class="modal-content">
            <t-h2 ko="팀원"></t-h2>
            <input type="text" class="form-control" id="searchVal"
                   name="searchVal" placeholder="Search"
                   aria-label="Search">
            <div>
                <table>
                    <tbody th:id="memberList">

                    </tbody>
                </table>
            </div>
            <button class="btn btn-outline-secondary" id="searchBtn"
                    type="button">Search
            </button>
            <!-- 여기서 -->
            <div class="button__box">
                <button class="button button-common" id="cancelBtn">취소하기</button>
                <button class="button button-primary" id="regMemberBtn">등록하기</button>
            </div>
        </div>
    </div>

<script>
    $("#leaderBtn").on("click", function(){
        frm.action="/cli/teamInfoLeader";
        frm.submit();
    });
    $("#memberBtn").on("click", function(){
        frm.action="/cli/teamInfoMember";
        frm.submit();
    });




</script>
    <script>
        //팀 추가 버튼 클릭시 멤버 검색 Modal
        let cliSliderNavBg = document.querySelector('#cli-slider-nav-bg')

        $(".addMemBtn").on("click", function () {
            $(".modal").fadeIn();
            cliSliderNavBg.classList.toggle('active')
        })

        //취소버튼 클릭 시 Modal 닫기
        $("#cancelBtn").on("click", function () {

            $(".modal").fadeOut();
            cliSliderNavBg.classList.remove('active');
        })

        //등록버튼 클릭시 체크된 memberId값을 넘겨 ajax호출
        $("#regMemberBtn").on("click", function () {
            var checkbox = $('input[id=checkbox]:checked');
            var tr = checkbox.parent().parent();
            var td = tr.children();
            var code = td.eq(1).text();

            var tdArray = new Array();
            checkbox.each(function(i){
                tr = checkbox.parent().parent().eq(i);
                td = tr.children();
                code = td.eq(1).text();

                //teamName
                let tn = document.querySelector('#teamName').innerText;

                // teamLeader
                let tl = document.querySelector('#teamLeader').innerText;

                //teamId
                let ti = document.querySelector('#teamId').value;

                tdArray.push({memberId: code, teamName: tn, teamLeader: tl, teamId : ti});
            });
            console.log(tdArray);
            for(list of tdArray){
               makeAdd(list);
            }
            $(".modal").fadeOut();
            cliSliderNavBg.classList.remove('active');
        });

        //search 버튼 클릭시 멤버 검색 ajax호출
        $("#searchBtn").on("click", function () {
            $.ajax({
                url: "/cli/searchMember",
                data: {memberId: $("#searchVal").val()}
            }).done(function (data) {
                $("#memberList").html('');
                for (list of data) {
                    $("#memberList").append(makeTr(list));
                }
            })
        })

        //검색 결과 출력
        function makeTr(list) {
            var tr = $("<tr>");
            tr.append(`<td class="text-center"><input type="checkbox" id="checkbox"></td>
            <td class="text-center">${list.memberId}</td>`)
            return tr;
        }
        //팀원추가 결과 draw
         function makeAdd(list){
            // $("#addMem").prepend(`<span>${list.memberId}</span><br>`)

            insertTeamMember(list.teamName, list.teamLeader, list.memberId, list.teamId);
        }


        // 메세지 테이블에 팀 메세지를 입력하는 함수
        // 각각의 메세지가 입력되야하는 시점에서 실행해주세요
        function insertTeamMember(teamName, teamLeader, memberId, teamId) {
            console.log(teamName + ' ' + teamLeader + ' ' + memberId + ' ' + teamId)
            fetch('/msg/insertTeamMsg', {
                method: 'post',
                headers: {'Content-type': 'application/json'},
                body: JSON.stringify({
                    teamName: teamName,
                    leader: teamLeader,
                    memberId: memberId,
                    teamId : teamId
                })
            })
                .then(res => res.text())
                .then(res => console.log(res) )
        }


    </script>
</th:block>
</html>