<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/adm_layout">
<th:block layout:fragment="content">

    <style>
        table {
            border: 1px solid #ddd;
        }
        th {
            border-right: 1px solid #ddd;
        }
    </style>

    <a-h1 en="" ko="공지사항"></a-h1>

    <div class="row">

        <div class="col-12 a__box nh">
            <form th:id="updateFrm" method="post" action="/adm/noticeUpdate">
                <div class="h_box">
                    <a-h2 ko="공지사항 상세보기"></a-h2>
                </div>

                <table th:each="n, status : ${notice}" class="table" id="frm">
                    <tr>
                        <th class="bf-2"><span>글번호</span></th>
                        <td th:text="${n.nNo}"></td>

                        <th class="bf-2"><span>제목</span></th>
                        <td th:text="${n.title}"></td>

                        <th class="bf-2"><span>작성일자</span></th>
                        <td th:text="${n.wdate}"></td>
                    </tr>
                    <tr>

                    </tr>
                    <tr>
                        <th class="bf-2"><span>내용</span></th>
                        <td colspan="5">
                        <textarea th:utext="${n.details}" id="details" name="details" class="f16 bf-2" rows="10" cols="80"
                                  required="required" style="min-height: 20rem;padding: 1.2rem;">
                        </textarea>
                        </td>
                    </tr>

                    <input type="hidden" id="nNo" name="nNo" th:value="${n.nNo}">
                    <input type="hidden" id="title" name="title" th:value="${n.title}">
                    <input type="hidden" id="wdate" name="wdate" th:value="${n.wdate}">
                    <input type="hidden" id="views" name="views" th:value="${n.views}">
                    <input type="hidden" id="tdetails" name="details" th:value="${n.details}">

                </table>
            </form>
        </div>
        <input th:type="hidden" th:id="nNo" th:name="nNo">
    </div>

    <div class="row justify-content-between">
        <div class="col-2">
            <button onclick="location.href = '/adm/notice'" class="c-button">뒤로가기</button>
        </div>
        <div class="col-4">
            <div class="button__box">
                <button th:onclick="|location.href = '@{/adm/noticeDelete?nNo={no}(no=${notice.nNo})}'|" class="c-button rr"
                        >삭제
                </button>
                <button id="submitFrm" class="c-button bb">수정</button>
            </div>
        </div>
    </div>



    <script>

        submitFrm.addEventListener('click', () => {
            updateFrm.submit()
        })

    </script>

</th:block>
</html>
