<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="container">
    <form th:id="details" method="post">
        <div>
            <h1>공지사항 상세보기</h1>
        </div>

        <div class="container" style="max-width: 880px;" >
            <table th:each="n, status : ${notice}" border="1" class="card">
                <tr>
                    <th width="205" height="39" style="padding: 1px 1px 1px 10px">글번호</th>
                    <td th:text="${n.nNo}" width="155" height="39" style="padding: 1px 1px 1px 10px"></td>

                    <th width="105" height="39" style="padding: 1px 1px 1px 10px">작성일자</th>
                    <td th:text="${n.wdate}" width="155" style="padding: 1px 1px 1px 10px"></td>
                </tr>
                <tr>
                    <th height="39" style="padding: 1px 1px 1px 10px">제목</th>
                    <td th:text="${n.title}" colspan="6" style="padding: 1px 1px 1px 10px"></td>
                </tr>
                <tr>
                    <th style="padding:1px 1px 1px 10px">내용</th>
                    <td th:text="${n.details}" colspan="6">
                        <textarea id="details" name="details" class="form-control" rows="10" cols="80"
                                  required="required">
                        </textarea>
                    </td>
                </tr>
            </table>
        </div>
        <br>
        <input th:type="hidden" th:id="nNo" th:name="nNo">
    </form>
</div>
<button onclick="location.href = '/admNotice'">뒤로가기</button>
<!--<button id="delete" th:onclick="location.href='noticeDelete?nNo=${nNo}'" style="float: right">삭제</button>-->
<button onclick="location.href = '#'" style="float: right">수정</button>
</body>
</html>
<!--
<script>
    function boardDelete(n){
        details.nNo.value = n;
        board.action = "noticeDelete";
        board.submit();
    }
</script>-->
