<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/adm_layout">

<th:block layout:fragment="content">
    <t-h1 en="FAQ" ko="자주 묻는 질문"></t-h1>

<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"-->
<!--          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">-->

<form method="post" action="/adm/faqTitleInsert">
    <div class="mb-3" id="big">
        <input type="text" class="form-control" name="title" id="title" placeholder="제목을 입력해 주세요">
        <input type="submit" value="대분류 생성" id="create">
    </div>
</form>

    <div class="faq">
        <div th:each="f:${faq}">
            <h3 th:text="${f.title}">대분류</h3>

            <div class="accordion">
                <th:block th:each="t:${f.admFaqList}">
                    <input type="radio" name="accordion" th:id="'answer' + ${t.aNo}">
                    <label th:for="'answer' + ${t.aNo}" th:text="${t.subTitle}">컨텐츠 제목 부분<em></em></label>
                    <div><p th:text="${t.details}">내용내용내용내용내용내용내용내용내용내용내용
                        내용내용내용내용내용내용내용내용내용내용내용내용
                        내용내용내용내용내용내용내용내용내용내용내용내용
                        내용내용내용내용내용내용내용내용내용내용내용내용</p></div>
                </th:block>
            </div>
        </div>
        <button onclick="location.href = '/adm/faqWrite'" style="float: right">작성</button>
    </div>

</th:block>
</html>