<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/cli_layout">


<th:block layout:fragment="content">
    <div>
        <table>
            <tbody>
            <tr>
                <th>팀명</th>
                <td><span th:text="${team.teamName}"></span></td>
            </tr>
            <tr>
                <th>팀장</th>
                <td><span th:text="${team.leader}"></span></td>
            </tr>
            </tbody>
        </table>
        <div th:each="list, i : ${list}">
            <span th:text="${list.memberId}"></span><br>
        </div>
    </div>
</th:block>
</html>