<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/cli_layout}">

<th:block layout:fragment="content">
  <t-h1 en="NOTICE" ko="공지사항"></t-h1>

  <t-h2 ko="공지사항 상세보기"></t-h2>
  <div class="row px-0">

    <div class="col-12">
      <form th:id="details" method="post" action="/cli/noticeUpdate">
        <table th:each="n, status : ${notice}" class="table f16" id="frm">
          <colgroup>
            <col width="25%">
          </colgroup>
          <tr>
            <th>글번호</th>
            <td th:text="${n.nNo}"></td>
          </tr>
          <tr>
            <th>작성일자</th>
            <td th:text="${n.wdate}"></td>
          </tr>
          <tr>
            <th>제목</th>
            <td th:text="${n.title}" colspan="6"></td>
          </tr>
          <tr>
            <th>내용</th>
            <td th:text="${n.details}" colspan="6">
              <textarea id="details" name="details" class="form-control" rows="10" cols="80"
                        required="required">
              </textarea>
            </td>
          </tr>

          <input type="hidden" id="nNo" name="nNo" th:value="${n.nNo}">
          <input type="hidden" id="title" name="title" th:value="${n.title}">
          <input type="hidden" id="wdate" name="wdate" th:value="${n.wdate}">
          <input type="hidden" id="views" name="views" th:value="${n.views}">
          <input type="hidden" id="tdetails" name="details" th:value="${n.details}">

        </table>
      </form>
    </div>
    <input th:type="hidden" th:id="nNo" th:name="nNo">
  </div>

  <div class="button__box mt20">
    <button class="c-button" onclick="location.href = '/cli/notice'">뒤로가기</button>
  </div>

</th:block>

</html>
