<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/cli_layout}">

<body>

<th:block layout:fragment="content">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <h1>공지사항</h1>
    <form th:id="details" method="post">
        <table class="table">
            <thead>
            <tr>
                <th>no</th>
                <th>제목</th>
                <th>작성일</th>
                <th>조회수</th>
            </tr>
            </thead>
            <tbody>
            <div id="notice">
                <tr th:attr="onclick=|callDetails('${notice.nNo}')|" th:each="notice : ${pageInfo.list}"
                    onmouseover='this.style.background="#fcecae";'
                    onmouseleave='this.style.background="#FFFFFF";'>
                    <td th:text="${notice.nNo}"></td>
                    <td th:text="${notice.title}"></td>
                    <td th:text="${notice.wdate}"></td>
                    <td th:text="${notice.views}"></td>
                </tr>
            </div>
            </tbody>
        </table>
        <input th:type="hidden" th:id="nNo" th:name="nNo">
    </form>
    <button onclick="location.href = '/cli/home'" style="float: right">홈</button>
    <nav>
        <ul>
            <!-- getPrePage : 이전 페이지 -->
            <li th:classappend="${pageInfo.getPrePage() == 0} ? 'disabled'">
                <a th:href="@{notice(pageNum=${pageInfo.getPrePage()})}">Previous</a>
            </li>
            <!-- getNavigateFirstPage() : 페이징의 처음 숫자 getNavigateLastPage : 페이징의 마지막 숫자를 이용해 페이징 숫자 출력 -->
            <li th:each="page: ${#numbers.sequence(pageInfo.getNavigateFirstPage(), pageInfo.getNavigateLastPage())}"
                th:classappend="${page == pageInfo.getPageNum()} ? 'active'">
                <a th:text="${page}" th:href="@{notice(pageNum=${page})}"></a>
            </li>
            <!-- getPrePage : 다음 페이지 -->
            <li th:classappend="${pageInfo.getNextPage() == 0} ? 'disabled'">
                <a th:href="@{notice(pageNum=${pageInfo.getNextPage()})}">Next</a>
            </li>
        </ul>
    </nav>
    <script>
        function callDetails(n) {
            details.nNo.value = n;
            details.action = "/cli/noticeDetail";
            details.submit();
        }
    </script>
</th:block>
</body>
</html>

