<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.tfprj.admin.league.mapper.AdmLeagueMapper">

    <insert id="insertLeague" parameterType="com.yedam.tfprj.client.league.service.LeagueVO">

        insert into league
        values (SEQ_LEAGUE.nextval, #{}, sysdate, #{startDate}, #{endDate}, #{prizeMoney}, #{participationTeam}, #{participationMember}, #{prizeGood}, #{winningTeam}, #{leagueStatusCd}, #{tournamentId}, #{entryFee}, #{isApply})

    </insert>
</mapper>