<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.tfprj.admin.community.mapper.AdmNoticeMapper">

    <select id="AdmNoticeList" resultType="com.yedam.tfprj.admin.community.service.notice.AdmNoticeVO">
        SELECT n_no, title, wdate, views
        FROM notice_board
        ORDER BY n_no ASC
    </select>

    <update id="AdmNoticeViewCount">
        UPDATE notice_board
        SET VIEWS = VIEWS + 1
        WHERE N_NO = #{nNo}
    </update>

    <select id="AdmNoticeSelect" resultType="com.yedam.tfprj.admin.community.service.notice.AdmNoticeVO"
            parameterType="com.yedam.tfprj.admin.community.service.notice.AdmNoticeVO">
        select n_no, wdate, title, details
        from notice_board
        where n_no = #{nNo}
    </select>

    <delete id="AdmNoticeDelete"
            parameterType="com.yedam.tfprj.admin.community.service.notice.AdmNoticeVO">
        DELETE
        FROM NOTICE_BOARD
        WHERE N_NO = #{nNo}
    </delete>

    <update id="AdmNoticeUpdate"  parameterType="com.yedam.tfprj.admin.community.service.notice.AdmNoticeVO">
        update notice_board
        set title   = #{title},
            details = #{details}
        where n_no = #{nNo}
    </update>

    <insert id="AdmNoticeInsert" parameterType="com.yedam.tfprj.admin.community.service.notice.AdmNoticeVO">
        INSERT INTO NOTICE_BOARD
        VALUES(no_seq.nextval, #{title}, sysdate, 0, #{details})
    </insert>

</mapper>