<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.tfprj.admin.community.mapper.AdmQnaMapper">

    <select id="AdmQnaList" resultType="com.yedam.tfprj.admin.community.service.qna.AdmQnaVO">
        SELECT *
        FROM qna_board
        ORDER BY q_no ASC
    </select>

    <select id="AdmReplyList" resultType="com.yedam.tfprj.admin.community.service.qna.AdmQnaVO">
        SELECT  C.C_NO, C.CDATE, C.CDETAILS, C.CWRITER, Q.Q_NO
        FROM    QNA_ANSWER C, QNA_BOARD Q
        WHERE   Q.Q_NO = C.Q_NO
        AND     Q.Q_NO = #{qNo}
        ORDER BY C_NO ASC
    </select>

    <select id="AdmQnaSelect" resultType="com.yedam.tfprj.admin.community.service.qna.AdmQnaVO"
            parameterType="com.yedam.tfprj.admin.community.service.qna.AdmQnaVO">
        select *
        from qna_board
        where q_no = #{qNo}
    </select>

    <delete id="AdmQnaDelete"
            parameterType="com.yedam.tfprj.admin.community.service.qna.AdmQnaVO">
        DELETE
        FROM QNA_BOARD
        WHERE Q_NO = #{qNo}
    </delete>

    <update id="AdmQnaUpdate"  parameterType="com.yedam.tfprj.admin.community.service.qna.AdmQnaVO">
        update qna_board
        set title   = #{title},
            details = #{details}
        where q_no = #{qNo}
    </update>

    <insert id="AdmQnaInsert" parameterType="com.yedam.tfprj.admin.community.service.qna.AdmQnaVO">
        INSERT INTO QNA_BOARD
        VALUES(qno_seq.nextval, #{title}, 'admin', current_date, 0, #{details})
    </insert>

    <insert id="AdmQnaAnswerInsert" parameterType="com.yedam.tfprj.admin.community.service.qna.AdmQnaVO">
        INSERT INTO QNA_ANSWER
        VALUES(qcno_seq.nextval, current_date, #{cdetails}, 'admin', #{qNo})
    </insert>

    <delete id="AdmQnaAnswerDelete" parameterType="com.yedam.tfprj.admin.community.service.qna.AdmQnaVO">
        DELETE FROM QNA_ANSWER
        WHERE C_NO = #{cNo}
    </delete>
</mapper>