<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.tfprj.admin.reservation.mapper.AdmReservationMapper">

    <select id="resList" resultType="com.yedam.tfprj.admin.reservation.service.ReservationVO">
        select r.*, p.payment_status_cd "paymentStatusCd", p.payment_method_cd "paymentMethodCd"
        from reservation r, payment p
        where r.payment_id = p.payment_id

    </select>

    <select id="dayResList" resultType="com.yedam.tfprj.admin.reservation.service.ReservationVO">
        select r.*, p.payment_status_cd "paymentStatusCd", p.payment_method_cd "paymentMethodCd"
        from reservation r, payment p
        where r.payment_id = p.payment_id
        and TO_CHAR(r.START_TIME,'yyyy-MM-dd') = #{starStr}
    </select>

    <update id="updatePaymentCd" parameterType="string">
        update reservation
        set status_cd = 704
        where res_id = #{resId}

    </update>
    <update id="updateId">
        update member_game
        set member_id = #{memberId}
        where member_name = #{memberName}
        and game_id = #{gameId}

    </update>

    <select id="gameInfo" parameterType="string" resultType="com.yedam.tfprj.admin.reservation.service.AdmGameVO">
        select *
        from game
        where game_id = (select r.game_id from reservation r where r.res_id = #{resId})
    </select>


    <select id="homeTeamList" resultType="com.yedam.tfprj.admin.reservation.service.MemberGameVO">
        select *
        from member_game
        where game_id = (select r.game_id from reservation r where r.res_id = #{resId})
        and ground_cd = 1
        order by ground_cd asc,  bat_order asc
    </select>

    <select id="awayTeamList" resultType="com.yedam.tfprj.admin.reservation.service.MemberGameVO">
        select *
        from member_game
        where game_id = (select r.game_id from reservation r where r.res_id = #{resId})
          and ground_cd = 2
        order by ground_cd asc,  bat_order asc
    </select>


    <select id="resInfo" resultType="com.yedam.tfprj.admin.reservation.service.ReservationVO">
        select *
        from reservation r, payment p
        where r.payment_id = p.payment_id
        and r.res_id = #{resId}

    </select>
    <select id="checkId" resultType="java.lang.String" parameterType="string">
        SELECT CASE WHEN COUNT(MEMBER_ID) = 1 THEN 1 ELSE 0 END AS MEMBER_ID
        FROM MEMBER
        WHERE MEMBER_ID = #{memberId}
        and password = #{password}
        and member_name = #{memberName}
    </select>



</mapper>