<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.tfprj.admin.reservation.mapper.AdmReservationMapper">
    <select id="resList" resultType="com.yedam.tfprj.admin.reservation.service.ReservationVO">
        select r.*, p.payment_status_cd "paymentStatusCd", p.payment_method_cd "paymentMethodCd"
        from reservation r, payment p
        where r.payment_id = p.payment_id

    </select>

    <select id="dayResList" resultType="com.yedam.tfprj.admin.reservation.service.ReservationVO">
        select r.*, p.payment_status_cd "paymentStatusCd", p.payment_method_cd "paymentMethodCd"
        from reservation r, payment p
        where r.payment_id = p.payment_id
        and TO_CHAR(r.START_TIME,'yyyy-MM-dd') = #{starStr}
    </select>

</mapper>