<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.tfprj.client.community.mapper.CliFmMapper">

    <select id="CliFmList" resultType="com.yedam.tfprj.client.community.service.fm.CliFmVO">
        SELECT f_no, title, writer, wdate, views, details, (select team_name
                                                            from team
                                                            where team_id =(select team_id
                                                                            from member
                                                                            where member_id = fm_board.writer ))team_name
        FROM fm_board
        <where>
            <if test="title != null and title !=''">
                TITLE LIKE '%' || #{title} || '%'
            </if>
        </where>
        ORDER BY f_no DESC
    </select>

    <update id="CliFmViewCount">
        UPDATE FM_BOARD
        SET VIEWS = VIEWS + 1
        WHERE F_NO = #{fNo}
    </update>

    <select id="CliReplyList" resultType="com.yedam.tfprj.client.community.service.fm.CliFmVO">
        SELECT  C.C_NO, C.CDATE, C.CDETAILS, C.CWRITER, F.F_NO , C.TEAM_NAME
        FROM    FM_ANSWER C, FM_BOARD F
        WHERE   F.F_NO = C.F_NO
          AND     F.F_NO = #{fNo}
        ORDER BY C_NO ASC
    </select>

    <select id="CliFmSelect" resultType="com.yedam.tfprj.client.community.service.fm.CliFmVO"
            parameterType="com.yedam.tfprj.client.community.service.fm.CliFmVO">
        select *
        from fm_board
        where f_no = #{fNo}
    </select>

    <delete id="CliFmDelete"
            parameterType="com.yedam.tfprj.client.community.service.fm.CliFmVO">
        DELETE
        FROM FM_BOARD
        WHERE F_NO = #{fNo}
    </delete>

    <update id="CliFmUpdate"  parameterType="com.yedam.tfprj.client.community.service.fm.CliFmVO">
        update fm_board
        set title   = #{title},
            details = #{details}
        where f_no = #{fNo}
    </update>

    <insert id="CliFmInsert" parameterType="com.yedam.tfprj.client.community.service.fm.CliFmVO">
        INSERT INTO FM_BOARD
        VALUES(fno_seq.nextval, #{title}, #{writer}, current_date, 0, #{details}, #{teamName})
    </insert>

    <insert id="CliFmAnswerInsert" parameterType="com.yedam.tfprj.client.community.service.fm.CliFmVO">
        INSERT INTO FM_ANSWER
        VALUES(fcno_seq.nextval, current_date, #{cdetails}, #{writer}, #{fNo}, #{teamName})
    </insert>

    <delete id="CliFmAnswerDelete" parameterType="com.yedam.tfprj.client.community.service.fm.CliFmVO">
        DELETE FROM FM_ANSWER
        WHERE C_NO = #{cNo}
    </delete>

</mapper>
