<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.tfprj.client.league.mapper.CliLeagueMapper">
    <select id="getLeagueList" resultType="com.yedam.tfprj.client.league.service.LeagueVO">
        select *
        from league
        order by start_date desc
    </select>

    <select id="getLeagueDetail" resultType="com.yedam.tfprj.client.league.service.LeagueVO" parameterType="int">
        select  *
        from    league
        where   league_id = #{lno}
    </select>

    <insert id="submitLeagueApply" parameterType="com.yedam.tfprj.client.league.service.LeagueApplyVO">
        insert into league_apply
        values (seq_league_apply.nextVal, #{leagueId}, #{teamMember}, #{isApprove}, #{memberId}, #{entryFee}, #{teamId})
    </insert>

    <select id="isLeagueApply" resultType="com.yedam.tfprj.client.league.service.LeagueApplyVO" parameterType="com.yedam.tfprj.client.league.service.LeagueApplyVO">
        select * from league_apply
        where member_id = #{memberId}
        and league_id = #{leagueId}
    </select>

  </mapper>