<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.tfprj.client.community.mapper.CliQnaMapper">

    <select id="CliQnaList" resultType="com.yedam.tfprj.client.community.service.qna.CliQnaVO">
        SELECT *
        FROM qna_board
        ORDER BY q_no ASC
    </select>

    <select id="CliReplyList" resultType="com.yedam.tfprj.client.community.service.qna.CliQnaVO">
        SELECT  C.C_NO, C.CDATE, C.CDETAILS, C.CWRITER, Q.Q_NO
        FROM    QNA_ANSWER C, QNA_BOARD Q
        WHERE   Q.Q_NO = C.Q_NO
          AND     Q.Q_NO = #{qNo}
        ORDER BY C_NO ASC
    </select>

    <select id="CliQnaSelect" resultType="com.yedam.tfprj.client.community.service.qna.CliQnaVO"
            parameterType="com.yedam.tfprj.client.community.service.qna.CliQnaVO">
        select *
        from qna_board
        where q_no = #{qNo}
    </select>

    <delete id="CliQnaDelete"
            parameterType="com.yedam.tfprj.client.community.service.qna.CliQnaVO">
        DELETE
        FROM QNA_BOARD
        WHERE Q_NO = #{qNo}
    </delete>

    <update id="CliQnaUpdate"  parameterType="com.yedam.tfprj.client.community.service.qna.CliQnaVO">
        update qna_board
        set title   = #{title},
            details = #{details}
        where q_no = #{qNo}
    </update>

    <insert id="CliQnaInsert" parameterType="com.yedam.tfprj.client.community.service.qna.CliQnaVO">
        INSERT INTO QNA_BOARD
        VALUES(qno_seq.nextval, #{title}, #{writer}, sysdate, 0, #{details})
    </insert>

    <insert id="CliQnaAnswerInsert" parameterType="com.yedam.tfprj.client.community.service.qna.CliQnaVO">
        INSERT INTO QNA_ANSWER
        VALUES(qcno_seq.nextval, sysdate, #{cdetails}, #{writer}, #{qNo})
    </insert>

    <delete id="CliQnaAnswerDelete" parameterType="com.yedam.tfprj.client.community.service.qna.CliQnaVO">
        DELETE FROM QNA_ANSWER
        WHERE C_NO = #{cNo}
    </delete>
</mapper>