<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.tfprj.client.member.mapper.MemberMapper">

    <insert id="insertClient"
            parameterType="com.yedam.tfprj.client.member.service.MemberVO">

        INSERT INTO MEMBER
            (member_id, password, member_name, tel)
        VALUES (#{memberId}, #{password}, #{memberName}, #{tel})
    </insert>

    <select id="selectMember"
            parameterType="com.yedam.tfprj.client.member.service.MemberVO"
            resultType="com.yedam.tfprj.client.member.service.MemberVO">
        SELECT *
        FROM MEMBER
        WHERE MEMBER_ID = #{memberId}
          AND PASSWORD = #{password}
    </select>


</mapper>