<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.tfprj.client.member.mapper.MemberMapper">

    <insert id="insertMember" parameterType="com.yedam.tfprj.client.member.service.MemberVO">
        INSERT INTO MEMBER
            (member_id, password, member_name, tel)
        VALUES (#{memberId}, #{password}, #{memberName}, #{tel})
    </insert>

    <select id="selectMember"
            parameterType="com.yedam.tfprj.client.member.service.MemberVO"
            resultType="com.yedam.tfprj.client.member.service.MemberVO">
        SELECT *
        FROM MEMBER
        WHERE MEMBER_ID = #{memberId}
        <if test="password != null">
            AND PASSWORD = #{password}
        </if>
    </select>
    <select id="findOne"
            parameterType="com.yedam.tfprj.client.member.service.MemberVO"
            resultType="com.yedam.tfprj.client.member.service.MemberVO">
        SELECT *
        FROM MEMBER
        WHERE MEMBER_ID = #{memberId}
    </select>

    <select id="selectAll" resultType="com.yedam.tfprj.client.member.service.MemberVO">
        SELECT *
        FROM MEMBER
    </select>

    <update id="updateMember" parameterType="com.yedam.tfprj.client.member.service.MemberVO">
        UPDATE MEMBER
        SET PASSWORD = #{password},
            TEL      = #{tel}
        WHERE MEMBER_ID = #{memberId}
    </update>

    <update id="updateMember2" parameterType="com.yedam.tfprj.client.member.service.MemberVO">
        UPDATE MEMBER
        SET TEAM_ID = #{teamId}
        WHERE MEMBER_ID = #{memberId}
    </update>

    <select id="selectGame" parameterType="com.yedam.tfprj.client.member.service.MemberVO"
            resultType="com.yedam.tfprj.admin.reservation.service.MemberGameVO">
        SELECT*
        FROM MEMBER_GAME
        WHERE MEMBER_ID = #{memberId}
        AND BAT_COUNTS IS NOT NULL
        ORDER BY RES_DATE DESC
    </select>

    <select id="searchMember" parameterType="com.yedam.tfprj.client.member.service.MemberVO"
            resultType="com.yedam.tfprj.client.member.service.MemberVO">
        SELECT*
        FROM MEMBER
        WHERE MEMBER_ID LIKE '%' || #{memberId} || '%'
    </select>

    <select id="isTeam" parameterType="com.yedam.tfprj.client.member.service.MemberVO"
            resultType="com.yedam.tfprj.client.member.service.MemberVO">
        SELECT*
        FROM MEMBER
        WHERE TEAM_ID IN (select team_id from member where member_id = #{memberId})
    </select>

    <update id="gradeUpdate" parameterType="com.yedam.tfprj.client.member.service.MemberVO">
        UPDATE MEMBER
        SET GRADE = #{grade}
        WHERE MEMBER_ID = #{memberId}
    </update>

    <select id="findAll" resultType="com.yedam.tfprj.client.member.service.MemberVO">
        SELECT ROWNUM, A.*
        FROM (SELECT*FROM MEMBER ORDER BY GRADE) A
    </select>

    <select id="findBlack" resultType="com.yedam.tfprj.client.member.service.MemberVO">
        SELECT ROWNUM, A.*
        FROM (SELECT*FROM MEMBER ORDER BY GRADE) A
        WHERE BLACKLIST_YN != 0
    </select>

    <update id="blackUpdate" parameterType="com.yedam.tfprj.client.member.service.MemberVO">
        UPDATE MEMBER
        SET BLACKLIST_YN     = #{blacklistYn},
            BLACKLIST_REASON = ''
        WHERE MEMBER_ID = #{memberId}
    </update>

    <select id="teamMember" resultType="com.yedam.tfprj.client.member.service.MemberVO">
        SELECT *
        FROM MEMBER
        WHERE TEAM_ID = #{teamId}
    </select>

    <update id="reasonUpdate" parameterType="com.yedam.tfprj.client.member.service.MemberVO">
        UPDATE MEMBER
        SET BLACKLIST_YN     = #{blacklistYn},
            BLACKLIST_REASON = #{blacklistReason}
        WHERE MEMBER_ID = #{memberId}
    </update>

    <select id="admSearchMember" parameterType="com.yedam.tfprj.client.member.service.MemberVO"
            resultType="com.yedam.tfprj.client.member.service.MemberVO">
        SELECT ROWNUM, A.*
        FROM (SELECT*FROM MEMBER ORDER BY GRADE) A
        WHERE MEMBER_ID LIKE '%' || #{memberId} || '%'
    </select>

    <update id="releaseTeam" parameterType="com.yedam.tfprj.client.member.service.MemberVO">
        UPDATE MEMBER
        SET TEAM_ID = 0
        WHERE MEMBER_ID = #{memberId}
    </update>
</mapper>