<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.tfprj.client.message.mapper.MsgMapper">

    <select id="getMessage" parameterType="com.yedam.tfprj.client.message.service.MessageVO"
            resultType="com.yedam.tfprj.client.message.service.MessageVO">
        SELECT *
        FROM MESSAGE
        WHERE MEMBER_ID = #{memberId}
        ORDER BY MSGTIME DESC
    </select>

    <select id="getTeamMsg" parameterType="com.yedam.tfprj.client.message.service.MessageVO"
            resultType="com.yedam.tfprj.client.message.service.TeamMsgVO">
        SELECT *
        FROM MESSAGE
        WHERE MEMBER_ID = #{memberId}
          AND IS_MESSAGE_CD = #{isMessageCd}
    </select>

    <insert id="insertTeamMsg" parameterType="com.yedam.tfprj.client.message.service.MessageVO">
        INSERT INTO MESSAGE
        VALUES (MESSAGE_SEQ.nextval, current_date, 0, #{messageContents}, 1006, #{memberId}, #{temp})
    </insert>

    <select id="getAttendMsg" parameterType="com.yedam.tfprj.client.message.service.MessageVO"
            resultType="com.yedam.tfprj.client.message.service.AttendMsgVO">
        SELECT *
        FROM MESSAGE
        WHERE MEMBER_ID = 'admin'
          AND IS_MESSAGE_CD = #{isMessageCd}
    </select>

    <insert id="insertAttendMsg" parameterType="com.yedam.tfprj.client.message.service.MessageVO">
        INSERT INTO MESSAGE
        VALUES (MESSAGE_SEQ.nextval, current_date, 0, #{messageContents}, 1001, 'admin', #{temp})
    </insert>

    <update id="isChkUpdate" parameterType="com.yedam.tfprj.client.message.service.MessageVO">
        UPDATE MESSAGE
        SET IS_CHK = 1
        WHERE MEMBER_ID = #{memberId}
        AND IS_CHK = 0
    </update>

    <update id="invResUpdate" parameterType="com.yedam.tfprj.client.message.service.MessageVO">
        UPDATE MESSAGE
        SET IS_CHK = 2
        WHERE message_id = #{messageId}
    </update>

    <insert id="insertTodoMsg">
        INSERT INTO MESSAGE
        VALUES (MESSAGE_SEQ.nextval, current_date, 0, #{messageContents}, 1003, #{memberId}, #{temp})
    </insert>
</mapper>