<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.tfprj.admin.community.mapper.AdmNoticeMapper">


    <!-- 전체조회  -->
    <select id="AdmNoticeList" resultType="com.yedam.tfprj.admin.community.service.AdmNoticeVO">
        SELECT n_no, title, wdate, views
        FROM notice_board
        ORDER BY n_no ASC
    </select>

    <select id="AdmNoticeSelect" resultType="com.yedam.tfprj.admin.community.service.AdmNoticeVO"
            parameterType="com.yedam.tfprj.admin.community.service.AdmNoticeVO">
        select n_no, wdate, title, details
        from notice_board
        where n_no = #{nNo}
    </select>

    <delete id="AdmNoticeDelete"
            parameterType="com.yedam.tfprj.admin.community.service.AdmNoticeVO">
        DELETE
        FROM NOTICE_BOARD
        WHERE N_NO = #{nNo}
    </delete>

    <update id="AdmNoticeUpdate"  parameterType="com.yedam.tfprj.admin.community.service.AdmNoticeVO">
        update notice_board
        set title   = #{title},
            details = #{details}
        where n_no = #{nNo}
    </update>

</mapper>
