<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.tfprj.admin.worksheet.mapper.WorksheetMapper">

    <select id="sheetList" resultType="com.yedam.tfprj.admin.worksheet.service.WorksheetVO">
        SELECT *
        FROM WORKSHEET
    </select>

    <select id="worksheetList" resultType="com.yedam.tfprj.admin.worksheet.service.WorksheetVO">
        SELECT worksheet_no, work_dt, worker_id, position_cd, user_type, going_time, quitting_time
        FROM WORKSHEET
        WHERE work_dt IN(trunc(current_date,'d'), trunc(current_date,'d')+1, trunc(current_date,'d')+2, trunc(current_date,'d')+3, trunc(current_date,'d')+4, trunc(current_date,'d')+5, trunc(current_date,'d')+6)
    </select>

    <select id="sheetValidation" resultType="com.yedam.tfprj.admin.worksheet.service.WorksheetVO">
        SELECT work_dt
        FROM worksheet
        WHERE
        <![CDATA[work_dt >= TO_DATE(#{firstDate},'YYYY-MM-DD')]]>
        AND
        <![CDATA[work_dt < TO_DATE(#{lastDate},'YYYY-MM-DD')+1]]>
    </select>

    <update id="updateWorksheet">
        UPDATE worksheet
        SET worker_Id = #{workerId}, color = #{color}, textColor = #{textColor}, backgroundColor = #{backgroundColor}
        where going_time = TO_DATE(#{goingTime},'YYYY-MM-DD hh24:mi')
        and   quitting_time = TO_DATE(#{quittingTime}, 'YYYY-MM-DD hh24:mi')
    </update>

    <insert id="insertWorksheet" parameterType="com.yedam.tfprj.admin.worksheet.service.WorkerArrVO">
        insert into worksheet(worksheet_no, work_dt, worker_id, position_cd, user_type, going_time, quitting_time)
        values(SEQ_WORKSHEET.nextval, to_date(#{realDate}, 'yyyy-mm-dd'), #{workerId}, #{positionCd}, #{userType}, #{goingTime}, #{quittingTime})
    </insert>

    <select id="validateWorkTime" resultType="com.yedam.tfprj.admin.worksheet.service.WorksheetVO">
        select worker_id, work_dt ,going_time, quitting_time from worksheet
        where worker_id = #{workerId}
        and to_date(going_time, 'yy-MM-dd') = to_date(current_date, 'yy-MM-dd')
    </select>

    <select id="selectNextWorker" resultType="com.yedam.tfprj.admin.worksheet.service.NewWorkSheetVO">
        SELECT *
        FROM WORKSHEET
        ORDER BY GOING_TIME
    </select>

    <select id="yesterDayWorker" resultType="com.yedam.tfprj.admin.worksheet.service.NewWorkSheetVO">
        SELECT DISTINCT TO_CHAR(CURRENT_DATE - 1, 'YY-MM-DD') AS dated, worker_Id
        FROM WORKSHEET
    </select>

    <update id="updateWeekend">
        update worksheet
        set worker_id = 'admin',
            color = '#FF0000'
        where TO_CHAR(work_dt, 'YYYY-MM-DD') BETWEEN #{firstDate} AND #{lastDate}
          AND TO_CHAR(work_dt, 'D') In(1,7)
    </update>

    <delete id="deleteCalendar">
        DELETE WORKSHEET
        WHERE TO_CHAR(WORK_DT, 'YYYY-MM-DD') BETWEEN #{firstDate} AND #{lastDate}
    </delete>

    <select id="checkDateBeforeDelete" resultType="com.yedam.tfprj.admin.worksheet.service.WorksheetVO">
        SELECT *
        FROM WORKSHEET
        WHERE TO_CHAR(WORK_DT, 'YYYY-MM-DD') BETWEEN #{firstDate} AND #{lastDate}
    </select>

</mapper>

