<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/adm_layout">
<body>

<th:block layout:fragment="content">

    <t-h1 ko="리그조회" en="LEAGUE-DETAIL"></t-h1>


    <div class="row" >
        <!-- league 상세정보 -->
        <div class="col-6">
            <!-- league 정보 출력 -->
            <t-h2 th:ko="${l.getLeagueVO().getLeagueName()}"></t-h2>
            <input type="hidden" th:value="${l.getLeagueVO().getLeagueId()}" id="leagueId">
            <ul>
                <li>
                    <span>리그명 : </span><span th:text="${l.getLeagueVO().getLeagueName()}"></span>
                </li>
                <li>
                    <span>상태 : </span><convert-c-code th:data="${l.getLeagueVO().getLeagueStatusCd()}"></convert-c-code></li>
                </li>
                <li>
                    <span></span>
                    <span th:text="${l.getLeagueVO().getParticipationMember()}"></span>
                </li>
                <li>
                    <span></span>
                    <span th:text="${l.getLeagueVO().getParticipationTeam()}"></span>
                </li>
                <li>
                    <span></span>
                    <span th:text="${l.getLeagueVO().getEntryFee()}"></span>
                </li>
                <li>
                    <span></span>
                    <span th:text="${l.getLeagueVO().getStartDate()}"></span>
                    <span th:text="${l.getLeagueVO().getEndDate()}"></span>
                </li>
                <li>
                    <span></span>
                    <span th:text="${l.getLeagueVO().getPrizeGood()}"></span>
                </li>
                <li>
                    <span></span>
                    <span th:text="${l.getLeagueVO().getPrizeMoney()}"></span>
                </li>
            </ul>

            <!-- league 신청한 팀 목록 -->
            <t-h2 ko="신청목록"></t-h2>
            <div id="tournament-table">
                <ul class="a-list">
                    <li th:each="m:${l.getLeagueApplyTeam()}">
                        <span th:text="${m.getTeamName()}"></span>
                        <span th:text="${m.getTeamId()}"></span>
                        <span th:text="${m.getWin()}"></span>
                        <span th:text="${m.getTotalGameCnt()}"></span>
                        <span th:text="${m.getLeader()}"></span>
                        <span th:text="${'isapprove : ' + m.getIsApprove()}"></span>
                        <button class="c-button">리그 참가승인</button>
                    </li>
                </ul>
            </div>
        </div>
        <!-- league 대진표 -->
        <div class="col-6" >
            <!-- 대진표 -->
            <t-h2 ko="대진표"></t-h2>

            <!-- 참가 승인된 팀 목록 -->
            <t-h2 ko="리그 참가 팀 목록"></t-h2>
            <ul id="league_team" class="a-list">
                <li th:each="m:${l.getLeagueApplyApproveTeam()}">
                    <span th:text="${m.getTeamName()}"></span>
                    <span th:text="${m.getTeamId()}"></span>
                    <span th:text="${m.getWin()}"></span>
                    <span th:text="${m.getTotalGameCnt()}"></span>
                    <span th:text="${m.getLeader()}"></span>
                    <span th:text="${'isapprove : ' + m.getIsApprove()}"></span>
                </li>
            </ul>

        </div>
    </div>

    <script>
        let tg = document.querySelector('#tournament-table');

        const loadTeam = () => {
            document.addEventListener('DOMContentLoaded', () => {
                // printApplyTeam();
                // printApplyApproveTeam();
            })
        }
        loadTeam()

        // 리그 신청받은 팀을 출력
        const printApplyTeam = () => {
            let ld = document.querySelector('#leagueId').value;
            // league apply table 에서 데이터 뽑기
            fetch('/adm/getLeagueApply?leagueId=' + ld)
                    .then(res => res.json())
                    .then(res => {
                        console.log(res)
                        let result = res.leagueApplyVOList;
                        let tg = document.querySelector('#tournament-table')
                        // league_id 값 불러오기
                        let leagueId = document.querySelector('#leagueId').value;

                        let ul = document.createElement('ul')
                        ul.setAttribute('class', 'a-list')
                        // 신청한 team 수 많큼 출력
                        result.forEach(l => {
                            let rr = document.createElement('li')
                            rr.innerHTML =  `
                              <div class="row">
                                <div class="col-9">
                                  <team-info teamId="${l.teamId}" leagueId="${leagueId}"></team-info>
                                  <team-info-approve teamId="${l.teamId}" leagueId="${leagueId}"></team-info-approve>
                                </div>
                                <button class="c-button col-3">리그 참가승인</button>
                              </div>
                            `;
                            ul.append(rr)
                        })
                        tg.append(ul)
                    })
        }


        // 리그 참가 팀 확정
        const submitLeagueTeam = () => {
            document.querySelector('#tournament-table').addEventListener('click', () => {

                const tg = event.target;

                if(tg.tagName == 'BUTTON'){

                    let targetNode = tg.parentNode.parentNode;
                    let teamId = targetNode.querySelector('team-info').shadowRoot.querySelector('.info').children[0].value;
                    let leagueId =  document.querySelector('#leagueId').value;

                    let isAppr = targetNode.querySelector('team-info').shadowRoot.querySelector('.info').children[1].value;
                    let teamName = targetNode.querySelector('team-info').shadowRoot.querySelector('.info').children[3].innerText;


                    if(isAppr == 1804) {
                        if(confirm(`${teamName} 리그 참가를 승인하시겠습니까?`)) {

                            let cn = targetNode.cloneNode(true);

                            // league apply 상태 변경 ajax
                            fetch('/adm/setLeagueApplyTeamStatus', {
                                method: 'post',
                                headers: {'Content-type': 'application/json'},
                                body: JSON.stringify({
                                    teamId: 1,
                                    leagueId: 1
                                })
                            })
                            .then(res => res.text())
                            .then(res => console.log(res))

                            // 참가팀 넣기
                            let rr = document.createElement('li')
                            rr.innerHTML =  `
                              <div class="row">
                                <div class="col-12">
                                  <team-info-approve teamId="${teamId}" leagueId="${leagueId}"></team-info-approve>
                                </div>
                              </div>
                            `;
                            league_team.append(rr);

                            targetNode.remove();
                        }
                    }
                    else {
                        alert('참가비 미결제!')
                    }
                }
            })
        }
        submitLeagueTeam()

        // 참가 팀을 랜덤하게 사다리 그리기

        // 대진표 그리기


    </script>

</th:block>

</body>
</html>