<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/adm_layout">
<body>

<th:block layout:fragment="content">

    <t-h1 ko="리그조회" en="LEAGUE-DETAIL"></t-h1>

    <t-h2 th:ko="${l.getLeagueVO().getLeagueName()}"></t-h2>

    <div class="row">
        <!-- league 상세정보 -->
        <div class="col-6">

            <ul>
                <li>
                    <span>리그명 : </span><span th:text="${l.getLeagueVO().getLeagueName()}"></span>
                </li>
                <li>
                    <span>상태 : </span><convert-c-code th:data="${l.getLeagueVO().getLeagueStatusCd()}"></convert-c-code></li>
                </li>
                <li>
                    <span></span>
                    <span th:text="${l.getLeagueVO().getParticipationMember()}"></span>
                </li>
                <li>
                    <span></span>
                    <span th:text="${l.getLeagueVO().getParticipationTeam()}"></span>
                </li>
                <li>
                    <span></span>
                    <span th:text="${l.getLeagueVO().getEntryFee()}"></span>
                </li>
                <li>
                    <span></span>
                    <span th:text="${l.getLeagueVO().getStartDate()}"></span>
                    <span th:text="${l.getLeagueVO().getEndDate()}"></span>
                </li>
                <li>
                    <span></span>
                    <span th:text="${l.getLeagueVO().getPrizeGood()}"></span>
                </li>
                <li>
                    <span></span>
                    <span th:text="${l.getLeagueVO().getPrizeMoney()}"></span>
                </li>
            </ul>

        </div>
        <!-- league 대진표 -->
        <div class="col-6" id="tournament-table">



        </div>
    </div>

    <script>
        let tg = document.querySelector('#tournament-table');

        // 리그 신청받은 팀을 출력
        document.addEventListener('DOMContentLoaded', () => {

            // league apply table 에서 데이터 뽑기



        })

        // 리그 참가 팀 확정

        // 참가 팀을 랜덤하게 사다리 그리기

        // 대진표 그리기


    </script>

</th:block>

</body>
</html>