<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/adm_layout">
<body>

<th:block layout:fragment="content">

    <a-h1 ko="리그조회" en="LEAGUE-DETAIL"></a-h1>


    <div class="row">
        <!-- league 상세정보 -->
        <div class="col-6 a__box os">
            <!-- league 정보 출력 -->
            <div class="h_box">
                <a-h2 ko="리그 정보"></a-h2>
            </div>

            <input type="hidden" th:value="${l.getLeagueVO().getLeagueId()}" id="leagueId">
            <ul class="f16">
                <li>
                    <span>리그명 : </span><span th:text="${l.getLeagueVO().getLeagueName()}"></span>
                </li>
                <li>
                    <span>상태 : </span>
                    <convert-c-code th:data="${l.getLeagueVO().getLeagueStatusCd()}"></convert-c-code>
                </li>
                </li>
                <li>
                    <span></span>
                    <span th:text="${l.getLeagueVO().getParticipationMember()}"></span>
                </li>
                <li>
                    <span></span>
                    <span id="participationTeam" th:text="${l.getLeagueVO().getParticipationTeam()}"></span>
                </li>
                <li>
                    <span></span>
                    <span th:text="${l.getLeagueVO().getEntryFee()}"></span>
                </li>
                <li>
                    <span></span>
                    <span th:text="${l.getLeagueVO().getStartDate()}"></span>
                    <span th:text="${l.getLeagueVO().getEndDate()}"></span>
                </li>
                <li>
                    <span></span>
                    <span th:text="${l.getLeagueVO().getPrizeGood()}"></span>
                </li>
                <li>
                    <span></span>
                    <span th:text="${l.getLeagueVO().getPrizeMoney()}"></span>
                </li>
            </ul>
        </div>

        <div class="col-6 a__box os">
            <!-- league 신청한 팀 목록 -->
            <div class="h_box">
                <a-h2 ko="신청목록"></a-h2>
            </div>

            <div id="tournament-table">
                <table class="table text-center a-table">
                    <thead>
                    <tr>
                        <th>팀이름</th>
                        <th>팀장</th>
                        <th>게임 수</th>
                        <th>승수</th>
                        <th colspan="2"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="m:${l.getLeagueApplyTeam()}">
                        <td th:text="${m.getTeamName()}"></td>
                        <td th:text="${m.getLeader()}"></td>
                        <td th:text="${m.getTotalGameCnt()}"></td>
                        <td th:text="${m.getWin()}"></td>
                        <td>
                            <input type="hidden" th:value="${m.getIsApprove()}">
                            <input type="hidden" th:value="${m.getTeamId()}">
                            <button class="c-button" th:if="${m.getIsApprove() == 1801}">
                                미결제
                            </button>
                            <button class="c-button" th:if="${m.getIsApprove() == 1803}">
                                결제확인
                            </button>
                            <button class="c-button" th:if="${m.getIsApprove() == 1804}">
                                리그 참가승인
                            </button>
                        </td>
                        <td><i class="fas fa-search mt-3"></i></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <!-- league 대진표 -->
        <div class="col-6 a__box os">
            <div id="tm-root">
                <!-- 대진표 -->
                <div class="h_box">
                    <a-h2 ko="대진표"></a-h2>
                </div>

                <div class="tm-r">
                    <ul class="tm-table" id="tm-table1">
                        <!--                        <li th:each="i: ${statusTeam}">-->
                        <!--                            <span th:text="${i.getTeamId()}">맛없는사슴</span>-->
                        <!--                            <input type="hidden" th:value="${i.getLeagueStatus()}" id="">-->
                        <!--                        </li>-->
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-6 a__box os">
            <!-- 참가 승인된 팀 목록 -->
            <div class="h_box">
                <a-h2 ko="참가 팀 목록"></a-h2>
            </div>

            <table class="table text-center a-table">
                <thead>
                <tr>
                    <th>팀이름</th>
                    <th>팀장</th>
                    <th>게임 수</th>
                    <th>승수</th>
                </tr>
                </thead>
                <tbody id="league_team">
                <tr th:each="m:${l.getLeagueApplyApproveTeam()}">
                    <td th:text="${m.getTeamName()}"></td>
                    <td th:text="${m.getLeader()}"></td>
                    <td th:text="${m.getTotalGameCnt()}"></td>
                    <td th:text="${m.getWin()}"></td>
                </tr>
                </tbody>
            </table>
            <div class="button__box">
                <button class="c-button" onclick="makeLeagueStatusTable()">대진표 만들기</button>
            </div>
        </div>

    </div>

    <script>
        // tournament 대진표 그리기
        const drawTable = () => {

            // league participation size 불러오기
            let leagueId = document.querySelector('#leagueId').value;
            let r = document.querySelector('#tm-root');
            let rr = document.querySelector('.tm-r');

            // ajax 로 league 팀 상태 불러오기
            const getLeagueStatusTeamList = (leagueId) => {
                fetch('/adm/getLeagueStatusTeamList?leagueId=' + leagueId)
                    .then(res => res.json())
                    .then(res => {
                        console.log(res)

                        // line 갯수 체크용
                        let lineChk = 0;
                        // line width 값 계산용
                        let lineWidth = 0;
                        let resLength = res.length;

                        res.forEach(game => {
                            console.log(game)

                            if(lineChk > 0) {
                                lineWidth = 50 / game.game.length;

                                let line = document.createElement('div')
                                line.setAttribute('class', 'line-box')
                                for(let i =0; i<game.game.length; i++) {
                                    // path 만들기
                                    let div = document.createElement('div')
                                    div.style.width = lineWidth + '%';
                                    div.innerHTML = `
                                        <svg width="100%" height="20" xmlns="http://www.w3.org/2000/svg">
                                          <g>
                                            <line stroke-width="2" x1="0" x2="1000" y1="9" y2="9" stroke="#222222" fill="#222222" />
                                          </g>
                                        </svg>
                                    `
                                    line.append(div);
                                }

                                rr.append(line);
                            }

                            let ul = document.createElement('ul')
                            ul.setAttribute('class', 'tm-table')

                            // 첫줄에 ::before 없애기
                            if(lineChk == 0) {
                                ul.classList.add('nbl')
                            }
                            if(lineChk == resLength-1) {
                                ul.classList.add('lastbl')
                            }

                            game.game.forEach(l => {
                                console.log(l)

                                let li = document.createElement('li')
                                li.innerText = l.teamId;
                                ul.append(li)
                            })

                            rr.append(ul)

                            lineChk++;

                        })

                        // ouput 출력

                    })
            }

            getLeagueStatusTeamList(leagueId);
        }


        let tg = document.querySelector('#tournament-table');

        // 실행
        const loadTeam = () => {
            document.addEventListener('DOMContentLoaded', () => {
                // printApplyTeam();

                submitLeagueTeam();
                viewInfo();
                drawTable();
            })
        }
        loadTeam()

        //
        const viewInfo = () => {
            document.querySelector('#tournament-table').addEventListener('mouseover', () => {
                const tg = event.target;

                if (tg.tagName == 'I') {

                    tg.parentNode.setAttribute('class', 'mo-rm')

                    // 결제 테이블에서 결제정보 조회
                    let div = document.createElement('div')
                    div.innerText = 'hi!!'
                    div.setAttribute('class', 'mo-modal')

                    tg.parentNode.append(div)

                }
            })
            document.querySelector('#tournament-table').addEventListener('mouseout', () => {
                const tg = event.target;

                if (tg.tagName == 'I') {

                    tg.parentNode.removeAttribute('class')

                    // 결제 테이블에서 결제정보 조회
                    let div = tg.parentNode.children[1]
                    div.remove()

                }
            })
        }

        // 리그 참가 팀 확정
        const submitLeagueTeam = () => {
            document.querySelector('#tournament-table').addEventListener('click', () => {

                const tg = event.target;

                if (tg.tagName == 'BUTTON') {

                    let targetNode = tg.parentNode.parentNode;
                    let teamId = tg.parentNode.children[1].value;
                    let teamName = targetNode.children[0].innerText;
                    let leagueId = document.querySelector('#leagueId').value;

                    let isAppr = tg.parentNode.children[0].value;

                    console.log(targetNode)
                    console.log(teamId)
                    console.log(leagueId)
                    console.log(isAppr)

                    // let teamName = targetNode.querySelector('team-info').shadowRoot.querySelector('.info').children[3].innerText;


                    if (isAppr === '1804') {
                        if (confirm(`[${teamName}] 리그 참가를 승인하시겠습니까?`)) {

                            let cn = targetNode.cloneNode(true);

                            // league apply 상태 변경 ajax
                            fetch('/adm/setLeagueApplyTeamStatus', {
                                method: 'post',
                                headers: {'Content-type': 'application/json'},
                                body: JSON.stringify({
                                    teamId: teamId,
                                    leagueId: leagueId
                                })
                            })
                                .then(res => res.text())
                                .then(res => console.log(res))

                            // 참가팀 넣기
                            cn.children[4].remove()
                            cn.children[4].remove()
                            console.log(cn)
                            league_team.append(cn);

                            targetNode.remove();
                        }
                    } else {
                        // 1801, 1803
                        console.log(isAppr)
                        if (isAppr === '1803') {
                            if (confirm('결제를 확인했습니다.')) {
                                // 1803 -> 1804 로 상태 변환
                                fetch('/adm/setLeagueApplyTeamStatus', {
                                    method: 'post',
                                    headers: {'Content-type': 'application/json'},
                                    body: JSON.stringify({
                                        teamId: teamId,
                                        leagueId: leagueId
                                    })
                                })
                                    .then(res => res.text())
                                    .then(res => console.log(res))
                                location.reload();
                            }
                        } else {
                            alert('미결제!')
                        }
                    }
                }
            })
        }


        // 대진표 생성 버튼 클릭 시
        const makeLeagueStatusTable = () => {

            let leagueId = document.querySelector('#leagueId').value;
            let participationTeam = document.querySelector('#participationTeam').innerText;

            let tg = document.querySelectorAll('#league_team > tr > td:nth-child(1)');

            // index 용 배열 생성
            let b = tg.length;
            let chkArr = [];

            while (b > 1) {
                b = Math.floor(b / 2) + Math.floor(b % 2);
                chkArr.push(b);
                console.log(chkArr);
            }

            // index 배열에 맞춰 league_status insert
            // 전체 게임 수 만큼 insert 함
            if (tg.length < participationTeam) {
                alert('참가 팀 수가 적습니다!')
            } else {
                if(confirm('대진표를 생성합니다. (대진표 생성 후 리그 취소 불가!)')) {
                    // 전달될 parameter 값
                    let teamIdList = [];
                    // leagueId, participateTeam 정보 입력
                    teamIdList.push({'leagueId': leagueId});
                    teamIdList.push({'status': participationTeam});

                    // console.log(tg)
                    // 승인된 팀 정보 parameter 에 입력
                    let cnt = 1;
                    tg.forEach(i => {
                        teamIdList.push({'teamId': i.innerText, 'gameCnt': cnt});
                        cnt++;
                    })
                    // 승인된 팀 정보 외 앞으로 치뤄야할 경기 수 만큼 입력
                    chkArr.forEach(index => {
                        for (let i = 0; i < index; i++) {
                            teamIdList.push({'teamId': '-', 'gameCnt': cnt});
                            cnt++;
                        }
                    })

                    console.log(teamIdList)

                    // 승인된 팀값 전달하기
                    fetch('/adm/getLeagueStatusTableTeam', {
                        method: 'post',
                        headers: {'Content-type': 'application/json'},
                        body: JSON.stringify(teamIdList)
                    })
                        .then(res => res.text())
                        .then(res => console.log(res))

                    // 새로고침
                    location.reload();
                }

            }

        }


    </script>

</th:block>

</body>
</html>