<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/adm_layout">

<body>

<th:block layout:fragment="content">

  <a-h1 ko="리그관리" en="LEAGUE"></a-h1>
  <div class="row" id="output">

    <div class="col">

      <div class="row justify-content-end">
        <div class="col-2">
          <button class="c-button" id="addLeague">리그생성</button>
        </div>
      </div>

      <t-h2 ko="현재 진행 중 리그"></t-h2>
      <table class="table">
        <tbody th:each="l, status: ${l.currentList}">
        <tr>
          <td><span th:text="${l.leagueId}">리그ID</span></td>
          <td>
            <h4 class="h4" th:text="${l.leagueName}">리그명</h4>
            <convert-c-code th:data="${l.leagueStatusCd}"></convert-c-code>
            <br>
            <!--          <span>등록일</span><span th:text="${#dates.format(l.rgstDate, 'yyyy-MM-dd')}">등록일</span><br>-->
            <span th:text="${#dates.format(l.startDate, 'yyyy-MM-dd') + ' - ' + #dates.format(l.endDate, 'yyyy-MM-dd')}">시작일</span><br>
            <span>상금 : </span><span th:text="${l.prizeMoney}">상금</span><br>
            <!--          <span th:text="${l.leagueStatusCd}">리그상태코드</span><br>-->
            <!--          <span th:text="${l.tournamentId}">토너먼트ID</span><br>-->
            <span th:text="${'참가비 : ' + l.entryFee}">참가비</span><br>
            <span th:text="${l.winningTeam}">승리팀</span><br>
          </td>
        </tr>
        </tbody>
      </table>

      <t-h2 ko="지난 리그"></t-h2>
      <table class="table">
        <tbody th:each="l, status: ${l.passedList}">
        <tr>
          <td><span th:text="${l.leagueId}">리그ID</span></td>
          <td>
            <h4 class="h4" th:text="${l.leagueName}">리그명</h4>
            <convert-c-code th:data="${l.leagueStatusCd}"></convert-c-code>
            <br>
            <!--          <span>등록일</span><span th:text="${#dates.format(l.rgstDate, 'yyyy-MM-dd')}">등록일</span><br>-->
            <span th:text="${#dates.format(l.startDate, 'yyyy-MM-dd') + ' - ' + #dates.format(l.endDate, 'yyyy-MM-dd')}">시작일</span><br>
            <span>상금 : </span><span th:text="${l.prizeMoney}">상금</span><br>
            <!--          <span th:text="${l.leagueStatusCd}">리그상태코드</span><br>-->
            <!--          <span th:text="${l.tournamentId}">토너먼트ID</span><br>-->
            <span th:text="${'참가비 : ' + l.entryFee}">참가비</span><br>
            <span th:text="${l.winningTeam}">승리팀</span><br>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
    <!-- 이곳에 리그생성 페이지 추가됨 -->

  </div>


  <script>

    // 리그 생성 페이지 출력
    addLeague.addEventListener('click', () => {
      console.log();
      if (output.children.length != 2) {
        let c = document.createElement('div')
        c.setAttribute('class', 'col-4')

        c.innerHTML = `
                        <t-h2 ko="리그 생성하기"></t-h2>
                        <form onsubmit="" class="" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="리그명">
                            </div>
                            <div class="form-group">
                                <label for="room">구장선택</label>
                                <select name="room" id="room">
                                    <option value="">선 택</option>
                                    <option value="">1번 구장</option>
                                    <option value="">2번 구장</option>
                                    <option value="">3번 구장</option>
                                    <option value="">4번 구장</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="file" class="form-control" placeholder="우승 트로피">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="참가비">
                            </div>
                            <div class="form-group">
                                <input type="button" value="🔻">
                                <input type="text" value="4">
                                <input type="button" value="🔺">
                            </div>
                            <div class="form-group">
                                <input type="date">
                                <span> - </span>
                                <input type="date">
                            </div>
                        </form>
                        <div class="button__box">
                            <button class="c-button">취소하기</button>
                            <button class="c-button">리그생성</button>
                        </div>
                    `

        output.append(c);
      } else {
        output.children[1].remove()
      }
    })

    // 리그 생성 validate


  </script>

</th:block>

</body>
</html>