<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/cli_layout}">


<th:block layout:fragment="content">
    <style>
        .title{
            width        : 100px;
            text-overflow: ellipsis;
            white-space  : nowrap;
            overflow     : hidden;
        }
    </style>
    <t-h1 en="FM" ko="친선경기"></t-h1>

    <form>
        <div class="mt20">
            <input class="form-control" type="text" th:value="${cliFmVO.title}"
                   onclick="this.select()"
                   name="title" placeholder="제목을 입력하세요"/>
            <div class="button__box">
                <button class="c-button" type="submit"><i class="fa-solid fa-magnifying-glass"></i> Search</button>
            </div>
        </div>
    </form>

    <form th:id="details" method="post">
        <table class="table f14 mt20">
            <thead>
            <tr>
                <th>no</th>
                <th>제목</th>
                <th>작성일</th>
                <th>팀명</th>
            </tr>
            </thead>
            <tbody>
            <div id="fm">
                <tr th:attr="onclick=|callDetails('${fm.fNo}')|" th:each="fm : ${pageInfo.list}">
                    <td th:text="${fm.fNo}"></td>
                    <td th:if="${#strings.length(fm.title) > 12}" th:text="${#strings.substring(fm.title, 0, 12) + '...'}" class="title"></td>
                    <td th:if="${#strings.length(fm.title) <= 12}" th:text="${#strings.substring(fm.title, 0, #strings.length(fm.title))}" class="title"></td>
                    <td th:text="${#strings.substring(fm.wdate, 0, 10)}"></td>
                    <td th:text="${fm.teamName}"></td>
                </tr>
            </div>
            </tbody>
        </table>
        <input th:type="hidden" th:id="fNo" th:name="fNo">
    </form>

    <!-- 페이징 -->
    <nav>
        <ul class="pagination">
            <!-- getPrePage : 이전 페이지 -->
            <li class="page-item" th:classappend="${pageInfo.getPrePage() == 0} ? 'disabled'">
                <a th:href="@{fm(pageNum=${pageInfo.getPrePage()})}"><i class="fa-solid fa-angle-left"></i></a>
            </li>
            <!-- getNavigateFirstPage() : 페이징의 처음 숫자 getNavigateLastPage : 페이징의 마지막 숫자를 이용해 페이징 숫자 출력 -->
            <li class="page-item" th:each="page: ${#numbers.sequence(pageInfo.getNavigateFirstPage(), pageInfo.getNavigateLastPage())}"
                th:classappend="${page == pageInfo.getPageNum()} ? 'active'">
                <a th:text="${page}" th:href="@{fm(pageNum=${page})}"></a>
            </li>
            <!-- getPrePage : 다음 페이지 -->
            <li class="page-item" th:classappend="${pageInfo.getNextPage() == 0} ? 'disabled'">
                <a th:href="@{fm(pageNum=${pageInfo.getNextPage()})}"><i class="fa-solid fa-angle-right"></i></a>
            </li>
        </ul>
    </nav>


    <div class="button__box">
        <button class="c-button" onclick="location.href = '/cli/fmWrite'" th:if="${session.memberId ne null}">작성</button>
    </div>

    <script>
        function callDetails(n) {
            details.fNo.value = n;
            details.action = "/cli/fmDetail";
            details.submit();
        }
    </script>
</th:block>

</html>

