<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/cli_layout}">


<th:block layout:fragment="content">
    <t-h1 en="FM" ko="친선경기"></t-h1>

<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"-->
<!--          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">-->


        <form th:id="details" method="post" action="/cli/fmUpdate">

                <table th:each="f, status : ${fm}" class="table f14" id="frm">
                    <tr>
                        <th>글번호</th>
                        <td th:text="${f.fNo}"></td>
                        <th>작성자</th>
                        <td th:text="${f.writer}"></td>
                        <th>작성일자</th>
                        <td th:text="${#strings.substring(f.wdate, 0, 10)}" ></td>
                    </tr>
                    <tr>
                        <th>제목</th>
                        <td th:text="${f.title}" colspan="6" ></td>
                    </tr>
                    <tr>
<!--                        <th>내용</th>-->
                        <td th:utext="${f.details}" colspan="6">
                        <textarea id="details" name="details" class="form-control" rows="10" cols="80"
                                  required="required">
                        </textarea>
                        </td>
                    </tr>
                    <input type="hidden" id="fNo" name="fNo" th:value="${f.fNo}">
                    <input type="hidden" id="title" name="title" th:value="${f.title}">
                    <input type="hidden" id="wdate" name="wdate" th:value="${f.wdate}">
                    <input type="hidden" id="views" name="views" th:value="${f.views}">
                    <input type="hidden" id="fdetails" name="details" th:value="${f.details}">
                    <input type="hidden" id="writer" name="writer" th:value="${f.writer}">
                </table>

            <input th:type="hidden" th:id="fNo" th:name="fNo">
        </form>

    <div class="button__box">
        <button class="c-button" onclick="location.href = '/cli/fm'">뒤로가기</button>

        <button class="c-button" th:onclick="|location.href = '@{/cli/fmDelete?fNo={no}(no=${fm.fNo})}'|" th:if="${session.memberId == fm.writer}">삭제</button>
        <button class="c-button" id="submitFrm" th:if="${session.memberId == fm.writer}">수정</button>
    </div>

    <t-h2 ko="답글"></t-h2>

    <form>
        <table id="table2" class="table mt20 f14">
            <tbody>
            <tr id="fm" th:attr="onclick=|callDetails('${re.cNo}')|" th:each="re : ${reply}">
                <td>
                    <span th:text="${re.cdetails + ' [ ' +re.cwriter + ' ]'}"></span><i th:if="${session.memberId == re.cwriter}" th:onclick="|location.href = '@{/cli/fmAnswerDelete?cNo={no}(no=${re.cNo})}'|" class="fa-solid fa-delete-left del-comm"></i><br>
                    <span th:text="${#strings.substring(re.cdate, 0, 10) + '에 작성되었습니다.' }"></span>

                </td>
            </tr>
            </tbody>
        </table>
        <input th:type="hidden" th:id="fNo" th:name="fNo">
    </form>

    <form method="post" action="/cli/fmAnswerInsert" th:if="${session.memberId ne null}">
        <div class="mt12">
            <textarea class="form-control" rows="5" name="cdetails" id="cdetails"
                      placeholder="내용을 입력해 주세요"></textarea>
        </div>
        <div class="button__box">
            <input type="submit" class="c-button" id="btnSave" value="작성">
        </div>
        <input type="hidden" name="fNo" th:value="${fm.fNo}">
    </form>






    <script>

        submitFrm.addEventListener('click', () => {
            details.submit()
        })

    </script>

</th:block>
</body>
</html>
